{% extends 'crud/base.html' %}
{% block content %}
{% load humanize %}
{% load widget_tweaks %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'myapp:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'myapp:orderinglist' %}">受注情報一覧・検索</a></li>
            <li class="breadcrumb-item active" aria-current="page">受注情報新規登録</li>
        </ol>
    </nav>
	<div class="form-group">
        <form method="post" id="form">
            {% csrf_token %}
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                <a class="nav-link active" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true">基本情報</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false">明細部</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="item1" role="tabpanel" aria-labelledby="item1-tab">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_SampleDiv">量産区分</label>
                                {% if form.errors.SampleDiv %}
                                {% for error in form.errors.SampleDiv %}
                                <select class="custom-select is-invalid" name="SampleDiv" id="id_SampleDiv" value="{{ form.data.SampleDiv }}">
                                    {% for data in form.SampleDiv %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <select class="custom-select" name="SampleDiv" id="id_SampleDiv" value="{{ form.data.SampleDiv }}">
                                    {% for data in form.SampleDiv %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_OutputDiv">出力区分</label>
                                {% if form.errors.OutputDiv %}
                                {% for error in form.errors.OutputDiv %}
                                <select class="custom-select is-invalid" name="OutputDiv" id="id_OutputDiv" value="{{ form.data.OutputDiv }}" onchange="viewChange();">
                                    {% for data in form.OutputDiv %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <select class="custom-select" name="OutputDiv" id="id_OutputDiv" value="{{ form.data.OutputDiv }}" onchange="viewChange();">
                                    {% for data in form.OutputDiv %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_ManagerCode">担当者</label>
                                {% if form.errors.ManagerCode %}
                                {% for error in form.errors.ManagerCode %}
                                <select class="custom-select is-invalid" name="ManagerCode" id="id_ManagerCode" value="{{ form.data.ManagerCode }}">
                                    {% for data in form.ManagerCode %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <select class="custom-select" name="ManagerCode" id="id_ManagerCode" value="{{ form.data.ManagerCode }}">
                                    {% for data in form.ManagerCode %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-1">
                                <label for="id_SlipDiv">伝票区分</label>
                                <input type="tel" class="form-control" autocomplete="new-password" name="SlipDiv" id="id_SlipDiv" maxlength="1" onInput="checkForm(this)" value="{{ form.data.SlipDiv }}">
                            </div>
                            <div class="form-group col-sm-1">
                                <label for="id_OrderNumber">オーダーNO</label>
                                {% if form.errors.OrderNumber %}
                                {% for error in form.errors.OrderNumber %}
                                <input type="tel" class="form-control is-invalid" maxlength="7" autocomplete="new-password" name="OrderNumber" id="id_OrderNumber" onInput="checkForm(this)" value="{{ form.data.OrderNumber }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="tel" class="form-control" maxlength="7" autocomplete="new-password" name="OrderNumber" id="id_OrderNumber" onInput="checkForm(this)" value="{{ form.data.OrderNumber }}">
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_OrderingDate">依頼日</label>
                                {% if form.errors.OrderingDate %}
                                {% for error in form.errors.OrderingDate %}
                                    <input type="date" class="form-control is-invalid" autocomplete="new-password" name="OrderingDate" id="id_OrderingDate" value="{{ form.data.OrderingDate }}">
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                    <input type="date" class="form-control" autocomplete="new-password" name="OrderingDate" id="id_OrderingDate" value="{{ form.data.OrderingDate }}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_ProductName">商品名</label>
                                {% if form.errors.ProductName %}
                                {% for error in form.errors.ProductName %}
                                <input type="tel" class="form-control is-invalid" autocomplete="new-password" name="ProductName" id="id_ProductName" value="{{ form.data.ProductName }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="tel" class="form-control" autocomplete="new-password" name="ProductName" id="id_ProductName" value="{{ form.data.ProductName }}">
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_OrderingCount">番手</label>
                                {% if form.errors.OrderingCount %}
                                {% for error in form.errors.OrderingCount %}
                                <input type="tel" class="form-control is-invalid" autocomplete="new-password" name="OrderingCount" id="id_OrderingCount" value="{{ form.data.OrderingCount }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="tel" class="form-control" autocomplete="new-password" name="OrderingCount" id="id_OrderingCount" value="{{ form.data.OrderingCount }}">
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_StainPartNumber">品番</label>
                                {% if form.errors.StainPartNumber %}
                                {% for error in form.errors.StainPartNumber %}
                                <input type="tel" class="form-control is-invalid" autocomplete="new-password" name="StainPartNumber" id="id_StainPartNumber" value="{{ form.data.StainPartNumber }}" readonly="true">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="tel" class="form-control" autocomplete="new-password" name="StainPartNumber" id="id_StainPartNumber" value="{{ form.data.StainPartNumber }}" readonly="true">
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_StainMixRatio">混率</label>
                                {% if form.errors.StainMixRatio %}
                                {% for error in form.errors.StainMixRatio %}
                                <input type="tel" class="form-control is-invalid" autocomplete="new-password" name="StainMixRatio" id="id_StainMixRatio" value="{{ form.data.StainMixRatio }}" readonly="true">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="tel" class="form-control" autocomplete="new-password" name="StainMixRatio" id="id_StainMixRatio" value="{{ form.data.StainMixRatio }}" readonly="true">
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_DestinationCode">手配先</label>
                                {% if form.errors.DestinationCode %}
                                {% for error in form.errors.DestinationCode %}
                                <input type="tel" class="form-control is-invalid" autocomplete="new-password" placeholder="" list="Destination" name="DestinationCode" id="id_DestinationCode" value="A0000 未登録">
                                <datalist id="Destination">
                                {% for data in DestinationCode %}
                                    <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                {% endfor %}
                                </datalist>
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                    <input type="tel" class="form-control" autocomplete="new-password" placeholder="" list="Destination" name="DestinationCode" id="id_DestinationCode" value="A0000 未登録">
                                    <datalist id="Destination">
                                {% for data in DestinationCode %}
                                    <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                {% endfor %}
                                    </datalist>
                                {% endif %}
                                <input type="hidden" name="DestinationCode" id="id_DestinationCode" value=1>
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_SupplierCode">仕入先</label>
                                {% if form.errors.SupplierCode %}
                                {% for error in form.errors.SupplierCode %}
                                <input type="tel" class="form-control is-invalid" autocomplete="new-password" placeholder="" list="Supplier" name="SupplierCode" id="id_SupplierCode" value="A0000 未登録">
                                <datalist id="Supplier">
                                {% for data in SupplierCode %}
                                    <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                {% endfor %}
                                </datalist>
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="tel" class="form-control" placeholder="" autocomplete="new-password" list="Supplier" name="SupplierCode" id="id_SupplierCode" value="A0000 未登録">
                                <datalist id="Supplier">
                                {% for data in SupplierCode %}
                                    <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                {% endfor %}
                                </datalist>
                                <input type="hidden" name="SupplierCode" id="id_SupplierCode" value=1>
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_SupplierCode">出荷先</label>
                                {% if form.errors.SupplierCode %}
                                {% for error in form.errors.SupplierCode %}
                                <input type="tel" class="form-control is-invalid" placeholder="" list="Shipping" autocomplete="new-password" name="ShippingCode" id="id_ShippingCode" value="A0000 未登録">
                                <datalist id="Shipping">
                                {% for data in ShippingCode %}
                                    <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                {% endfor %}
                                </datalist>
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="tel" class="form-control" placeholder="" list="Shipping" autocomplete="new-password" name="ShippingCode" id="id_ShippingCode" value="A0000 未登録">
                                <datalist id="Shipping">
                                {% for data in ShippingCode %}
                                    <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                {% endfor %}
                                </datalist>
                                <input type="hidden" name="ShippingCode" id="id_ShippingCode" value=1>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_CustomeCode">得意先</label>
                                {% if form.errors.CustomerCode %}
                                {% for error in form.errors.CustomerCode %}
                                <input type="tel" class="form-control is-invalid" placeholder="" list="Customer" autocomplete="new-password" name="CustomeCode" id="id_CustomeCode" value="A0000 未登録">
                                <datalist id="Customer">
                                {% for data in CustomerCode %}
                                    <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                {% endfor %}
                                </datalist>
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="tel" class="form-control" placeholder="" list="Customer" autocomplete="new-password" name="CustomeCode" id="id_CustomeCode" value="A0000 未登録">
                                <datalist id="Customer">
                                {% for data in CustomerCode %}
                                    <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                {% endfor %}
                                </datalist>
                                <input type="hidden" name="CustomeCode" id="id_CustomeCode" value=1>
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_RequestCode">依頼先</label>
                                {% if form.errors.RequestCode %}
                                {% for error in form.errors.RequestCode %}
                                <input type="tel" class="form-control is-invalid" placeholder="" list="Request" autocomplete="new-password" name="RequestCode" id="id_RequestCode" value="A0000 未登録">
                                <datalist id="Request">
                                {% for data in RequestCode %}
                                    <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                {% endfor %}
                                </datalist>
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="tel" class="form-control" placeholder="" list="Request" autocomplete="new-password" name="RequestCode" id="id_RequestCode" value="A0000 未登録">
                                <datalist id="Request">
                                {% for data in RequestCode %}
                                    <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                {% endfor %}
                                </datalist>
                                <input type="hidden" name="RequestCode" id="id_RequestCode" value=1>
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_ApparelCode">アパレル</label>
                                {% if form.errors.ApparelCode %}
                                {% for error in form.errors.ApparelCode %}
                                <input type="tel" class="form-control is-invalid" placeholder="" list="Apparel" autocomplete="new-password" name="ApparelCode" id="id_ApparelCode" value="A0000 未登録" readonly="true">
                                <datalist id="Apparel">
                                {% for data in ApparelCode %}
                                    <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                {% endfor %}
                                </datalist>
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="tel" class="form-control" placeholder="" list="Apparel" autocomplete="new-password" name="ApparelCode" id="id_ApparelCode" value="A0000 未登録" readonly="true">
                                <datalist id="Apparel">
                                {% for data in ApparelCode %}
                                    <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                {% endfor %}
                                </datalist>
                                <input type="hidden" name="ApparelCode" id="id_ApparelCode" value=1>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_StainShippingCode">原糸メーカー</label>
                                {% if form.errors.StainShippingCode %}
                                {% for error in form.errors.StainShippingCode %}
                                <input type="tel" class="form-control is-invalid" placeholder="" list="Stain" autocomplete="new-password" name="StainShippingCode" id="id_StainShippingCode" value="A0000 未登録" readonly="true">
                                <datalist id="Stain">
                                {% for data in StainShippingCode %}
                                    <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                {% endfor %}
                                </datalist>
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="tel" class="form-control" placeholder="" list="Stain" autocomplete="new-password" name="StainShippingCode" id="id_StainShippingCode" value="A0000 未登録" readonly="true">
                                <datalist id="Stain">
                                {% for data in StainShippingCode %}
                                    <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                {% endfor %}
                                </datalist>
                                <input type="hidden" name="StainShippingCode" id="id_StainShippingCode" value=1>
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_StainShippingDate">原糸出荷日</label>
                                {% if form.errors.StainShippingDate %}
                                {% for error in form.errors.StainShippingDate %}
                                <input type="tel" class="form-control is-invalid" autocomplete="new-password" name="StainShippingDate" id="id_StainShippingDate" value="{{ form.data.StainShippingDate }}" readonly="true">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="tel" class="form-control" autocomplete="new-password" name="StainShippingDate" id="id_StainShippingDate" value="{{ form.data.StainShippingDate }}" readonly="true">
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_SupplierPerson">仕入担当</label>
                                {% if form.errors.SupplierPerson %}
                                {% for error in form.errors.SupplierPerson %}
                                <input type="tel" class="form-control is-invalid" autocomplete="new-password" name="SupplierPerson" id="id_SupplierPerson" value="{{ form.data.SupplierPerson }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="tel" class="form-control" autocomplete="new-password" name="SupplierPerson" id="id_SupplierPerson" value="{{ form.data.SupplierPerson }}">
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_TitleDiv">敬称</label>
                                {% if form.errors.TitleDiv %}
                                {% for error in form.errors.TitleDiv %}
                                <select class="custom-select is-invalid" name="TitleDiv" id="id_TitleDiv" value="{{ form.data.TitleDiv }}">
                                    {% for data in form.TitleDiv %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <select class="custom-select" name="TitleDiv" id="id_TitleDiv" value="{{ form.data.TitleDiv }}">
                                    {% for data in form.TitleDiv %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_MarkName">マーク名</label>
                                {% if form.errors.MarkName %}
                                {% for error in form.errors.MarkName %}
                                <input type="tel" class="form-control is-invalid" autocomplete="new-password" name="MarkName" id="id_MarkName" value="{{ form.data.MarkName }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="tel" class="form-control" autocomplete="new-password" name="MarkName" id="id_MarkName" value="{{ form.data.MarkName }}">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="item2" role="tabpanel" aria-labelledby="item2-tab">
                    {% include "crud/ordering/new/orderingtable.html" %}
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary btn-sm">&nbsp;&nbsp;登&nbsp;&nbsp;録&nbsp;&nbsp;</button>
                <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='{% url 'myapp:orderinglist' %}'">&nbsp;&nbsp;中&nbsp;&nbsp;止&nbsp;&nbsp;</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
