{% block content %}
{% load humanize %}
{% load widget_tweaks %}
<div class="container-fluid">
	<div class="form-group">
		<div class="text-left">
			<button type="button" id="add" class="btn btn-primary list_add">追加</button>
		</div>
		<input type="hidden" name="OrderingTableId-TOTAL_FORMS" id="OrderingTableId-TOTAL_FORMS">
		<div class="table-responsive table-container">
			<div class="table-sticky-container">
				{{ formset.management_form }}	
				<!-- <table class="table table-sticky table-sm" id="tblrow"> -->
				<table class="table table-sticky" id="tblrow">
					<thead>
						<tr>
							<th scope="col" class="text-center">項番</th>
							<th scope="col" class="text-center">色番</th>
							<th scope="col" class="text-center">カラー</th>
							<th scope="col" class="text-center">仕立</th>
							<th scope="col" class="text-center">数量</th>
							<th scope="col" class="text-center">単位</th>
							<th scope="col" class="text-center">仕入単価</th>
							<th scope="col" class="text-center">通常単価</th>
							<th scope="col" class="text-center">UP分単価</th>
							<th scope="col" class="text-center">販売単価</th>
							<th scope="col" class="text-center">希望納期</th>
							<th scope="col" class="text-center">回答納期</th>
							<th scope="col" class="text-center">摘&nbsp&nbsp&nbsp&nbsp要</th>
							<th scope="col" class="text-center">済</th>
							<th scope="col" class="text-center">印</th>
							<th scope="col" class="text-center">&nbsp</th>

							<!-- <th scope="col" class="text-center" style="width: 5%">項番</th>
							<th scope="col" class="text-center" style="width: 5%">色番</th>
							<th scope="col" class="text-center" style="width: 8%">カラー</th>
							<th scope="col" class="text-center" style="width: 4%">仕立</th>
							<th scope="col" class="text-center" style="width: 5%">数&nbsp&nbsp量</th>
							<th scope="col" class="text-center" style="width: 5%">単&nbsp&nbsp位</th>
							<th scope="col" class="text-center" style="width: 5%">仕入単価</th>
							<th scope="col" class="text-center" style="width: 5%">通常単価</th>
							<th scope="col" class="text-center" style="width: 5%">UP分単価</th>
							<th scope="col" class="text-center" style="width: 5%">販売単価</th>
							<th scope="col" class="text-center" style="width: 8%">希望納期</th>
							<th scope="col" class="text-center" style="width: 8%">回答納期</th>
							<th scope="col" class="text-center" style="width: 15%">摘&nbsp&nbsp要</th>
							<th scope="col" class="text-center" style="width: 2%">済</th>
							<th scope="col" class="text-center" style="width: 2%">印</th>
							<th scope="col" class="text-center" style="width: 5%">&nbsp</th> -->
						</tr>
					</thead>
					<tbody id="list">
						{% for form in formset %}
						<tr class="list_var">
							<td>
								<div id="div" class="fds-table__td-content">
								{% if form.errors.DetailItemNumber %}
								{% for error in form.errors.DetailItemNumber %}
									<input type="tel" class="form-control is-invalid DetailItemNumber" autocomplete="new-password" style="text-align: right;" data-id-format="id_OrderingTableId-%d-DetailItemNumber" data-name-format="OrderingTableId-%d-DetailItemNumber"
									name="OrderingTableId-0-DetailItemNumber" id="id_OrderingTableId-0-DetailItemNumber" value="{{ form.DetailItemNumber.value | default:'0001' }}" onchange="ItemNumber(this);">
									<div class="invalid-feedback">{{ error }}</div>
								{% endfor %}
								{% else %}
									<input type="tel" class="form-control DetailItemNumber" autocomplete="new-password" style="text-align: right;" data-id-format="id_OrderingTableId-%d-DetailItemNumber" data-name-format="OrderingTableId-%d-DetailItemNumber"
									name="OrderingTableId-0-DetailItemNumber" id="id_OrderingTableId-0-DetailItemNumber" value="{{ form.DetailItemNumber.value | default:'0001' }}" onchange="ItemNumber(this);">
								{% endif %}
								</div>
							</td>
							<td>
							{% if form.errors.DetailColorNumber %}
							{% for error in form.errors.DetailColorNumber %}
								<input type="text" class="form-control is-invalid" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-DetailColorNumber" data-name-format="OrderingTableId-%d-DetailColorNumber"
								name="OrderingTableId-0-DetailColorNumber" id="id_OrderingTableId-0-DetailColorNumber" value="{{ form.DetailColorNumber.value | default:'' }}">                                          
								<div class="invalid-feedback">{{ error }}</div>
							{% endfor %}
							{% else %}
								<input type="text" class="form-control" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-DetailColorNumber" data-name-format="OrderingTableId-%d-DetailColorNumber"
								name="OrderingTableId-0-DetailColorNumber" id="id_OrderingTableId-0-DetailColorNumber" value="{{ form.DetailColorNumber.value | default:'' }}">
							{% endif %}
							</td>
							<td>
							{% if form.errors.DetailColor %}
							{% for error in form.errors.DetailColor %}
								<input type="text" class="form-control is-invalid" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-DetailColor" data-name-format="OrderingTableId-%d-DetailColor" 
								name="OrderingTableId-0-DetailColor" id="id_OrderingTableId-0-DetailColor" value="{{ form.DetailColor.value | default:'' }}">                                   
								<div class="invalid-feedback">{{ error }}</div>
							{% endfor %}
							{% else %}
								<input type="text" class="form-control" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-DetailColor" data-name-format="OrderingTableId-%d-DetailColor" 
								name="OrderingTableId-0-DetailColor" id="id_OrderingTableId-0-DetailColor" value="{{ form.DetailColor.value | default:'' }}">                                   
							{% endif %}
							</td>
							<td>
							{% if form.errors.DetailTailoring %}
							{% for error in form.errors.DetailTailoring %}
								<input type="text" class="form-control is-invalid" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-DetailTailoring" data-name-format="OrderingTableId-%d-DetailTailoring" 
								name="OrderingTableId-0-DetailTailoring" id="id_OrderingTableId-0-DetailTailoring" value="{{ form.DetailTailoring.value | default:'' }}">                                   
								<div class="invalid-feedback">{{ error }}</div>
							{% endfor %}
							{% else %}
								<input type="text" class="form-control" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-DetailTailoring" data-name-format="OrderingTableId-%d-DetailTailoring" 
								name="OrderingTableId-0-DetailTailoring" id="id_OrderingTableId-0-DetailTailoring" value="{{ form.DetailTailoring.value | default:'' }}">                                   
							{% endif %}
							</td>
							<td>
							{% if form.errors.DetailVolume %}
							{% for error in form.errors.DetailVolume %}
								<input type="tel" step="0.1" class="form-control is-invalid DetailVolume text-right" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-DetailVolume" data-name-format="OrderingTableId-%d-DetailVolume"
								name="OrderingTableId-0-DetailVolume" id="id_OrderingTableId-0-DetailVolume" data-empty-val="false" value="{{ form.DetailVolume.value | intcomma }}">                                   
                                <div class="invalid-feedback">{{ error }}</div>
							{% endfor %}
							{% else %}
								<input type="tel" step="0.1" class="form-control DetailVolume text-right" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-DetailVolume" data-name-format="OrderingTableId-%d-DetailVolume" 
								name="OrderingTableId-0-DetailVolume" id="id_OrderingTableId-0-DetailVolume" value="{{ form.DetailVolume.value | intcomma }}" data-empty-val="false">                                   
							{% endif %}
							</td>
							<td>
								<select class="custom-select" data-id-format="id_OrderingTableId-%d-DetailUnitDiv" data-name-format="OrderingTableId-%d-DetailUnitDiv" name="OrderingTableId-0-DetailUnitDiv" id="id_OrderingTableId-0-DetailUnitDiv">
									{% for data in form.DetailUnitDiv %}
									{{ data }}
									{% endfor %}
								</select>
							</td>
							<td>
							{% if form.errors.DetailUnitPrice %}
							{% for error in form.errors.DetailUnitPrice %}
								<input type="tel" class="form-control is-invalid DetailUnitPrice text-right" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-DetailUnitPrice" data-name-format="OrderingTableId-%d-DetailUnitPrice" 
								name="OrderingTableId-0-DetailUnitPrice" id="id_OrderingTableId-0-DetailUnitPrice" onInput="checkForm(this)" onchange="comma(this);" data-empty-val="false" value="{{ form.DetailUnitPrice.value }}">                                   
                                <div class="invalid-feedback">{{ error }}</div>
							{% endfor %}
							{% else %}
								<input type="tel" class="form-control DetailUnitPrice text-right" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-DetailUnitPrice" data-name-format="OrderingTableId-%d-DetailUnitPrice" 
								name="OrderingTableId-0-DetailUnitPrice" id="id_OrderingTableId-0-DetailUnitPrice" onInput="checkForm(this)" onchange="comma(this);" value="{{ form.DetailUnitPrice.value | default:'0'}}" data-empty-val="false">                                   
							{% endif %}
							</td>
							<td>
							{% if form.errors.DetailPrice %}
							{% for error in form.errors.DetailPrice %}
								<input type="tel" class="form-control is-invalid DetailPrice text-right" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-DetailPrice" data-name-format="OrderingTableId-%d-DetailPrice" 
								name="OrderingTableId-0-DetailPrice" id="id_OrderingTableId-0-DetailPrice" onInput="checkForm(this)" onchange="calc(this);" data-empty-val="false" value="{{ form.DetailPrice.value }}">
                                <div class="invalid-feedback">{{ error }}</div>
							{% endfor %}
							{% else %}
								<input type="tel" class="form-control DetailPrice text-right" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-DetailPrice" data-name-format="OrderingTableId-%d-DetailPrice" 
								name="OrderingTableId-0-DetailPrice" id="id_OrderingTableId-0-DetailPrice" onInput="checkForm(this)" onchange="calc(this);" value="{{ form.DetailPrice.value | default:'0' }}" data-empty-val="false">
							{% endif %}
							</td>
							<td>
							{% if form.errors.DetailOverPrice %}
							{% for error in form.errors.DetailOverPrice %}
								<input type="tel" class="form-control is-invalid DetailOverPrice text-right" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-DetailOverPrice" data-name-format="OrderingTableId-%d-DetailOverPrice" 
								name="OrderingTableId-0-DetailOverPrice" id="id_OrderingTableId-0-DetailOverPrice" onInput="checkForm(this)" onchange="calc(this);" data-empty-val="false" value="{{ form.DetailOverPrice.value }}">
                                <div class="invalid-feedback">{{ error }}</div>
							{% endfor %}
							{% else %}
								<input type="tel" class="form-control DetailOverPrice text-right" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-DetailOverPrice" data-name-format="OrderingTableId-%d-DetailOverPrice" 
								name="OrderingTableId-0-DetailOverPrice" id="id_OrderingTableId-0-DetailOverPrice" onInput="checkForm(this)" onchange="calc(this);" value="{{ form.DetailOverPrice.value | default:'0' }}" data-empty-val="false">
							{% endif %}
							</td>
							<td>
							{% if form.errors.DetailSellPrice %}
							{% for error in form.errors.DetailSellPrice %}
								<input type="tel" class="form-control is-invalid DetailSellPrice text-right" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-DetailSellPrice" data-name-format="OrderingTableId-%d-DetailSellPrice" 
								name="OrderingTableId-0-DetailSellPrice" id="id_OrderingTableId-0-DetailSellPrice" onInput="checkForm(this)" data-empty-val="false" value="{{ form.DetailSellPrice.value }}">                                   
                                <div class="invalid-feedback">{{ error }}</div>
							{% endfor %}
							{% else %}
								<input type="tel" class="form-control DetailSellPrice text-right" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-DetailSellPrice" data-name-format="OrderingTableId-%d-DetailSellPrice" 
								name="OrderingTableId-0-DetailSellPrice" id="id_OrderingTableId-0-DetailSellPrice" onInput="checkForm(this)" value="{{ form.DetailSellPrice.value | default:'0' }}" data-empty-val="false">                                   
							{% endif %}
							</td>
							<td>
							{% if form.errors.SpecifyDeliveryDate %}
							{% for error in form.errors.SpecifyDeliveryDate %}
								<input type="tel" class="form-control is-invalid SpecifyDeliveryDate" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-SpecifyDeliveryDate" data-name-format="OrderingTableId-%d-SpecifyDeliveryDate" 
								name="OrderingTableId-0-SpecifyDeliveryDate" id="id_OrderingTableId-0-SpecifyDeliveryDate" value="{{ form.SpecifyDeliveryDate.value }}">                                   
                                <div class="invalid-feedback">{{ error }}</div>
							{% endfor %}
							{% else %}
								<input type="tel" class="form-control SpecifyDeliveryDate" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-SpecifyDeliveryDate" data-name-format="OrderingTableId-%d-SpecifyDeliveryDate" 
								name="OrderingTableId-0-SpecifyDeliveryDate" id="id_OrderingTableId-0-SpecifyDeliveryDate">                                   
							{% endif %}
							</td>
							<td>
							{% if form.errors.StainAnswerDeadline %}
							{% for error in form.errors.StainAnswerDeadline %}
								<input type="tel" class="form-control is-invalid StainAnswerDeadline" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-StainAnswerDeadline" data-name-format="OrderingTableId-%d-StainAnswerDeadline" 
								name="OrderingTableId-0-StainAnswerDeadline" id="id_OrderingTableId-0-StainAnswerDeadline" value="{{ form.StainAnswerDeadline.value }}">                                   
                                <div class="invalid-feedback">{{ error }}</div>
							{% endfor %}
							{% else %}
								<input type="tel" class="form-control StainAnswerDeadline" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-StainAnswerDeadline" data-name-format="OrderingTableId-%d-StainAnswerDeadline" 
								name="OrderingTableId-0-StainAnswerDeadline" id="id_OrderingTableId-0-StainAnswerDeadline">                                   
							{% endif %}
							</td>
							<td>
								<input type="text" class="form-control" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-DetailSummary" data-name-format="OrderingTableId-%d-DetailSummary"
								name="OrderingTableId-0-DetailSummary" id="id_OrderingTableId-0-DetailSummary" value="{{ form.DetailSummary.value | default_if_none:"" }}">                                   
							</td>
							<td>
								<div class="form-check">
									<input type="checkbox" class="form-check-input DeliveryManageDiv" data-id-format="id_OrderingTableId-%d-DeliveryManageDiv" data-name-format="OrderingTableId-%d-DeliveryManageDiv" 
									name="OrderingTableId-0-DeliveryManageDiv" id="id_OrderingTableId-0-DeliveryManageDiv" >
								</div>
							</td>
							<td>
								<div class="form-check">
									<input type="checkbox" class="form-check-input PrintDiv" data-id-format="id_OrderingTableId-%d-PrintDiv" data-name-format="OrderingTableId-%d-PrintDiv" 
									name="OrderingTableId-0-PrintDiv" id="id_OrderingTableId-0-PrintDiv" checked>
								</div>
							</td>
							<td>
								<span class="list_del"><button type="button" class="btn btn-outline-danger btn-sm">削除</button></span>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block extrajs %}
<!-- flatpicr -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
<!-- addinputarea -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.add-input-area@4.11.0/dist/jquery.add-input-area.min.js" integrity="sha256-yOwGvcRp3I8/XWkeARhJkgdfLREQygbFA5W2bUpM2FY=" crossorigin="anonymous"></script>
{% load static %}
<script src="{% static '\js\calc.js' %}" charset="UTF-8"></script>
<script src="{% static '\js\datalist.js' %}" charset="UTF-8"></script>
<script src="{% static '\js\datepicker.js' %}" charset="UTF-8"></script>
<script src="{% static '\js\inputarea.js' %}" charset="UTF-8"></script>
<script src="{% static '\js\tab.js' %}" charset="UTF-8"></script>
<script src="{% static '\js\enter.js' %}" charset="UTF-8"></script>
{% endblock %}
