{% extends 'crud/base.html' %}
{% block content %}
<div class="container-fluid">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'myapp:index' %}">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">製品受発注情報一覧</li>
			<div class="container">
				<div class="text-right">
					<button class="btn btn-primary btn-sm" onclick="location.href='{% url 'myapp:productordernew' %}'">新規登録</button>
				</div>
			</div>
		</ol>
	</nav>
	<div class="form-group">
		<form method="post" id="form">{% csrf_token %}
			<div class="form-row">
				<div class="form-group col-sm-2">
					<input type="search" name="query" id="query" class="form-control" autocomplete="new-password" placeholder="キーワード" value="{{ posearch.query.value }}"/>
				</div>
				<div class="form-group col-sm-2">
					<input type="search" name="key" id="key" class="form-control" autocomplete="new-password" placeholder="キーワード" value="{{ posearch.key.value }}"/>
				</div>
				<div class="form-group col-sm-2">
					<input type="search" name="word" id="word" class="form-control" autocomplete="new-password" placeholder="キーワード" value="{{ posearch.word.value }}"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-sm-2">
					<input type="search" name="orderdateFrom" id="orderdateFrom" class="form-control" autocomplete="new-password" placeholder="納期(From)" value="{{ posearch.productorderdateFrom.value }}"/>
				</div>
				<div class="form-group col-sm-2">
					<input type="search" name="orderdateTo" id="orderdateTo" class="form-control" autocomplete="new-password" placeholder="納期(To)" value="{{ posearch.productorderdateTo.value }}"/>
				</div>
				<div class="text-right">
					<label class="sr-only">検索</label>
					<button class="btn btn-primary" type="submit">
						検索
					</button>
				</div>
				<div class="w-50 h-25 mx-auto">
					{% if messages %}
					<ul class="messages_ul">
						{% for message in messages %}
							<li class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %} list-unstyled alert-dismissible fade show" role="alert">{{ message }}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</li>
						{% endfor %}
					</ul>
					{% endif %}
				</div>
			</div>
		</form>
		{% block extrajs %}
		<!-- flatpicr -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
		<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
		<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
		{% load static %}
		<script src="{% static '\js\datepickerlist.js' %}" charset="UTF-8"></script>
		{% endblock %}
		<div class="table-responsive table-container">
			<div class="table-sticky-container">
				<table class="table table-sticky">
					<thead class="thead-dark">
						<tr>
							<th scope="col" class="text-center">発行済</th>
							<th scope="col" class="text-center">発注番号</th>
							<th scope="col" class="text-center">発注日</th>
							<th scope="col" class="text-center">納期</th>
							<th scope="col" class="text-center">オーダーNO</th>
							<th scope="col" class="text-center">商品コード</th>
							<th scope="col" class="text-center">本品番</th>
							<th scope="col" class="text-center">担当者</th>
							<th scope="col" class="text-center">仕入先名</th>
							<th scope="col" class="text-center">アパレル名</th>
							<th scope="col" class="text-center">マーク名</th>
							<th scope="col" class="text-center">ブランド名</th>
							<th scope="col" class="text-center">アクション</th>
						</tr>
					</thead>
					<tbody>
						{% for ProductOrder in object_list %}
						<tr>
							<td class="text-center">
								<div class="form-check">
									{% if OrderTable.is_Ordered == 1 %}
									<input class="form-check-input position-static" type="checkbox" checked>
									{% else %}
									<input class="form-check-input position-static" type="checkbox">
									{% endif %}
								</div>
							</td>
							<td class="text-right">{{ ProductOrder.id }}</td>
							<td class="text-right">{{ ProductOrder.ProductOrderOrderingDate }}</td>
							<td class="text-right">{{ ProductOrder.ProductOrderDeliveryDate }}</td>
							<td><span>{{ ProductOrder.ProductOrderSlipDiv }}</span><span>{{ ProductOrder.ProductOrderOrderNumber }}</span></td>
							<td class="text-right">{{ ProductOrder.ProductOrderMerchandiseCode }}</td>
							<td>{{ ProductOrder.ProductOrderPartNumber }}</td>
							<td>{{ ProductOrder.ProductOrderManagerCode.first_name|add:ProductOrder.ProductOrderManagerCode.last_name }}</td>
							<td>{{ ProductOrder.ProductOrderSupplierCode.CustomerOmitName }}</td>
							<td>{{ ProductOrder.ProductOrderApparelCode.CustomerOmitName }}</td>
							<td>{{ ProductOrder.ProductOrderMarkName }}</td>
							<td>{{ ProductOrder.ProductOrderBrandName }}</td>
							<td class="text-center">
								<span><button type="button" class="btn btn-outline-success btn-sm" onclick="location.href='{% url 'myapp:productorderpdf' pk=ProductOrder.id %}'">発注書</button></span>
								<span><button type="button" class="btn btn-outline-primary btn-sm" onclick="location.href='{% url 'myapp:productorderedit' pk=ProductOrder.id %}'">詳細</button></span>
								<span><button type="button" class="btn btn-outline-danger btn-sm" onclick="location.href='{% url 'myapp:productorderdelete' pk=ProductOrder.id %}'">削除</button></span>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-6 offset-3 justify-content-center">
		{% if is_paginated %}
			{% include "crud/pagination.html" %}
		{% endif %}
	</div>
</div>
{% endblock %}