{% extends "crud/base.html" %}
{% block content %}
<div class="fds-page-login">
	<div class="fds-bgi">
		<div class="fds-panel fds-panel--plain">
			<form method="POST" action="">{% csrf_token %}
				<div class="fds-page-login__form">
					{% if form.non_field_errors %}
					<div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__error">
                		{% for error in form.non_field_errors %}
                  			{{ error }}
              		</div>
						{% endfor %}
					{% endif %}
					<div class="fds-form-label fds-form-label--vertical">
						<span class="fds-label">ユーザー名</span>
						<div class="fds-form-input-icon fds-form-input-icon--left">
							<span class="fds-icon fds-icon--mail"></span>
							<input type="text" class="fds-form-input fds-form-input--large" name="username" placeholder="ユーザー名を入力してください"/>
						</div>
					</div>
					<div class="fds-form-label fds-form-label--vertical">
						<span class="fds-label">パスワード</span>
						<div class="fds-form-input-icon fds-form-input-icon--left">
							<span class="fds-icon fds-icon--key"></span>
							<input type="password" class="fds-form-input fds-form-input--large" name="password" placeholder="パスワードを入力してください"/>
						</div>
					</div>
					<button class="fds-btn fds-btn--primary fds-btn--giant" type="submit"> ログイン</button>
					<a href="{% url 'password_reset' %}" class="fds-text fds-text--link" active>パスワードを忘れた方へ</a>
				</div>
			</form>
		</div>
    </div>
</div>
{% endblock %}