{% extends "crud/base.html" %}

{% block content %}
<div class="fds-page-login">
  <div class="fds-bgi">
    <div class="fds-panel fds-panel--plain">
        <form method="POST" action="">{% csrf_token %}
          <div class="fds-page-login__form">
            {% if form.non_field_errors %}
            <div div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__error">
              {% for error in form.non_field_errors %}
                {{ error }}
            </div>
              {% endfor %}
            {% endif %}              
            <div class="fds-form-label fds-form-label--vertical">
				<span class="fds-label">ユーザー名</span>
				<div class="fds-form-input-icon fds-form-input-icon--left">
					<span class="fds-icon fds-icon--home"></span>
					<input type="text" class="fds-form-input fds-form-input--large" maxlength="150" required name="username" placeholder="ユーザー名を入力してください"/>
				</div>
			</div>
            <div class="fds-form-label fds-form-label--vertical">
				<span class="fds-label">姓</span>
				<div class="fds-form-input-icon fds-form-input-icon--left">
					<span class="fds-icon fds-icon--home"></span>
					<input type="text" class="fds-form-input fds-form-input--large" maxlength="150" required name="first_name" placeholder="苗字を入力してください"/>
				</div>
			</div>
            <div class="fds-form-label fds-form-label--vertical">
				<span class="fds-label">名</span>
				<div class="fds-form-input-icon fds-form-input-icon--left">
					<span class="fds-icon fds-icon--home"></span>
					<input type="text" class="fds-form-input fds-form-input--large" maxlength="150" required name="last_name" placeholder="名前を入力してください"/>
				</div>
			</div>
			<div class="fds-form-label fds-form-label--vertical">
				<span class="fds-label">メールアドレス</span>
                <div class="fds-form-input-icon fds-form-input-icon--left">
                    <span class="fds-icon fds-icon--mail"></span>
                    <input type="email" class="fds-form-input fds-form-input--large" name="email" required placeholder="メールアドレスを入力してください"/>
				</div>
            </div>
            <div class="fds-form-label fds-form-label--vertical">
				<span class="fds-label">パスワード</span>
				<div class="fds-form-input-icon fds-form-input-icon--left">
					<span class="fds-icon fds-icon--key"></span>
					<input type="password" class="fds-form-input fds-form-input--large" name="password1" autocomplete="new-password" required id="id_password1" placeholder="パスワードを入力してください"/>
				</div>
			</div>
			<div class="fds-form-label fds-form-label--vertical">
                <span class="fds-label">パスワード（確認用）</span>
                <div class="fds-form-input-icon fds-form-input-icon--left">
                    <span class="fds-icon fds-icon--key"></span>
                    <input type="password" class="fds-form-input fds-form-input--large" name="password2" autocomplete="new-password" required id="id_password2" placeholder="パスワードを入力してください"/>
				</div>
			</div>
		  	<div class="fds-form-label fds-form-label--horizontal">
				<span class="fds-label">このユーザーを管理者にする</span>
				<div class="fds-checkbox">
					<label class="fds-checkbox__label">
					  <input type="checkbox" class="fds-checkbox__input" name="is_superuser">
					  <span class="fds-checkbox__text">
					  </span>
					</label>
				</div>
			</div>
		</div>
		<button class="fds-btn fds-btn--primary fds-btn--giant" type="submit">ユーザー登録</button>
	</form>
</div>
  </div>
</div>
{% endblock %}
