{% block content %}
{% load humanize %}
<div class="container-fluid">
	<div class="form-group">
		<div class="text-left">
			<button type="button" id="add" class="btn btn-primary addsize">追加</button>
		</div>
		<input type="hidden" name="McdSizeId-TOTAL_FORMS" id="id_McdSizeId-TOTAL_FORMS">
		<div class="table-responsive table-container">
			<div class="table-sticky-container">
				{{ inlinessize.management_form }}	
				<table class="table table-sticky table-sm" id="tblrowsize" style="width:40%;">
					<thead>
						<tr>
							<th scope="col" class="text-center" style="width:1%;">サイズ</th>
							<th scope="col" class="text-center" style="width:1%;">　</th>
						</tr>
					</thead>
					<tbody id="listsize">
						{% for form in inlinessize %}
						<tr class="sizearea">
							<td>
								<div id="div">
								{% if form.errors.McdSize %}
								{% for error in form.errors.McdSize %}
									<input type="tel" class="form-control is-invalid McdSize" data-id-format="id_McdSizeId-%d-McdSize" data-name-format="McdSizeId-%d-McdSize"
									name="McdSizeId-0-McdSize" id="id_McdSizeId-0-McdSize" value="{{ form.McdSize.value | default:'' }}">
									<div class="invalid-feedback">{{ error }}</div>
								{% endfor %}
								{% else %}
									<input type="tel" class="form-control McdSize" data-id-format="id_McdSizeId-%d-McdSize" data-name-format="McdSizeId-%d-McdSize"
									name="McdSizeId-0-McdSize" id="id_McdSizeId-0-McdSize" value="{{ form.McdSize.value | default:'' }}">
								{% endif %}	
								</div>
							</td>
							<td>
								<span class="delsize"><button type="button" class="btn btn-outline-danger btn-sm">削除</button></span>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
