{% block content %}
<div class="container-fluid">
	<div class="form-group">
		<div class="text-left">
			<button type="button" id="add" class="btn btn-primary btn-sm addfile">追加</button>
		</div>
		<input type="hidden" name="McdDtuploadid-TOTAL_FORMS" id="id_McdDtuploadid-TOTAL_FORMS">
		<div class="table-responsive table-container">
			<div class="table-sticky-container">
				{{ inlinesfile.management_form }}	
				<table class="table table-sticky" id="tblrowfile">
					<thead>
						<tr>
							<th scope="col" class="text-center product">アップロード</th>
							<th scope="col" class="text-center check">&nbsp;&nbsp;</th>
						</tr>
					</thead>
					<tbody id="listfile">
						{% for form in inlinesfile %}
						<tr class="filearea">
							<td>
								<div id="div" class="input-group">
									<label class="input-group-btn">
										<span class="btn btn-outline-primary">
											選択
											<input type="file" style="display:none" class="uploadPath" data-id-format="id_McdDtuploadid-%d-uploadPath" data-name-format="McdDtuploadid-%d-uploadPath"
											name="McdDtuploadid-0-uploadPath" id="id_McdDtuploadid-0-uploadPath" accept="image/*">
										</span>
									</label>
									<input type="text" class="form-control" readonly="">
								</div>
							</td>
							<td>
								<span class="delfile"><button type="button" class="btn btn-outline-danger btn-sm">削除</button></span>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block extrajs %}
<script>
$(document).on('change', ':file', function() {
    var input = $(this),
    numFiles = input.get(0).files ? input.get(0).files.length : 1,
    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.parent().parent().next(':text').val(label);
});
</script>
{% endblock %}
