{% extends "crud/base.html" %}
{% block content %}
<div class="card mx-auto" style="width: 400px;">
	<div class="card-body">
		<form class="form-signin" method="POST">{% csrf_token %}
			<div class="text-center">
				<h1 class="h5 mb-3 font-weight-normal">パスワードリセット</h1>
			</div>
			{% if form.non_field_errors %}
			<div class="alert alert-danger" role="alert">
				{% for error in form.non_field_errors %}
					{{ error }}
			</div>
				{% endfor %}
			{% endif %}
			<div class="input-group mb-3">
				<label for="inputEmail" class="sr-only">メールアドレス</label>
				<input class="form-control" type="email" id="id_email" name="email" maxlength="254" class="form-control" placeholder="メールアドレスを入力してください" required autofocus>
			</div>
      <div class="text-right">
				<button class="btn btn-primary" type="submit">送信</button>
			</div>    
    </div>
</div>
<!-- <div class="fds-page-login">
    <div class="fds-bgi">
      <div class="fds-panel fds-panel--plain">
          <form method="POST">
            {% csrf_token %}
            <div class="fds-page-login__form">
              {% if form.non_field_errors %}
              <div div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__error">
                {% for error in form.non_field_errors %}
                  {{ error }}
              </div>
                {% endfor %}
              {% endif %}              
              <div class="fds-form-label fds-form-label--vertical">
                    <span class="fds-label">メールアドレス</span>
                    <div class="fds-form-input-icon fds-form-input-icon--left">
                        <span class="fds-icon fds-icon--mail"></span>
                        <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email" class="fds-form-input fds-form-input--large" placeholder="メールアドレスを入力してください" />
                    </div>
              </div>
              <button class="fds-btn fds-btn--primary fds-btn--giant" type="submit">送信</button>
          </form>
      </div>
    </div>
</div> -->
{% endblock %}