{% extends 'crud/base.html' %}

{% block content %}
    <div class="fds-page-table__main">
        <div class="fds-breadcrumb">
            <div class="fds-breadcrumb__item">
                <a href="#" class="fds-breadcrumb__link">
                    ホーム
                </a>
            </div>
            <div class="fds-breadcrumb__item">
                <a href="#" class="fds-breadcrumb__link">
                    得意先仕入先マスター一覧・検索
                </a>
            </div>
            <div class="fds-breadcrumb__item">
                <span class="fds-breadcrumb__label">
                    得意先仕入先マスタ登録
                </span>
            </div>
        </div>
        <div class="fds-page-table__title-box">
            <div class="fds-page-table__title">
                得意先仕入先マスタ新規登録
            </div>
            <div class="fds-page-table__search-form">
                <button class="fds-btn fds-btn--basic">
                    キャンセル
                </button>
                <button class="fds-btn fds-btn--primary">
                    保存
                </button>
            </div>
        </div>
        <div class="fds-panel fds-panel--plain">

        </div>
    </div>
{% endblock %}