{% block content %}
{% load humanize %}
<div class="card-body">
    <div class="form-row">
        <div class="form-group col-sm-2">
            <label for="id_ExDepositDiv">入金予定区分</label>
            <select class="custom-select" name="ExDepositDiv" id="id_ExDepositDiv">
                {% for data in form.ExDepositDiv %}
                {{ data }}
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-sm-2">
            <label for="id_ExDepositMonth">入金予定月</label>
            <select class="custom-select" name="ExDepositMonth" id="id_ExDepositMonth">
                {% for data in form.ExDepositMonth %}
                {{ data }}
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-sm-2">
            <label for="id_ExDepositDate">入金予定日</label>
            <select class="custom-select" name="ExDepositDate" id="id_ExDepositDate">
                {% for data in form.ClosingDate %}
                {{ data }}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-6">
            <label for="id_EMAIL">E-MAIL</label>
            {% if form.errors.EMAIL %}
            {% for error in form.errors.EMAIL %}
            <input type="text" class="form-control is-invalid" autocomplete="new-password" name="EMAIL" id="id_EMAIL" value="{{ object.EMAIL }}">
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% else %}
            <input type="text" class="form-control" autocomplete="new-password" name="EMAIL" id="id_EMAIL" value="{{ object.EMAIL }}">
            {% endif %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-2">
            <label for="id_LastClaimBalance">前回請求残</label>
            {% if form.errors.LastClaimBalance %}
            {% for error in form.errors.LastClaimBalance %}
            <input type="text" class="form-control text-right LastClaimBalance is-invalid" autocomplete="new-password" name="LastClaimBalance" id="id_LastClaimBalance" maxlength="10" onInput="checkForm(this)" onchange="comma(this);" value="{{ object.LastClaimBalance|intcomma }}">
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% else %}
            <input type="text" class="form-control text-right LastClaimBalance" autocomplete="new-password" name="LastClaimBalance" id="id_LastClaimBalance" maxlength="10" onInput="checkForm(this)" onchange="comma(this);" value="{{ object.LastClaimBalance|intcomma }}">
            {% endif %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-2">
            <label for="id_LastReceivable">前月売掛残</label>
            {% if form.errors.LastReceivable %}
            {% for error in form.errors.LastReceivable %}
            <input type="text" class="form-control text-right LastReceivable is-invalid" autocomplete="new-password" name="LastReceivable" id="id_LastReceivable" maxlength="10" onInput="checkForm(this)" onchange="comma(this);" value="{{ object.LastReceivable|intcomma }}">
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% else %}
            <input type="text" class="form-control text-right LastReceivable" autocomplete="new-password" name="LastReceivable" id="id_LastReceivable" maxlength="10" onInput="checkForm(this)" onchange="comma(this);" value="{{ object.LastReceivable|intcomma }}">
            {% endif %}
        </div>
        <div class="form-group col-sm-2">
            <label for="id_LastPayable">前月買掛残</label>
            {% if form.errors.LastPayable %}
            {% for error in form.errors.LastPayable %}
            <input type="text" class="form-control text-right LastPayable is-invalid" autocomplete="new-password" name="LastPayable" id="id_LastPayable" maxlength="10" onInput="checkForm(this)" onchange="comma(this);" value="{{ object.LastPayable|intcomma }}">
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% else %}
            <input type="text" class="form-control text-right LastPayable" autocomplete="new-password" name="LastPayable" id="id_LastPayable" maxlength="10" onInput="checkForm(this)" onchange="comma(this);" value="{{ object.LastPayable|intcomma }}">
            {% endif %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-2">
            <label for="id_LastProceeds">前年売上実績</label>
            {% if form.errors.LastProceeds %}
            {% for error in form.errors.LastProceeds %}
            <input type="text" class="form-control text-right LastProceeds is-invalid" autocomplete="new-password" name="LastProceeds" id="id_LastProceeds" maxlength="10" onInput="checkForm(this)" onchange="comma(this);" value="{{ object.LastProceeds|intcomma }}">
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% else %}
            <input type="text" class="form-control text-right LastProceeds" autocomplete="new-password" name="LastProceeds" id="id_LastProceeds" maxlength="10" onInput="checkForm(this)" onchange="comma(this);" value="{{ object.LastProceeds|intcomma }}">
            {% endif %}
        </div>
        <div class="form-group col-sm-2">
            <label for="id_ProceedsTarget">当年売上目標</label>
            {% if form.errors.ProceedsTarget %}
            {% for error in form.errors.ProceedsTarget %}
            <input type="text" class="form-control text-right is-invalid ProceedsTarget" autocomplete="new-password" name="ProceedsTarget" id="id_ProceedsTarget" maxlength="10" onInput="checkForm(this)" onchange="comma(this);" value="{{ object.ProceedsTarget|intcomma }}">
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% else %}
            <input type="text" class="form-control text-right ProceedsTarget" autocomplete="new-password" name="ProceedsTarget" id="id_ProceedsTarget" maxlength="10" onInput="checkForm(this)" onchange="comma(this);" value="{{ object.ProceedsTarget|intcomma }}">
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block extrajs %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.add-input-area@4.11.0/dist/jquery.add-input-area.min.js" integrity="sha256-yOwGvcRp3I8/XWkeARhJkgdfLREQygbFA5W2bUpM2FY=" crossorigin="anonymous"></script>
{% load static %}
<script src="{% static '\js\commacustomer.js' %}" charset="UTF-8"></script>
<script src="{% static '\js\tab.js' %}" charset="UTF-8"></script>
<script src="{% static '\js\enter.js' %}" charset="UTF-8"></script>
{% endblock %}
