{% extends 'crud/base.html' %}
{% block content %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'myapp:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'myapp:list' %}">得意先仕入先マスタ一覧</a></li>
            <li class="breadcrumb-item active" aria-current="page">得意先仕入先新規登録</li>
        </ol>
    </nav>
	<div class="form-group">
        <form method="post" id="form">{% csrf_token %}
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true">基本情報</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false">残高情報</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="item1" role="tabpanel" aria-labelledby="item1-tab">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_CustomerCode">コード</label>
                                {% if form.errors.CustomerCode %}
                                {% for error in form.errors.CustomerCode %}
                                <input type="text" class="form-control is-invalid" autocomplete="new-password" name="CustomerCode" id="id_CustomerCode" value="{{ object.CustomerCode }}" readonly>
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control" autocomplete="new-password" name="CustomerCode" id="id_CustomerCode" value="{{ object.CustomerCode }}" readonly>
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="id_CustomerName">名称</label>
                                {% if form.errors.CustomerName %}
                                {% for error in form.errors.CustomerName %}
                                <input type="text" class="form-control is-invalid" autocomplete="new-password" name="CustomerName" id="id_CustomerName" value="{{ object.CustomerName }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control" autocomplete="new-password" name="CustomerName" id="id_CustomerName" value="{{ object.CustomerName }}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_CustomerOmitName">略名</label>
                                {% if form.errors.CustomerOmitName %}
                                {% for error in form.errors.CustomerOmitName %}
                                <input type="text" class="form-control is-invalid" autocomplete="new-password" name="CustomerOmitName" id="id_CustomerOmitName" value="{{ object.CustomerOmitName }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control" autocomplete="new-password" name="CustomerOmitName" id="id_CustomerOmitName" value="{{ object.CustomerOmitName }}">
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="id_CustomerNameKana">カナ名</label>
                                {% if form.errors.CustomerNameKana %}
                                {% for error in form.errors.CustomerNameKana %}
                                <input type="text" class="form-control is-invalid" autocomplete="new-password" name="CustomerNameKana" id="id_CustomerNameKana" value="{{ object.CustomerNameKana }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control" autocomplete="new-password" name="CustomerNameKana" id="id_CustomerNameKana" value="{{ object.CustomerNameKana }}">
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_Department">部署名</label>
                                {% if form.errors.Department %}
                                {% for error in form.errors.Department %}
                                <input type="text" class="form-control is-invalid" autocomplete="new-password" name="Department" id="id_Department" value="{{ object.Department }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control" autocomplete="new-password" name="Department" id="id_Department" value="{{ object.Department }}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_PostCode">郵便番号</label>
                                {% if form.errors.PostCode %}
                                {% for error in form.errors.PostCode %}
                                <input type="text" class="form-control is-invalid" autocomplete="new-password" name="PostCode" id="id_PostCode" onInput="checkForm(this)" value="{{ object.PostCode }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control" autocomplete="new-password" name="PostCode" id="id_PostCode" onInput="checkForm(this)" value="{{ object.PostCode }}">
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_PrefecturesCode">都道府県</label>
                                {% if form.errors.PrefecturesCode %}
                                {% for error in form.errors.PrefecturesCode %}
                                <select class="custom-select is-invalid" name="PrefecturesCode" id="id_PrefecturesCode" value="{{ object.PrefecturesCode }}">
                                    {% for data in form.PrefecturesCode %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <select class="custom-select" name="PrefecturesCode" id="id_PrefecturesCode" value="{{ object.PrefecturesCode }}">
                                    {% for data in form.PrefecturesCode %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_Municipalities">市区町村</label>
                                {% if form.errors.Municipalities %}
                                {% for error in form.errors.Municipalities %}
                                <input type="text" class="form-control is-invalid" autocomplete="new-password" name="Municipalities" id="id_Municipalities" value="{{ object.Municipalities }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control" autocomplete="new-password" name="Municipalities" id="id_Municipalities" value="{{ object.Municipalities }}">
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="id_Address">番地</label>
                                {% if form.errors.Address %}
                                {% for error in form.errors.Address %}
                                <input type="text" class="form-control is-invalid" autocomplete="new-password" name="Address" id="id_Address" value="{{ object.Address }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control" autocomplete="new-password" name="Address" id="id_Address" value="{{ object.Address }}">
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="id_BuildingName">建物名</label>
                                {% if form.errors.BuildingName %}
                                {% for error in form.errors.BuildingName %}
                                <input type="text" class="form-control is-invalid" autocomplete="new-password" name="BuildingName" id="id_BuildingName" value="{{ object.BuildingName }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control" autocomplete="new-password" name="BuildingName" id="id_BuildingName" value="{{ object.BuildingName }}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_PhoneNumber">電話番号</label>
                                {% if form.errors.PhoneNumber %}
                                {% for error in form.errors.PhoneNumber %}
                                <input type="text" class="form-control is-invalid" autocomplete="new-password" name="PhoneNumber" id="id_PhoneNumber" onInput="checkForm(this)" value="{{ object.PhoneNumber }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control" autocomplete="new-password" name="PhoneNumber" id="id_PhoneNumber" onInput="checkForm(this)" value="{{ object.PhoneNumber }}">
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_FaxNumber">FAX番号</label>
                                {% if form.errors.FaxNumber %}
                                {% for error in form.errors.FaxNumber %}
                                <input type="text" class="form-control is-invalid" autocomplete="new-password" name="FaxNumber" id="id_FaxNumber" onInput="checkForm(this)" value="{{ object.FaxNumber }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control" autocomplete="new-password" name="FaxNumber" id="id_FaxNumber" onInput="checkForm(this)" value="{{ object.FaxNumber }}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_MasterDiv">マスター区分</label>
                                <select class="custom-select" name="MasterDiv" id="id_MasterDiv">
                                    {% for data in form.MasterDiv %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_ClosingDate">締日</label>
                                <select class="custom-select" name="ClosingDate" id="id_ClosingDate">
                                    {% for data in form.ClosingDate %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_ManagerCode">担当者</label>
                                {% if form.errors.ManagerCode %}
                                {% for error in form.errors.ManagerCode %}
                                <select class="custom-select is-invalid" name="ManagerCode" id="id_ManagerCode">
                                    {% for data in form.ManagerCode %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <select class="custom-select" name="ManagerCode" id="id_ManagerCode">
                                    {% for data in form.ManagerCode %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                                {% endif %}   
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_OffsetDiv">相殺出力区分</label>
                                <select class="custom-select" name="OffsetDiv" id="id_OffsetDiv">
                                    {% for data in form.OffsetDiv %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="item2" role="tabpanel" aria-labelledby="item2-tab">
                    {% include "crud/customersupplier/update/customersupplierformcontinueupdate.html" %}
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary btn-sm">&nbsp;&nbsp;保&nbsp;&nbsp;存&nbsp;&nbsp;</button>
                <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='{% url 'myapp:list' %}'">&nbsp;&nbsp;中&nbsp;&nbsp;止&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
