{% extends "crud/base.html" %}
{% block content %}
<div class="fds-page-login">
    <div class="fds-bgi">
      <div class="fds-panel fds-panel--plain">
          <form method="POST">
            {% csrf_token %}
            <div class="fds-page-login__form">
              {% if form.non_field_errors %}
              <div div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__error">
                {% for error in form.non_field_errors %}
                  {{ error }}
              </div>
                {% endfor %}
              {% endif %}              
                <div class="fds-form-label fds-form-label--vertical">
                    <span class="fds-label">新しいパスワード</span>
                    <div class="fds-form-input-icon fds-form-input-icon--left">
                        <span class="fds-icon fds-icon--key"></span>
                        <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="fds-form-input fds-form-input--large" placeholder="新しいパスワードを入力してください"/>
                    </div>
                    <span class="helptext"><ul><li>あなたの他の個人情報と似ているパスワードにはできません。</li><li>パスワードは最低 8 文字以上必要です。</li><li>よく使われるパスワードにはできません。</li><li>数字だけのパスワードにはできません。</li></ul></span>
                </div>
                <div class="fds-form-label fds-form-label--vertical">
                    <span class="fds-label">新しいパスワード(確認用)</span>
                    <div class="fds-form-input-icon fds-form-input-icon--left">
                        <span class="fds-icon fds-icon--key"></span>
                        <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="fds-form-input fds-form-input--large" placeholder="新しいパスワードを入力してください"/>
                    </div>
                </div>
              </div>
              <button class="fds-btn fds-btn--primary fds-btn--giant" type="submit">パスワードリセット</button>
          </form>
      </div>
    </div>
</div>
{% endblock %}