{% extends 'crud/base.html' %}
{% block content %}
{% load humanize %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'myapp:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'myapp:Depositlist' %}">入金情報一覧</a></li>
            <li class="breadcrumb-item active" aria-current="page">入金情報編集</li>
        </ol>
    </nav>
	<div class="form-group">
        <form method="post" id="form">{% csrf_token %}
            <div class="tab-content">
                <div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_DepositDate">入金日</label>
                                {% if form.errors.DepositDate %}
                                {% for error in form.errors.DepositDate %}
                                    <input type="tel" class="form-control is-invalid" autocomplete="new-password" name="DepositDate" id="id_DepositDate" value="{{ object.DepositDate }}">
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                    <input type="tel" class="form-control" autocomplete="new-password" name="DepositDate" id="id_DepositDate" value="{{ object.DepositDate }}">
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_DepositCustomerCode">得意先</label>
                                {% if form.errors.DepositCustomerCode %}
                                {% for error in form.errors.DepositCustomerCode %}
                                <input type="tel" class="form-control is-invalid" list="Deposit" autocomplete="new-password" name="DepositCustomerCode" id="id_DepositCustomerCode" value="{{ object.DepositCustomerCode.CustomerCode }} {{ object.DepositCustomerCode.CustomerOmitName }}">
                                <datalist id="Deposit">
                                {% for data in DepositCustomerCode %}
                                    <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                {% endfor %}
                                </datalist>
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="tel" class="form-control" list="Deposit" autocomplete="new-password" name="DepositCustomerCode" id="id_DepositCustomerCode" value="{{ object.DepositCustomerCode.CustomerCode }} {{ object.DepositCustomerCode.CustomerOmitName }}">
                                <datalist id="Deposit">
                                {% for data in DepositCustomerCode %}
                                    <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                {% endfor %}
                                </datalist>
                                {% endif %}
                                <input type="hidden" name="DepositCustomerCode" id="id_DepositCustomerCode" value="{{ object.DepositCustomerCode_id }}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_DepositMoney">入金金額</label>
                                {% if form.errors.DepositMoney %}
                                {% for error in form.errors.DepositMoney %}
                                <input type="text" class="form-control is-invalid text-right DepositMoney" autocomplete="new-password" name="DepositMoney" id="id_DepositMoney" onchange="comma(this);" value="{{ object.DepositMoney | intcomma }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control text-right DepositMoney" autocomplete="new-password" name="DepositMoney" id="id_DepositMoney" onchange="comma(this);" value="{{ object.DepositMoney | intcomma }}">
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_DepositDiv">入金区分</label>
                                <select class="custom-select" name="DepositDiv" id="id_DepositDiv">
                                    {% for data in form.DepositDiv %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                <label for="id_DepositSummary">摘要</label>
                                {% if form.errors.DepositSummary %}
                                {% for error in form.errors.DepositSummary %}
                                <input type="text" class="form-control is-invalid" autocomplete="new-password" name="DepositSummary" id="id_DepositSummary" value="{{ object.DepositSummary }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control" autocomplete="new-password" name="DepositSummary" id="id_DepositSummary" value="{{ object.DepositSummary }}">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% block extrajs %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
            <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
            <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            {% load static %}
            <script src="{% static '\js\tab.js' %}" charset="UTF-8"></script>
            <script src="{% static '\js\enter.js' %}" charset="UTF-8"></script>
            <script src="{% static '\js\datalist.js' %}" charset="UTF-8"></script>
            <script src="{% static '\js\datepickerdepopay.js' %}" charset="UTF-8"></script>
            <script src="{% static '\js\commadepopay.js' %}" charset="UTF-8"></script>
            {% endblock %}       
            <div class="text-right">
                <button type="submit" class="btn btn-primary btn-sm">&nbsp;&nbsp;保&nbsp;&nbsp;存&nbsp;&nbsp;</button>
                <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='{% url 'myapp:Depositlist' %}'">&nbsp;&nbsp;中&nbsp;&nbsp;止&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
