{% extends 'crud/base.html' %}
{% block content %}
    <div class="fds-breadcrumb">
        <div class="fds-breadcrumb__item">
            <a href="{% url 'myapp:index' %}" class="fds-breadcrumb__link">HOME</a>
        </div>
        <div class="fds-breadcrumb__item">
            <a href="#" class="fds-breadcrumb__link">製品発注情報一覧</a>
        </div>
    </div>
    <div class="fds-closure">
        <div class="fds-clousure--top-section">
            <div class="fds-clousure--top-section-text">
            </div>
            <button class="fds-btn fds-btn--primary fds-btn--small" style="width: 200px" onclick="location.href='{% url 'myapp:productordernew' %}'">
            <span class="fds-icon fds-icon--add-white"></span>
            新規登録
        </button>
    </div>
    <form method="get" id="form">
		{% csrf_token %}
		{% if messages %}
		<div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__error" style="width:300px;">
			{% for message in messages %}
				  {{ message }}
		  </div>
			{% endfor %}
		{% endif %}
		<div class="fds-clousure--bottom-section">
			<div class="fds-form-label fds-form-label--horizontal" style="width:100%;">
				<div class="fds-form-input-message">
					<label class="fds-label-input">キーワード</label>
					<input type="search" name="query" id ="query" class="fds-form-input fds-form-input--medium" style="width:200px;" value="{{ request.GET.query }}"/>
					<label class="fds-label-input">発注日(From)</label>
					<input type="search" name="productorderdateFrom" id="productorderdateFrom" class="fds-form-input fds-form-input--medium" style="width:200px;" value="{{ request.GET.productorderdateFrom }}"/>
					<label class="fds-label-input">発注日(To)</label>
					<input type="search" name="productorderdateTo" id="productorderdateTo" class="fds-form-input fds-form-input--medium" style="width:200px;" value="{{ request.GET.productorderdateTo }}"/>
					<span><button class="fds-btn fds-btn--primary fds-btn--small" style="width: 100px;" type="submit">
						検索
					</button></span>
				</div>
			</div>
		</div>
    </form>
	{% block extrajs %}
	<!-- Datepicker 追加-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
	{% load static %}
	<script>
		// 依頼日(From)検索用
		var productorderdateFrom = document.getElementById('productorderdateFrom');
		var fp = flatpickr(orderdateFrom, {
			'locale': 'ja',
			allowInput: true,
			// onCloseは入力フォームが閉じられた時に発火する
			onClose: (selectedDates, dateStr, instance) => {
				if (selectedDates.length === 1) {
					// プロパティにユーザーが選択した日付を代入
					this.dateProps = selectedDates[0];
				}
			}
		});

		// 依頼日(To)検索用
		var productorderdateTo = document.getElementById('productorderdateTo');
		var fp = flatpickr(orderdateTo, {
			'locale': 'ja',
			allowInput: true,
			// onCloseは入力フォームが閉じられた時に発火する
			onClose: (selectedDates, dateStr, instance) => {
				if (selectedDates.length === 1) {
					// プロパティにユーザーが選択した日付を代入
					this.dateProps = selectedDates[0];
				}
			}
		});
	</script>
	{% endblock %}  
	<div class="fds-table-controller">
        <div class="fds-page-table__title">
        </div>
    </div>
  	<div class="fds-table-container">
    	<div class="fds-table">
      		<div class="fds-table-fixed-container">
        		<table class="fds-table__inner">
          			<thead>
            			<tr class="fds-table__tr">
							<th class="fds-table__th">
								<div class="fds-table__th-content fds-table__th-content--text" style="width: 120px;">
									<span class="fds-table__th-text">
										発注番号
									</span>
									<span class="fds-icon fds-icon--filter fds-icon--small">
									</span>
								</div>
							</th>
							<th class="fds-table__th">
								<div class="fds-table__th-content fds-table__th-content--text" style="width: 150px;">
									<span class="fds-table__th-text">
										発注日
									</span>
									<span class="fds-icon fds-icon--filter fds-icon--small">
									</span>
								</div>
							</th>
							<th class="fds-table__th">
								<div class="fds-table__th-content fds-table__th-content--text" style="width: 150px;">
									<span class="fds-table__th-text">
										納期
									</span>
									<span class="fds-icon fds-icon--filter fds-icon--small">
									</span>
								</div>
							</th>
							<th class="fds-table__th">
								<div class="fds-table__th-content fds-table__th-content--text" style="width: 90px;">
									<span class="fds-table__th-text">
										オーダーNO
									</span>
								</div>
							</th>
							<th class="fds-table__th">
								<div class="fds-table__th-content fds-table__th-content--text" style="width: 120px;">
									<span class="fds-table__th-text">
										商品コード
									</span>
								</div>
							</th>
							<th class="fds-table__th">
								<div class="fds-table__th-content fds-table__th-content--text fds-table__th-text--filtered" style="width: 150px;">
									<span class="fds-table__th-text">
										本品番
									</span>
								</div>
							</th>
							<th class="fds-table__th">
								<div class="fds-table__th-content fds-table__th-content--text fds-table__th-text--filtered" style="width: 150px;">
									<span class="fds-table__th-text">
										仕入先名
									</span>
								</div>
							</th>
							<th class="fds-table__th">
				                <div class="fds-table__th-content fds-table__th-content--text fds-table__th-text--filtered" style="width: 100px;">
				                	<span class="fds-table__th-text">
                    					アパレル名
				                	</span>
                				</div>
							</th>
							<th class="fds-table__th">
								<div class="fds-table__th-content fds-table__th-content--text fds-table__th-text--filtered" style="width: 150px;">
									<span class="fds-table__th-text">
										ブランド名
									</span>
								</div>
							</th>
							<th class="fds-table__th">
								<div class="fds-table__th-content fds-table__th-content--icon" style="width: 125px;">
									<span class="fds-table__th-text">
										アクション
									</span>
								<div>
							</th>
			            </tr>
					</thead>
			        <tbody class="fds-table__tbody-hover-button">
						{% for ProductOrder in object_list %}
						<tr class="fds-table__tr">
							<td class="fds-table__td">
								<div class="fds-table__td-content" style="width: 120px;">
									<span class="fds-table__td-text">
										{{ ProductOrder.id }}
									</span>
								</div>
							</td>
							<td class="fds-table__td">
								<div class="fds-table__td-content" style="width: 150px;">
									<span class="fds-table__td-text">
										{{ ProductOrder.ProductOrderOrderingDate }}
									</span>
								</div>
							</td>
							<td class="fds-table__td">
								<div class="fds-table__td-content" style="width: 150px;">
									<span class="fds-table__td-text">
										{{ ProductOrder.ProductOrderDeliveryDate }}
									</span>
								</div>
							</td>
				            <td class="fds-table__td">
								<div class="fds-table__td-content" style="width: 90px;">
									<span class="fds-table__td-text">
										{{ ProductOrder.ProductOrderSlipDiv }}
									</span>
									<span class="fds-table__td-text">
										{{ ProductOrder.ProductOrderOrderNumber }}
									</span>
								</div>
							</td>
							<td class="fds-table__td">
								<div class="fds-table__td-content" style="width: 150px;">
									<span class="fds-table__td-text">
										{{ ProductOrder.ProductOrderMerchandiseCode }}
									</span>
								</div>
							</td>
							<td class="fds-table__td">
								<div class="fds-table__td-content" style="width: 150px;">
									<span class="fds-table__td-text">
										{{ ProductOrder.ProductOrderPartNumber }}
									</span>
								</div>
							</td>
							<td class="fds-table__td">
								<div class="fds-table__td-content" style="width: 100px;">
									<span class="fds-table__td-text">
										{{ ProductOrder.ProductOrderSupplierCode.CustomerOmitName }}                 
									</span>
								</div>
							</td>
							<td class="fds-table__td">
								<div class="fds-table__td-content" style="width: 150px;">
									<span class="fds-table__td-text">
										{{ ProductOrder.ProductOrderApparelCode.CustomerOmitName }}                 
									</span>
								</div>
							</td>
							<td class="fds-table__td">
								<div class="fds-table__td-content" style="width: 150px;">
									<span class="fds-table__td-text">
										{{ ProductOrder.ProductOrderBrandName }}                 
									</span>
								</div>
							</td>
							<!-- <td class="fds-table__td">
								<div class="fds-table__td-content" style="width: 120px;">
								</div>
							</td> -->
							<td class="fds-table__td">
								<div class="fds-table__td-content" style="width: 125px;">
								</div>
							</td>
			            </tr>
            			{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
  	</div>
	<div class="fds-pagination">
		{% include "crud/pagination.html" %}
	</div>
	{% endblock %}