{% extends 'crud/base.html' %}
{% block content %}
<div class="fds-layout-body">
	<!-- PDF 出力テスト -->
	<form method="post">
        {% csrf_token %}
        <button class="fds-btn fds-btn--primary fds-btn--small" style="width: 100px" type="submit">pdf出力</button>
	</form>

	<button class="fds-btn fds-btn--primary fds-btn--small" id="modalOpen" style="width: 100px" type="button">モーダル</button>

	<div class="fds-uxhub-preview" id="modal">
		<div class="fds-dialog">
		  <div class="fds-dialog__title">タイトル</div>
		  <div class="fds-dialog__body">本文</div>
		  <div class="fds-dialog__footer">
			<button class="fds-btn fds-btn--cancel" id="modalClose">中止</button>
			<button class="fds-btn fds-btn--error" id="delete">削除</button>
		  </div>
		</div>
	</div>
	{% load static %}
	<script>
		var btn = document.getElementById('modalOpen');
		var cls = document.getElementById('modalClose');
		var dlt = document.getElementById('delete');
		var modal = document.getElementsByClassName('fds-uxhub-preview');
	
		btn.addEventListener('click', function() {
			for(i=0;i<modal.length;i++){
				modal[i].style.opacity = '1';
				modal[i].style.visibility = 'visible';
			}
		})
		dlt.addEventListener('click', function() {
            document.delform.submit();
		})
        cls.addEventListener('click', function() {
			for(i=0;i<modal.length;i++){
				modal[i].style.opacity = '0';
				modal[i].style.visibility = 'hidden';
			}
		})
	</script>

</div>
{% endblock %}