										{% block content %}
										{% load humanize %}
										<div class="tab-contents-item">
											</style>
											<div class="fds-table-container">
												<div class="fds-table">
													<table class="fds-table__inner" id="tblrowcolor">
														<thead>
															<tr class="fds-table__tr">
																<th class="fds-table__th">
																	<div class="fds-table__th-content fds-table__th-content--text">
																		<span class="fds-table__th-text">カラー/サイズ</span>
																	</div>
																</th>
																{% for detail_size in detail_size %}
																<th class="fds-table__th">
																	<div class="fds-table__th-content fds-table__th-content--text">
																		<span class="fds-table__th-text">{{ detail_size.McdSize }}</span>
																	</div>
																</th>
																{% endfor %}
															</tr>
														</thead>
														<tbody id="list">
															{% for detail_color in detail_color %}
															<tr class="fds-table__tr fds-table__tr--hoverable list_var">
																<td class="fds-table__td">
																	<div class="fds-table__td-content">
																		<label class="fds-label-input">{{ detail_color.McdColor }}</label>										
																	</div>
																</td>
																{% for detail_size in detail_size %}
																<td class="fds-table__td">
																	<div class="fds-table__td-content">
																		<input type="text" class="fds-form-input" style="text-align: right;">
																	</div>
																</td>
																{% endfor %}
															</tr>
															{% endfor %}
														</tbody>
													</table>
												</div>
											</div>
										</div>
										{% endblock %}
