{% extends 'crud/base.html' %}
{% block content %}
                        <form method="post" id="form">
                            {% csrf_token %}
                            <div class="fds-page-table__main">
                                <div class="fds-breadcrumb">
                                    <div class="fds-breadcrumb__item">
                                        <a href="{% url 'myapp:index' %}" class="fds-breadcrumb__link">
                                            HOME
                                        </a>
                                    </div>
                                    <div class="fds-breadcrumb__item">
                                        <a href="{% url 'myapp:productorderlist' %}" class="fds-breadcrumb__link">
                                            製品発注情報一覧・検索
                                        </a>
                                    </div>
                                    <div class="fds-breadcrumb__item">
                                        <span class="fds-breadcrumb__link">
                                            製品発注情報編集
                                        </span>
                                    </div>
                                </div>
                                <div class="fds-page-table__title-box">
                                    <div class="fds-page-table__title">
                                        編集
                                    </div>
                                    <div class="fds-page-table__search-form">
                                        <button type="button" class="fds-btn fds-btn--basic" onclick="location.href='{% url 'myapp:productorderlist' %}'" style="width: 100px">
                                            キャンセル
                                        </button>
                                        <button type="submit" class="fds-btn fds-btn--primary" style="width: 100px">
                                            保存
                                        </button>
                                    </div>
                                </div>
                                <div class="fds-panel fds-panel--plain" style="width: 100%; height: 90%;">
                                    <div class="wrap-tab">
                                        <ul class="fds-tabs" id="js-tab">
                                            <li class="fds-tabs__item fds-tabs__item--active">基本情報</li>
                                            <li class="fds-tabs__item">カラー/サイズ</li>
                                        </ul>
                                        <div class="tab-contents-item active">
                                            <div class="fds-form-input-message" style="width:30%;">
                                            {% if form.non_field_errors %}
                                                {% for error in form.non_field_errors %}
                                                <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                {% endfor %}
                                            {% endif %}
                                            </div>
                                            <div class="fds-page-detail__main">
                                                <div class="fds-form-label fds-form-label--horizontal">
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 伝票区分 -->
                                                        <label class="fds-label-input">オーダーNO:</label>
                                                        <input type="text" class="fds-form-input" placeholder="" name="ProductOrderSlipDiv" id="id_ProductOrderSlipDiv" maxlength="1" style="width:8%;" value={{ object.ProductOrderSlipDiv }} readonly>
                                                        <!-- オーダーNO -->
                                                        <span>-</span>
                                                        <input type="text" class="fds-form-input" placeholder="" style="text-align: right; width:40%;" name="ProductOrderOrderNumber" id="id_ProductOrderOrderNumber" maxlength="7" onchange="Productorder(this);" value={{ object.ProductOrderOrderNumber }} readonly>
                                                        {% if form.errors.ProductOrderOrderNumber %}
                                                        {% for error in form.errors.ProductOrderOrderNumber %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" style="width:100%;" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 発注日 -->
                                                        <label class="fds-label-input">発注日:</label>
                                                        <input type="text" class="fds-form-input" placeholder="" name="ProductOrderOrderingDate" id="id_ProductOrderOrderingDate" maxlength="10" value={{ object.ProductOrderOrderingDate }}>
                                                        {% if form.errors.ProductOrderOrderingDate %}
                                                        {% for error in form.errors.ProductOrderOrderingDate %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 担当者 -->
                                                        <div class="fds-page-input-select">
                                                            <label class="fds-label-input">担当者：</label>
                                                            <div class="fds-select-container">
                                                                <select class="fds-select fds-form-input fds-form-input--medium" name="ProductOrderManagerCode" id="id_ProductOrderManagerCode">
                                                                    {% for data in form.ProductOrderManagerCode %}
                                                                    {{ data }}
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        {% if form.errors.ProductOrderManagerCode %}
                                                        {% for error in form.errors.ProductOrderManagerCode %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}   
                                                    </div>                       
                                                </div>
                                                <div class="fds-form-label fds-form-label--horizontal">
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 商品コード -->
                                                        <label class="fds-label-input">商品コード:</label>
                                                        <input type="text" class="fds-form-input" placeholder=""  maxlength="5" style="text-align: right;" name="ProductOrderMerchandiseCode" id="id_ProductOrderMerchandiseCode" value={{ object.ProductOrderMerchandiseCode }} readonly>                                  
                                                        {% if form.errors.ProductOrderMerchandiseCode %}
                                                        {% for error in form.errors.ProductOrderMerchandiseCode %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 本品番 -->
                                                        <label class="fds-label-input">本品番:</label>
                                                        <input type="text" class="fds-form-input" placeholder=""  maxlength="20" name="ProductOrderPartNumber" id="id_ProductOrderPartNumber" value={{ object.ProductOrderPartNumber }} readonly>
                                                        {% if form.errors.ProductOrderPartNumber %}
                                                        {% for error in form.errors.ProductOrderPartNumber %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <label class="fds-label-input">納期:</label>
                                                        <input type="text" class="fds-form-input" placeholder="" name="ProductOrderDeliveryDate" id="id_ProductOrderDeliveryDate" maxlength="10" value={{ object.ProductOrderDeliveryDate }}>
                                                        {% if form.errors.ProductOrderDeliveryDate %}
                                                        {% for error in form.errors.ProductOrderDeliveryDate %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="fds-form-label fds-form-label--horizontal">
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 手配先 -->
                                                        <div class="fds-page-input-select">
                                                            <label class="fds-label-input">手配先:</label>
                                                            <input type="tel" class="fds-form-input" placeholder="" list="ProductOrderDestination" name="ProductOrderDestinationCode" id="id_ProductOrderDestinationCode" value="{{ object.ProductOrderDestinationCode.CustomerCode }} {{ object.ProductOrderDestinationCode.CustomerOmitName }}">
                                                            <datalist id="ProductOrderDestination">
                                                            {% for data in ProductOrderDestinationCode %}
                                                                <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                                            {% endfor %}
                                                            </datalist>
                                                            <input type="hidden" name="ProductOrderDestinationCode" id="id_ProductOrderDestinationCode" value={{ form.ProductOrderDestinationCode.value }}>
                                                        </div>
                                                        {% if form.errors.ProductOrderDestinationCode %}
                                                        {% for error in form.errors.ProductOrderDestinationCode %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}   
                                                    </div>
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 仕入先 -->
                                                        <div class="fds-page-input-select">
                                                            <label class="fds-label-input">仕入先:</label>
                                                            <input type="tel" class="fds-form-input" placeholder="" list="ProductOrderSupplier" name="ProductOrderSupplierCode" id="id_ProductOrderSupplierCode" value="{{ object.ProductOrderSupplierCode.CustomerCode }} {{ object.ProductOrderSupplierCode.CustomerOmitName }}">
                                                            <datalist id="ProductOrderSupplier">
                                                            {% for data in ProductOrderSupplierCode %}
                                                                <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                                            {% endfor %}
                                                            </datalist>
                                                            <input type="hidden" name="ProductOrderSupplierCode" id="id_ProductOrderSupplierCode" value={{ form.ProductOrderSupplierCode.value }}>
                                                        </div>
                                                        {% if form.errors.ProductOrderSupplierCode %}
                                                        {% for error in form.errors.ProductOrderSupplierCode %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}   
                                                    </div>
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 出荷先 -->
                                                        <div class="fds-page-input-select">
                                                            <label class="fds-label-input">出荷先:</label>
                                                            <input type="tel" class="fds-form-input" placeholder="" list="ProductOrderShipping" name="ProductOrderShippingCode" id="id_ProductOrderShippingCode" value="{{ object.ProductOrderShippingCode.CustomerCode }} {{ object.ProductOrderShippingCode.CustomerOmitName }}">
                                                            <datalist id="ProductOrderShipping">
                                                            {% for data in ProductOrderShippingCode %}
                                                                <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                                            {% endfor %}
                                                            </datalist>
                                                            <input type="hidden" name="ProductOrderShippingCode" id="id_ProductOrderShippingCode" value={{ form.ProductOrderShippingCode.value }}>
                                                        </div>
                                                        {% if form.errors.ProductOrderShippingCode %}
                                                        {% for error in form.errors.ProductOrderShippingCode %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}   
                                                    </div>
                                                </div>
                                                <div class="fds-form-label fds-form-label--horizontal">
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 得意先 -->
                                                        <div class="fds-page-input-select">
                                                            <label class="fds-label-input">得意先:</label>
                                                            <input type="tel" class="fds-form-input" placeholder="" list="ProductOrderCustome" name="ProductOrderCustomeCode" id="id_ProductOrderCustomeCode" value="{{ object.ProductOrderCustomeCode.CustomerCode }} {{ object.ProductOrderCustomeCode.CustomerOmitName }}">
                                                            <datalist id="ProductOrderCustome">
                                                            {% for data in ProductOrderCustomeCode %}
                                                                <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                                            {% endfor %}
                                                            </datalist>
                                                            <input type="hidden" name="ProductOrderCustomeCode" id="id_ProductOrderCustomeCode" value={{ form.ProductOrderCustomeCode.value }}>
                                                        </div>
                                                        {% if form.errors.ProductOrderCustomeCode %}
                                                        {% for error in form.errors.ProductOrderCustomeCode %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}   
                                                    </div>
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 依頼先 -->
                                                        <div class="fds-page-input-select">
                                                            <label class="fds-label-input">依頼先:</label>
                                                            <input type="tel" class="fds-form-input" placeholder="" list="ProductOrderRequest" name="ProductOrderRequestCode" id="id_ProductOrderRequestCode" value="{{ object.ProductOrderRequestCode.CustomerCode }} {{ object.ProductOrderRequestCode.CustomerOmitName }}">
                                                            <datalist id="ProductOrderRequest">
                                                            {% for data in ProductOrderRequestCode %}
                                                                <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                                            {% endfor %}
                                                            </datalist>
                                                            <input type="hidden" name="ProductOrderRequestCode" id="id_ProductOrderRequestCode" value={{ form.ProductOrderRequestCode.value }}>
                                                        </div>
                                                        {% if form.errors.ProductOrderRequestCode %}
                                                        {% for error in form.errors.ProductOrderRequestCode %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}   
                                                    </div>
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- アパレルコード -->
                                                        <div class="fds-page-input-select">
                                                            <label class="fds-label-input">アパレル:</label>
                                                            <input type="tel" class="fds-form-input" placeholder="" list="ProductOrderApparel" name="ProductOrderApparelCode" id="id_ProductOrderApparelCode" value="{{ object.ProductOrderApparelCode.CustomerCode }} {{ object.ProductOrderApparelCode.CustomerOmitName }}">
                                                            <datalist id="ProductOrderApparel">
                                                            {% for data in ProductOrderApparelCode %}
                                                                <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                                            {% endfor %}
                                                            </datalist>
                                                            <input type="hidden" name="ProductOrderApparelCode" id="id_ProductOrderApparelCode" value={{ form.ProductOrderApparelCode.value }}>
                                                        </div>
                                                        {% if form.errors.ProductOrderApparelCode %}
                                                        {% for error in form.errors.ProductOrderApparelCode %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}   
                                                    </div>
                                                </div>
                                                <div class="fds-form-label fds-form-label--horizontal">
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 仕入先担当者名 -->
                                                        <label class="fds-label-input">仕入先担当:</label>
                                                        <input type="text" class="fds-form-input" placeholder="" name="ProductOrderSupplierPerson" id="id_ProductOrderSupplierPerson" value={{ form.data.ProductOrderSupplierPerson }}>
                                                        {% if form.errors.ProductOrderSupplierPerson %}
                                                        {% for error in form.errors.ProductOrderSupplierPerson %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 敬称区分 -->
                                                        <div class="fds-page-input-select">
                                                            <label class="fds-label-input">敬称:</label>
                                                            <div class="fds-select-container">
                                                                <select class="fds-select fds-form-input fds-form-input--medium" name="ProductOrderTitleDiv" id="id_ProductOrderTitleDiv">
                                                                    {% for data in form.ProductOrderTitleDiv %}
                                                                    {{ data }}
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="fds-form-input-message" style="width:50%;">
                                                        <!-- ブランド名 -->
                                                        <label class="fds-label-input">ブランド名:</label>
                                                        <input type="text" class="fds-form-input" placeholder="" name="ProductOrderBrandName" id="id_ProductOrderBrandName" value={{ object.ProductOrderBrandName }}>
                                                        {% if form.errors.ProductOrderBrandName %}
                                                        {% for error in form.errors.ProductOrderBrandName %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="fds-form-label fds-form-label--horizontal">
                                                    <div class="fds-form-input-message" style="width:50%;">
                                                        <!-- マーク名 -->
                                                        <label class="fds-label-input">マーク名:</label>
                                                        <input type="text" class="fds-form-input" placeholder="" name="ProductOrderMarkName" id="id_ProductOrderMarkName" value={{ object.ProductOrderMarkName }}>
                                                        {% if form.errors.ProductOrderMarkName %}
                                                        {% for error in form.errors.ProductOrderMarkName %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="fds-form-label fds-form-label--horizontal">
                                                    <div class="fds-form-input-message" style="width:100%;">
                                                        <!-- 摘要 -->
                                                        <label class="fds-label-input">摘要:</label>
                                                        <input type="text" class="fds-form-input" placeholder="" name="ProductOrderSummary" id="id_ProductOrderSummary" style="width:65%;" value={{ object.ProductOrderSummary }}>
                                                        {% if form.errors.ProductOrderSummary %}
                                                        {% for error in form.errors.ProductOrderSummary %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            {% include "crud/productorder/update/productordertableupdate.html" %}
                                    </div>
                                </div>
                            </div>
                        </form>
                        {% endblock %}
