{% block content %}
	<div class="fds-table-actions">
		<button type="button" id="add" class="fds-btn fds-btn--primary fds-btn--tiny" style="width: 100px">行追加</button>
	</div>
	{{ formset.management_form }}
	<div class="fds-table">
		<table class="fds-table__inner">
			<thead>
				<tr class="fds-table__tr">
					<th class="fds-table__th">
						<div class="fds-table__th-content fds-table__th-content--text" style="width: 50px;">
							<span class="fds-table__th-text">
							項番
							</span>
						</div>
					</th>
					<th class="fds-table__th">
						<div class="fds-table__th-content fds-table__th-content--text" style="width: 50px;">
							<span class="fds-table__th-text">
							色番
							</span>
						</div>
					</th>
					<th class="fds-table__th">
						<div class="fds-table__th-content fds-table__th-content--text" style="width: 70px;">
							<span class="fds-table__th-text">
							カラー
							</span>
						</div>
					</th>
					<th class="fds-table__th">
						<div class="fds-table__th-content fds-table__th-content--text" style="width: 50px;">
							<span class="fds-table__th-text">
							仕立
							</span>
						</div>
					</th>
					<th class="fds-table__th">
						<div class="fds-table__th-content fds-table__th-content--text" style="width: 70px;">
							<span class="fds-table__th-text">
							数量
							</span>
						</div>
					</th>
					<th class="fds-table__th">
						<div class="fds-table__th-content fds-table__th-content--text" style="width: 96px;">
							<span class="fds-table__th-text">
							　仕入単価
							</span>
						</div>
					</th>
					<th class="fds-table__th">
						<div class="fds-table__th-content fds-table__th-content--text" style="width: 96px;">
							<span class="fds-table__th-text">
							　通常単価
							</span>
						</div>
					</th>
					<th class="fds-table__th">
						<div class="fds-table__th-content fds-table__th-content--text" style="width: 96px;">
							<span class="fds-table__th-text">
							　UP分単価
							</span>
						</div>
					</th>
					<th class="fds-table__th">
						<div class="fds-table__th-content fds-table__th-content--text" style="width: 96px;">
							<span class="fds-table__th-text">
							　販売単価
							</span>
						</div>
					</th>
					<th class="fds-table__th">
						<div class="fds-table__th-content fds-table__th-content--text" style="width: 96px;">
							<span class="fds-table__th-text">
							　　出荷数
							</span>
						</div>
					</th>
					<th class="fds-table__th">
						<div class="fds-table__th-content fds-table__th-content--text" style="width: 96px;">
							<span class="fds-table__th-text">
							　納期管理表
							</span>
						</div>
					</th>
					<th class="fds-table__th">
						<div class="fds-table__th-content fds-table__th-content--text" style="width: 96px;">
							<span class="fds-table__th-text">
							Check
							</span>
						</div>
					</th>
					<th class="fds-table__th">
						<div class="fds-table__th-content fds-table__th-content--icon" style="width: 48px;">
							<span class="fds-icon fds-icon--more-vert"></span>
						</div>
					</th>
				</tr>
			</thead>
			<tbody id="tbl">
				{% for form in formset %}
				<tr class="fds-table__tr fds-table__tr--hoverable">
					<td class="fds-table__td">
						<div class="fds-table__td-content" style="width: 50px; text-align: right;">
							<input type="text" class="fds-form-input" style="width: 50px;" name="OrderingTableId-0-DetailItemNumber" id="id_OrderingTableId-0-DetailItemNumber" >
						</div>
					</td>
					<td class="fds-table__td">
						<div class="fds-table__td-content" style="width: 50px;">
							<input type="text" class="fds-form-input" style="width: 50px;" name="OrderingTableId-0-DetailColorNumber" id="id_OrderingTableId-0-DetailColorNumber" >                                          
						</div>
					</td>
					<td class="fds-table__td">
						<div class="fds-table__td-content" style="width: 70px;">
							<input type="text" class="fds-form-input" style="width: 70px;" name="OrderingTableId-0-DetailColor" id="id_OrderingTableId-0-DetailColor" >                                   
						</div>
					</td>
					<td class="fds-table__td">
						<div class="fds-table__td-content" style="width: 50px;">
							<input type="text" class="fds-form-input" style="width: 50px;" name="OrderingTableId-0-DetailTailoring" id="id_OrderingTableId-0-DetailTailoring" >                                   
						</div>
					</td>
					<td class="fds-table__td">
						<div class="fds-table__td-content" style="width: 70px;">
							<input type="text" class="fds-form-input" style="width: 70px; text-align: right;" name="OrderingTableId-0-DetailVolume" id="id_OrderingTableId-0-DetailVolume" >                                   
						</div>
					</td>
					<td class="fds-table__td">
						<div class="fds-table__td-content" style="width: 96px;">
							<input type="text" class="fds-form-input" style="width: 96px; text-align: right;" name="OrderingTableId-0-DetailUnitPrice" id="id_OrderingTableId-0-DetailUnitPrice" >                                   
						</div>
					</td>
					<td class="fds-table__td">
						<div class="fds-table__td-content" style="width: 96px;">
							<input type="text" class="fds-form-input" style="width: 96px; text-align: right;" name="OrderingTableId-0-DetailPrice" id="id_OrderingTableId-0-DetailPrice" onchange="calc();" >                                   
						</div>
					</td>
					<td class="fds-table__td">
						<div class="fds-table__td-content" style="width: 96px;">
							<input type="text" class="fds-form-input" style="width: 96px; text-align: right;" name="OrderingTableId-0-DetailOverPrice" id="id_OrderingTableId-0-DetailOverPrice"  onchange="calc();">                                                                            
						</div>
					</td>
					<td class="fds-table__td">
						<div class="fds-table__td-content" style="width: 96px;">
							<input type="text" class="fds-form-input" style="width: 96px; text-align: right;" name="OrderingTableId-0-DetailSellPrice" id="id_OrderingTableId-0-DetailSellPrice" readonly>                                   
						</div>
					</td>
					<td class="fds-table__td">
						<div class="fds-table__td-content" style="width: 96px;">
							<input type="text" class="fds-form-input" style="width: 96px;" name="OrderingTableId-0-DetailSummary" id="id_OrderingTableId-0-DetailSummary" readonly>                                   
						</div>
					</td>
					<td class="fds-table__td">
						<div class="fds-table__td-content" style="width: 96px;">
							<input type="text" class="fds-form-input" style="width: 96px;" name="OrderingTableId-0-AnswerDeadline" id="id_OrderingTableId-0-AnswerDeadline" >                                   
						</div>
					</td>
					<td class="fds-table__td fds-table__td--col-fixed" style="width: 50px;">
						<div class="fds-table__td-content">
						<div class="fds-checkbox fds-checkbox--on-table">
							<label class="fds-checkbox__label">
								<input type="checkbox" class="fds-checkbox__input" name="OrderingTableId-0-DeliveryManageDiv" id="id_OrderingTableId-0-DeliveryManageDiv" >
								<span class="fds-checkbox__text">
								</span>
							</label>
						</div>
						</div>
					</td>
					<td class="fds-table__td">
						<div class="fds-table__td-content fds-table__td-content--icon" style="width: 48px;">
							<span class="fds-icon fds-icon--more-vert"></span>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
	<script>
		 const btn = document.getElementById('add');
		 const tbl = document.getElementById('tbl');
	 
		 // 行追加
		 btn.addEventListener('click',() => {
			 let html = '';
			 for(let i = 0; i < 11; i++) {
				if(i==0){
					html += '<tr class="fds-table__tr fds-table__tr--hoverable">';
				}
				html += '<td class="fds-table__td">';
				html += '	<div class="fds-table__td-content" style="width: 96px;">';
				html += '		<input type="text" class="fds-form-input" style="width: 96px;" />';
				html += '</div></td>';
				if(i==11){
					html += '</tr>';
				}
				 // html += `<tr><td><button onclick="del(event)">削除</button></td><td>${i}</td><td>${i*2}</td><td>${i*3}</td></tr>`
			 }
			 tbl.insertAdjacentHTML('beforeend', html);
		 });
	</script>