body {
	overflow: hidden;/*-- 画面外に移動した時にスクロールバーが出ないように --*/
}
#tip, #tip_bottom, #tip_right, #tip_spin {
	background-color:#CCC;
	display:none; /*-- 基本は非表示 --*/
	padding:10px;
	position:absolute;
	z-index:0;
}
a {
	text-decoration:none;
}