											{% block content %}
											<div class="tab-contents-item" style="width: 70%; height: 60vh;">
												<div class="fds-table-container">
													<div class="fds-table" style="width: 50%; height: 45vh;">
														<table class="fds-table__inner" id="tblrowfile">
															{% for image in images %}
															<tr>
																<img src="{{ image.middle.url }}" style="width: 50%; height: 50%;"/>
															</tr>
															{% endfor %}
														</table>
													</div>
												</div>
											</div>											
											<div class="fds-uxhub-preview" id="modal">
												<div class="fds-dialog">
												<div class="fds-dialog__title"></div>
												<div class="fds-dialog__body">削除してよろしいですか</div>
												<div class="fds-dialog__footer">
													<button type="button" class="fds-btn fds-btn--cancel" id="modalClose">中止</button>
													<button type="button" class="fds-btn fds-btn--error" id="delete">削除</button>
												</div>
												</div>
											</div>
											{% endblock %}
											{% block extrajs %}
											{% load static %}
											<script src="{% static '\js\tab.js' %}" charset="UTF-8"></script>
											<script src="{% static '\js\modal.js' %}" charset="UTF-8"></script>
											{% endblock %}
