{% extends 'crud/base.html' %}
{% block content %}
{% load humanize %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'myapp:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'myapp:merchandiselist' %}">商品情報一覧・検索</a></li>
            <li class="breadcrumb-item active" aria-current="page">商品削除</li>
        </ol>
    </nav>
	<div class="form-group">
        <form method="post" name="delform">
            {% csrf_token %}
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                <a class="nav-link active" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true">基本情報</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false">商品明細</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="item3-tab" data-toggle="tab" href="#item3" role="tab" aria-controls="item3" aria-selected="false">カラー</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="item4-tab" data-toggle="tab" href="#item4" role="tab" aria-controls="item4" aria-selected="false">サイズ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="item5-tab" data-toggle="tab" href="#item5" role="tab" aria-controls="item5" aria-selected="false">画像添付</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="item1" role="tabpanel" aria-labelledby="item1-tab">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_McdTreatmentCode">扱区分</label>
                                {% if form.errors.McdTreatmentCode %}
                                {% for error in form.errors.McdTreatmentCode %}
                                <select class="custom-select is-invalid" name="McdTreatmentCode" id="id_McdTreatmentCode" disabled>
                                    {% for data in form.McdTreatmentCode %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <select class="custom-select" name="McdTreatmentCode" id="id_McdTreatmentCode" disabled>
                                    {% for data in form.McdTreatmentCode %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                                {% endif %}
                                <input type="hidden" name="McdTreatmentCode" id="id_McdTreatmentCode" value="{{ form.McdTreatmentCode.value }}">
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_McdManagerCode">担当者</label>
                                {% if form.errors.McdManagerCode %}
                                {% for error in form.errors.McdManagerCode %}
                                <select class="custom-select is-invalid" name="McdManagerCode" id="id_McdManagerCode" disabled>
                                    {% for data in form.McdManagerCode %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <select class="custom-select" name="McdManagerCode" id="id_McdManagerCode" disabled>
                                    {% for data in form.McdManagerCode %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                                {% endif %}
                                <input type="hidden" name="McdManagerCode" id="id_McdManagerCode" value="{{ form.McdManagerCode.value }}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_McdTempPartNumber">仮品番</label>
                                {% if form.errors.McdTempPartNumber %}
                                {% for error in form.errors.McdTempPartNumber %}
                                <input type="tel" class="form-control is-invalid" name="McdTempPartNumber" id="id_McdTempPartNumber" value="{{ object.McdTempPartNumber }}" readonly>
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="tel" class="form-control" name="McdTempPartNumber" id="id_McdTempPartNumber" value="{{ object.McdTempPartNumber }}" readonly>
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_McdPartNumber">本品番</label>
                                {% if form.errors.McdPartNumber %}
                                {% for error in form.errors.McdPartNumber %}
                                <input type="tel" class="form-control is-invalid" name="McdPartNumber" id="id_McdPartNumber" value="{{ object.McdPartNumber }}" readonly>
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="tel" class="form-control" name="McdPartNumber" id="id_McdPartNumber" value="{{ object.McdPartNumber }}" readonly>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_ProductName">仕入単価</label>
                                {% if form.errors.ProductName %}
                                {% for error in form.errors.ProductName %}
                                <input type="text" class="form-control is-invalid McdUnitPrice" name="McdUnitPrice" id="id_McdUnitPrice" style="text-align: right;" onchange="comma(this);" value="{{ object.McdUnitPrice }}" readonly>
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control McdUnitPrice" name="McdUnitPrice" id="id_McdUnitPrice" style="text-align: right;" onchange="comma(this);" value="{{ object.McdUnitPrice }}" readonly>
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_McdUnitCode">仕入単位</label>
                                {% if form.errors.McdUnitCode %}
                                {% for error in form.errors.McdUnitCode %}
                                <select class="custom-select is-invalid" name="McdUnitCode" id="id_McdUnitCode" disabled>
                                    {% for data in form.McdUnitCode %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <select class="custom-select" name="McdUnitCode" id="id_McdUnitCode" disabled>
                                    {% for data in form.McdUnitCode %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                                {% endif %}
                                <input type="hidden" name="McdUnitCode" id="id_McdUnitCode" value="{{ form.McdUnitCode.value }}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_McdSellPrice">販売単価</label>
                                {% if form.errors.McdSellPrice %}
                                {% for error in form.errors.McdSellPrice %}
                                <input type="tel" class="form-control is-invalid McdSellPrice" name="McdSellPrice" id="id_McdSellPrice" style="text-align: right;" onchange="comma(this);" value="{{ object.McdSellPrice }}" readonly>
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="tel" class="form-control McdSellPrice" name="McdSellPrice" id="id_McdSellPrice" style="text-align: right;" onchange="comma(this);" value="{{ object.McdSellPrice }}" readonly>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_McdProcessfee">加工賃</label>
                                {% if form.errors.McdProcessfee %}
                                {% for error in form.errors.McdProcessfee %}
                                <input type="tel" class="form-control is-invalid McdProcessfee" name="McdProcessfee" id="id_McdProcessfee" style="text-align: right;" onchange="comma(this);" value="{{ object.McdProcessfee }}" readonly>
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="tel" class="form-control McdProcessfee" name="McdProcessfee" id="id_McdProcessfee" style="text-align: right;" onchange="comma(this);" value="{{ object.McdProcessfee }}" readonly>
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_McdProcessCode">加工単位</label>
                                {% if form.errors.McdProcessCode %}
                                {% for error in form.errors.McdProcessCode %}
                                <select class="custom-select is-invalid" name="McdProcessCode" id="id_McdProcessCode" disabled>
                                    {% for data in form.McdProcessCode %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <select class="custom-select" name="McdProcessCode" id="id_McdProcessCode" disabled>
                                    {% for data in form.McdProcessCode %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                                {% endif %}
                                <input type="hidden" name="McdProcessCode" id="id_McdProcessCode" value="{{ form.McdProcessCode.value }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="item2" role="tabpanel" aria-labelledby="item2-tab">
                    {% include "crud/merchandise/Delete/merchandisetableDelete.html" %}
                </div>
                <div class="tab-pane" id="item3" role="tabpanel" aria-labelledby="item3-tab">
                    {% include "crud/merchandise/Delete/merchandisecolorDelete.html" %}
                </div>
                <div class="tab-pane" id="item4" role="tabpanel" aria-labelledby="item4-tab">
                    {% include "crud/merchandise/Delete/merchandisesizeDelete.html" %}
                </div>
                <div class="tab-pane" id="item5" role="tabpanel" aria-labelledby="item5-tab">
                    {% include "crud/merchandise/Delete/merchandisefileDelete.html" %}
                </div>
            </div>
            <div class="text-right">
                <button type="button" id="modalOpen" class="btn btn-danger" data-toggle="modal" data-target="#modal">削除</button>
                <button type="button" class="btn btn-secondary" onclick="location.href='{% url 'myapp:merchandiselist' %}'">キャンセル</button>
            </div>
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="label1">削除</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            削除してよろしいですか
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="delete" class="btn btn-danger">削除</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">中止</button>
                        </div>
                    </div>
                </div>
            </div>
            {% block extrajs %}
            <!-- Datepicker 追加-->
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/jquery.add-input-area@4.11.0/dist/jquery.add-input-area.min.js" integrity="sha256-yOwGvcRp3I8/XWkeARhJkgdfLREQygbFA5W2bUpM2FY=" crossorigin="anonymous"></script>
            {% load static %}
            <script src="{% static '\js\inputareamcd.js' %}" charset="UTF-8"></script>
            <script src="{% static '\js\tab.js' %}" charset="UTF-8"></script>
            <script>
                var dlt = document.getElementById('delete');

                dlt.addEventListener('click', function() {
                    document.delform.submit();
                })
            </script>
            {% endblock %}
        </form>
    </div>
</div>
{% endblock %}
