											{% block content %}
											<div class="tab-contents-item" style="width: 70%; height: 60vh;">
												<div class="fds-table-container">
													<div class="fds-table" style="width: 50%; height: 45vh;">
														<table class="fds-table__inner" id="tblrowfile">
															{% for image in images %}
															<tr>
																<img src="{{ image.middle.url }}" style="width: 50%; height: 50%;"/>
															</tr>
															{% endfor %}
														</table>
													</div>
												</div>
											</div>											
											{% endblock %}
											{% block extrajs %}
											<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
											<script src="https://cdn.jsdelivr.net/npm/jquery.add-input-area@4.11.0/dist/jquery.add-input-area.min.js" integrity="sha256-yOwGvcRp3I8/XWkeARhJkgdfLREQygbFA5W2bUpM2FY=" crossorigin="anonymous"></script>
											{% load static %}
											<script src="{% static '\js\calc.js' %}" charset="UTF-8"></script>
											<script src="{% static '\js\inputareamcd.js' %}" charset="UTF-8"></script>
											<script src="{% static '\js\tab.js' %}" charset="UTF-8"></script>
											{% endblock %}