											{% block content %}
											{% load humanize %}
											<div class="tab-contents-item" style="width: 70%; height: 60vh;">
												<div class="fds-table-actions">
													<button type="button" class="fds-btn fds-btn--primary fds-btn--tiny addcolor" style="width: 60px">追加</button>
												</div>
												<input type="hidden" name="McdColorId-TOTAL_FORMS" id="McdColorId-TOTAL_FORMS">
												<div class="fds-table-container">
													<div class="fds-table" style="width: 50%; height: 45vh;">
														{{ inlinescolor.management_form }}	
														<table class="fds-table__inner" id="tblrowcolor">
															<thead>
																<tr class="fds-table__tr">
																	<th class="fds-table__th">
																		<div class="fds-table__th-content fds-table__th-content--text" style="width: 200px;">
																			<span class="fds-table__th-text">カラー</span>
																		</div>
																	</th>
																</tr>
															</thead>
															<tbody id="listcolor">
																{% for form in inlinescolor %}	
																<tr class="fds-table__tr fds-table__tr--hoverable colorarea">
																	<td class="fds-table__td">
																		<div id="div" class="fds-table__td-content">
																			{% if form.McdColor.value == 0 %}
																			<input type="text" class="fds-form-input McdColor" style="width: 200px;" data-id-format="id_McdColorId-%d-McdColor" data-name-format="McdColorId-%d-McdColor"
																			name="McdColorId-0-McdColor" id="id_McdColorId-0-McdColor">
																			{% else %}
																			<input type="text" class="fds-form-input McdColor" style="width: 200px;" data-id-format="id_McdColorId-%d-McdColor" data-name-format="McdColorId-%d-McdColor"
																			name="McdColorId-0-McdColor" id="id_McdColorId-0-McdColor" value="{{ form.McdColor.value | default_if_none:'' }}">
																			{% endif %}
																		</div>
																	</td>
																	<td class="fds-table__td">
																		<div id="div" class="fds-table__td-content">
																			<button type="button" class="fds-btn fds-btn--primary fds-btn--tiny delcolor" style="width: 60px;">削除</button>
																		</div>
																	</td>
																</tr>
																{% endfor %}
															</tbody>
														</table>
													</div>
												</div>
											</div>
											{% endblock %}
	
