											{% block content %}
											<div class="tab-contents-item" style="width: 70%; height: 60vh;">
												<div class="fds-table-actions">
													<button type="button" class="fds-btn fds-btn--primary fds-btn--tiny addfile" style="width: 60px">追加</button>
												</div>
												<input type="hidden" name="McdDtuploadid-TOTAL_FORMS" id="McdDtuploadid-TOTAL_FORMS">
												{{ inlinesfile.management_form }}	
												<div class="fds-table-container">
													<div class="fds-table" style="width: 50%; height: 45vh;">
														<table class="fds-table__inner" id="tblrowfile">
															<thead>
																<tr class="fds-table__tr">
																	<th class="fds-table__th">
																		<div class="fds-table__th-content fds-table__th-content--text" style="width: 200px;">
																			<span class="fds-table__th-text">添付ファイル</span>
																		</div>
																	</th>
																</tr>
															</thead>
															<tbody id="listfile">
																{% for form in inlinesfile %}	
																<tr class="fds-table__tr fds-table__tr--hoverable filearea">
																	<td class="fds-table__td">
																		<div id="div" class="fds-table__td-content">
						                                                    <input type="file" style="width: 200px;" data-id-format="id_McdDtuploadid-%d-uploadPath" data-name-format="McdDtuploadid-%d-uploadPath"
																			name="McdDtuploadid-0-uploadPath" id="McdDtuploadid-0-uploadPath">
																		</div>
																	</td>
																	<td class="fds-table__td">
																		<div id="div" class="fds-table__td-content">
																			<button type="button" class="fds-btn fds-btn--primary fds-btn--tiny delfile" style="width: 60px;">削除</button>
																		</div>
																	</td>
																</tr>
																{% endfor %}
															</tbody>
														</table>
													</div>
												</div>
											</div>
											{% endblock %}
											{% block extrajs %}
											<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
											<script src="https://cdn.jsdelivr.net/npm/jquery.add-input-area@4.11.0/dist/jquery.add-input-area.min.js" integrity="sha256-yOwGvcRp3I8/XWkeARhJkgdfLREQygbFA5W2bUpM2FY=" crossorigin="anonymous"></script>
											{% load static %}
											<script src="{% static '\js\calc.js' %}" charset="UTF-8"></script>
											<script src="{% static '\js\inputareamcd.js' %}" charset="UTF-8"></script>
											<script src="{% static '\js\tab.js' %}" charset="UTF-8"></script>
											{% endblock %}