{% extends 'crud/base.html' %}
{% block content %}
<div class="container-fluid">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'myapp:index' %}">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">商品マスタ一覧</li>
		</ol>
	</nav>
	<div class="form-group">
		<form method="post" id="form">{% csrf_token %}
			<div class="form-row align-items-center">
				<div class="col-auto">
					<label class="sr-only" for="text5a">キーワード</label>
					<input type="search" name="query" class="form-control mb-2" value="{{ mdsearch.query.value }}" placeholder="キーワード"/>
				</div>
				<div class="col-auto">
					<button class="btn btn-primary mb-2" type="submit">
						検索
					</button>
				</div>
			</div>
		</form>
		<div class="text-right">
			<button class="btn btn-primary mb-2" onclick="location.href='{% url 'myapp:merchandisenew' %}'">新規登録</button>
		</div>
		<div class="table-responsive table-container">
		<div class="table-sticky-container">
			<table class="table table-sticky table-sm">
				<thead class="thead-dark">
					<tr>
						<th scope="col" class="text-center fixed">商品コード</th>
						<th scope="col" class="text-center">扱区分</th>
						<th scope="col" class="text-center">仮品番</th>
						<th scope="col" class="text-center">本品番</th>
						<th scope="col" class="text-center">担当者</th>
						<th scope="col" class="text-center">アクション</th>
					</tr>
				</thead>
				<tbody>
					{% for merchandise in object_list %}
					<tr>
						<td class="text-right">{{ merchandise.id }}</td>
						<td>{{ merchandise.get_McdTreatmentCode_display }}</td>
						<td>{{ merchandise.McdTempPartNumber }}</td>
						<td>{{ merchandise.McdPartNumber }}</td>
						<td>{{ merchandise.McdManagerCode.first_name|add:merchandise.McdManagerCode.last_name }}</td>
						<td class="text-center">
							<span><button type="button" class="btn btn-outline-primary btn-sm" onclick="location.href='{% url 'myapp:merchandiseedit' pk=merchandise.id %}'">詳細</button></span>
							<span><button type="button" class="btn btn-outline-danger btn-sm" onclick="location.href='{% url 'myapp:merchandisedelete' pk=merchandise.id %}'">削除</button></span>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-6 offset-3 justify-content-center">
		{% if is_paginated %}
			{% include "crud/pagination.html" %}
		{% endif %}
	</div>
</div>
{% endblock %}