{% extends 'crud/base.html' %}
{% block content %}
<!-- <div class="fds-layout-body"> -->
    <div class="fds-breadcrumb">
        <div class="fds-breadcrumb__item">
            <a href="{% url 'myapp:index' %}" class="fds-breadcrumb__link">HOME</a>
        </div>
        <div class="fds-breadcrumb__item">
            <a href="#" class="fds-breadcrumb__link">商品マスタ一覧</a>
        </div>
    </div>
    <div class="fds-closure">
        <div class="fds-clousure--top-section">
            <div class="fds-clousure--top-section-text">
            </div>
            <button class="fds-btn fds-btn--primary fds-btn--small" style="width: 200px" onclick="location.href='{% url 'myapp:merchandisenew' %}'">
            <span class="fds-icon fds-icon--add-white"></span>
            新規登録
        </button>
    </div>
    <form method="get">
		{% csrf_token %}
		<div class="fds-clousure--bottom-section">
			<div class="fds-form-label fds-form-label--horizontal" style="width:100%;">
				<div class="fds-form-input-message">
					<label class="fds-label-input">キーワード</label>
					<input type="search" name="query" class="fds-form-input fds-form-input--medium" style="width:200px;" value="{{ request.GET.query }}"/>
					<span><button class="fds-btn fds-btn--primary fds-btn--small" style="width: 100px;" type="submit">
						検索
					</button></span>
				</div>
			</div>
		</div>
    </form>
	<div class="fds-table-controller">
        <div class="fds-page-table__title">
        </div>
    </div>
  	<div class="fds-table-container">
    	<div class="fds-table">
      		<div class="fds-table-fixed-container">
        		<table class="fds-table__inner">
          			<thead>
            			<tr class="fds-table__tr">
              				<th class="fds-table__th fds-table__th--col-fixed" style="width: 60px;">
                				<div class="fds-table__th-content fds-table__th-content--button">
									<div class="fds-checkbox">
										<label class="fds-checkbox__label">
											<input type="checkbox" class="fds-checkbox__input">
											<span class="fds-checkbox__text">
											</span>
										</label>
									</div>
				                </div>
              				</th>
							<th class="fds-table__th">
								<div class="fds-table__th-content fds-table__th-content--text" style="width: 200px;">
									<span class="fds-table__th-text">
										商品コード
									</span>
								</div>
							</th>
							<th class="fds-table__th">
								<div class="fds-table__th-content fds-table__th-content--text fds-table__th-text--filtered" style="width: 150px;">
									<span class="fds-table__th-text">
										扱区分
									</span>
								</div>
							</th>
							<th class="fds-table__th">
								<div class="fds-table__th-content fds-table__th-content--text fds-table__th-text--filtered" style="width: 200px;">
									<span class="fds-table__th-text">
										本品番
									</span>
								</div>
							</th>
							<th class="fds-table__th">
				                <div class="fds-table__th-content fds-table__th-content--text fds-table__th-text--filtered" style="width: 100px;">
				                  <span class="fds-table__th-text">
                    				担当者
				                  </span>
                				</div>
							</th>
							<th class="fds-table__th">
				                <div class="fds-table__th-content fds-table__th-content--text fds-table__th-text--filtered" style="width: 100px;">
				                  <span class="fds-table__th-text">
                    				アクション
				                  </span>
                				</div>
							</th>
			            </tr>
					</thead>
			        <tbody class="fds-table__tbody-hover-button">
						{% for merchandise in object_list %}
						<tr class="fds-table__tr">
							<td class="fds-table__td fds-table__td--col-fixed" style="width: 50px;">
								<div class="fds-table__td-content">
									<div class="fds-checkbox">
										<label class="fds-checkbox__label">
											<input type="checkbox" class="fds-checkbox__input">
											<span class="fds-checkbox__text">
											</span>
										</label>
									</div>
								</div>
							</td>
							<td class="fds-table__td">
								<div class="fds-table__td-content" style="width: 100px;">
									<span class="fds-table__td-text">
										{{ merchandise.McdCode }}
									</span>
								</div>
							</td>
				            <td class="fds-table__td">
								<div class="fds-table__td-content" style="width: 200px;">
									<span class="fds-table__td-text">
										{{ merchandise.get_McdTreatmentCode_display }}
									</span>
								</div>
							</td>
							<td class="fds-table__td">
								<div class="fds-table__td-content" style="width: 150px;">
									<span class="fds-table__td-text">
										{{ merchandise.McdPartNumber }}
									</span>
								</div>
							</td>
							<td class="fds-table__td">
								<div class="fds-table__td-content" style="width: 200px;">
									<span class="fds-table__td-text">
										{{ merchandise.McdManagerCode.first_name|add:user.last_name }}
									</span>
								</div>
							</td>
							<td class="fds-table__td">
								<div class="fds-table__td-content" style="width: 100px;">
									<span><button type="button" class="fds-btn-origin fds-btn-origin--primary fds-btn-origin--tiny" style="width: 50px;" onclick="location.href='{% url 'myapp:merchandiseedit' pk=merchandise.id %}'">詳細</button></span>
									<span><button type="button" class="fds-btn-origin fds-btn-origin--error fds-btn-origin--tiny" style="width: 50px;" onclick="location.href='{% url 'myapp:merchandisedelete' pk=merchandise.id %}'">削除</button></span>
								</div>
							</td>
			            </tr>
            			{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
  	</div>
	<div class="fds-pagination">
		{% include "crud/pagination.html" %}
	</div>
<!-- </div> -->
{% endblock %}