{% extends 'crud/base.html' %}
{% block content %}
<div class="container-fluid">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'myapp:index' %}">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">受発注情報一覧</li>
			<div class="container">
				<div class="text-right">
					<button class="btn btn-primary btn-sm" onclick="location.href='{% url 'myapp:orderingnew' %}'">新規登録</button>
				</div>	
			</div>	
		</ol>
	</nav>
	<div class="form-group">
		<form method="post" id="form">{% csrf_token %}
			{% if messages %}
			<div class="invalid-feedback">
			{% for message in messages %}
				{{ message }}
			</div>
			{% endfor %}
			{% endif %}
			<div class="form-row">
				<div class="form-group col-sm-2">
					<input type="search" name="query" id="query" class="form-control" autocomplete="new-password" placeholder="キーワード" value="{{ search.query.value }}"/>
				</div>
				<div class="form-group col-sm-2">
					<input type="search" name="key" id="key" class="form-control" autocomplete="new-password" placeholder="キーワード" value="{{ search.key.value }}"/>
				</div>
				<div class="form-group col-sm-2">
					<input type="search" name="word" id="word" class="form-control" autocomplete="new-password" placeholder="キーワード" value="{{ search.word.value }}"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-sm-2">
					<input type="search" name="orderdateFrom" id="orderdateFrom" class="form-control" autocomplete="new-password" placeholder="依頼日(From)" value="{{ search.orderdateFrom.value }}"/>
				</div>
				<div class="form-group col-sm-2">
					<input type="search" name="orderdateTo" id="orderdateTo" class="form-control" autocomplete="new-password" placeholder="依頼日(To)" value="{{ search.orderdateTo.value }}"/>
				</div>
				<div class="text-right">
					<label class="sr-only">検索</label>
					<button class="btn btn-primary" type="submit">
						検索
					</button>
				</div>
			</div>
		</form>
		{% block extrajs %}
		<!-- Datepicker 追加-->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
		<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
		<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
		{% load static %}
		<script>
			// 依頼日(From)検索用
			var orderdateFrom = document.getElementById('orderdateFrom');
			var fp = flatpickr(orderdateFrom, {
				'locale': 'ja',
				allowInput: true,
				// onCloseは入力フォームが閉じられた時に発火する
				onClose: (selectedDates, dateStr, instance) => {
					if (selectedDates.length === 1) {
						// プロパティにユーザーが選択した日付を代入
						this.dateProps = selectedDates[0];
					}
				}
			});

			// 依頼日(To)検索用
			var orderdateTo = document.getElementById('orderdateTo');
			var fp = flatpickr(orderdateTo, {
				'locale': 'ja',
				allowInput: true,
				// onCloseは入力フォームが閉じられた時に発火する
				onClose: (selectedDates, dateStr, instance) => {
					if (selectedDates.length === 1) {
						// プロパティにユーザーが選択した日付を代入
						this.dateProps = selectedDates[0];
					}
				}
			});
		</script>
		{% endblock %}  
	</div>
	<div class="table-responsive table-container">
		<div class="table-sticky-container">
			<table class="table table-sticky table-sm">
				<thead class="thead-dark">
						<!-- <th scope="col" class="text-center">区分</th>
						<th scope="col" class="text-center">区分</th>
						<th scope="col" class="text-center">依頼日</th>
						<th scope="col" class="text-center">担当者</th>
						<th scope="col" class="text-center">オーダーNO</th>
						<th scope="col" class="text-center">手配先</th>
						<th scope="col" class="text-center">商品名</th>
						<th scope="col" class="text-center">出荷先</th>
						<th scope="col" class="text-center">依頼先</th>
						<th scope="col" class="text-center">項番</th>
						<th scope="col" class="text-center">色番</th>
						<th scope="col" class="text-center">カラー</th>
						<th scope="col" class="text-center">数量</th>
						<th scope="col" class="text-center">仕入単価</th>
						<th scope="col" class="text-center">販売単価</th>
						<th scope="col" class="text-center">アクション</th> -->

					<tr>
						<th scope="col" class="text-center fixed">
							<div class="form-check">
								<input class="form-check-input position-static" type="checkbox">
							</div>
						</th>
						<th scope="col" class="text-center">区分</th>
						<th scope="col" class="text-center">区分</th>
						<th scope="col" class="text-center">依頼日</th>
						<th scope="col" class="text-center">担当者</th>
						<th scope="col" class="text-center">オーダーNO</th>
						<th scope="col" class="text-center">手配先</th>
						<th scope="col" class="text-center">商品名</th>
						<th scope="col" class="text-center">出荷先</th>
						<th scope="col" class="text-center">依頼先</th>
						<th scope="col" class="text-center">アクション</th>
					</tr>
				</thead>
				<tbody>
					{% for OrderTable in object_list %}
					<tr>
						<td class="text-center">
							<div class="form-check">
								{% if OrderTable.is_Ordered == 1 %}
								<input class="form-check-input position-static" type="checkbox" checked>
								{% else %}
								<input class="form-check-input position-static" type="checkbox">
								{% endif %}
							</div>
						</td>
						<!-- <td>{{ OrderTable.get_SampleDiv_display }}</td> -->
						<!-- <td>{{ OrderTable.get_OutputDiv_display }}</td> -->
						<td>{{ OrderTable.SampleDiv.divname }}</td>
						<td>{{ OrderTable.OutputDiv.outputdivname }}</td>
						<td>{{ OrderTable.OrderingDate }}</td>
						<td>{{ OrderTable.ManagerCode.first_name|add:OrderTable.ManagerCode.last_name }}</td>
						<td><span>{{ OrderTable.SlipDiv }}</span><span>{{ OrderTable.OrderNumber }}</span></td>
						<td>{{ OrderTable.DestinationCode.CustomerOmitName }}</td>
						<td>{{ OrderTable.ProductName }}</td>
						<td>{{ OrderTable.ShippingCode.CustomerOmitName }}</td>
						<td>{{ OrderTable.RequestCode.CustomerOmitName }}</td>
						<td class="text-center">
							<span><button type="button" class="btn btn-outline-success btn-sm" onclick="location.href='{% url 'myapp:requestresultnew' pk=OrderTable.id %}'">登録</button></span>
							<span><button type="button" class="btn btn-outline-primary btn-sm" onclick="location.href='{% url 'myapp:requestresultedit' pk=OrderTable.id %}'">詳細</button></span>
							<span><button type="button" class="btn btn-outline-danger btn-sm"  onclick="location.href='{% url 'myapp:orderingdelete' pk=OrderTable.id %}'">削除</button></span>
						</td>
					</tr>
					<!-- 
					<tr>
						<td class="text-center">
							<div class="form-check">
								{% if OrderTable.OrderingTableId.is_Ordered == 1 %}
								<input class="form-check-input position-static" type="checkbox" checked>
								{% else %}
								<input class="form-check-input position-static" type="checkbox">
								{% endif %}
							</div>
						</td>
						<td>{{ OrderTable.OrderingTableId.SampleDiv.divname }}</td>
						<td>{{ OrderTable.OrderingTableId.OutputDiv.outputdivname }}</td>
						<td>{{ OrderTable.OrderingTableId.OrderingDate }}</td>
						<td>{{ OrderTable.OrderingTableId.ManagerCode.first_name|add:OrderTable.OrderingTableId.ManagerCode.last_name }}</td>
						<td><span>{{ OrderTable.OrderingTableId.SlipDiv }}</span><span>{{ OrderTable.OrderingTableId.OrderNumber }}</span></td>
						<td>{{ OrderTable.OrderingTableId.DestinationCode.CustomerOmitName }}</td>
						<td>{{ OrderTable.OrderingTableId.ProductName }}</td>
						<td>{{ OrderTable.OrderingTableId.ShippingCode.CustomerOmitName }}</td>
						<td>{{ OrderTable.OrderingTableId.RequestCode.CustomerOmitName }}</td>
						<td class="text-right">{{ OrderTable.DetailItemNumber }}</td>
						<td>{{ OrderTable.DetailColorNumber }}</td>
						<td>{{ OrderTable.DetailColor }}</td>
						<td class="text-right">{{ OrderTable.DetailVolume }}</td>
						<td class="text-right">{{ OrderTable.DetailUnitPrice | intcomma}}</td>
						<td class="text-right">{{ OrderTable.DetailSellPrice | intcomma}}</td>
						<td class="text-center">
							<span><button type="button" class="btn btn-outline-success btn-sm" onclick="location.href='{% url 'myapp:requestresultnew' pk=OrderTable.OrderingTableId.id %}'">登録</button></span>
							<span><button type="button" class="btn btn-outline-primary btn-sm" onclick="location.href='{% url 'myapp:requestresultedit' pk=OrderTable.OrderingTableId.id %}'">詳細</button></span>
							<span><button type="button" class="btn btn-outline-danger btn-sm"  onclick="location.href='{% url 'myapp:orderingdelete' pk=OrderTable.OrderingTableId.id %}'">削除</button></span>
						</td>
					</tr> -->



					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% if is_paginated %}
		{% include "crud/pagination.html" %}
	{% endif %}
</div>
	{% endblock %}