{% block content %}
{% load humanize %}
<div class="container-fluid">
	<div class="form-group">
		<input type="hidden" name="OrderingTableId-TOTAL_FORMS" id="OrderingTableId-TOTAL_FORMS">
		{{ formset.management_form }}	
		<div class="table-responsive table-container">
			<div class="table-sticky-container-small">
				<table class="table table-sm table-sticky-sm table-bordered" id="detailtblrow">
					<thead class="thead-light">
						<tr>
							<th scope="col" class="text-center" style="width: 2%"></th>
							<th scope="col" class="text-center" style="width: 5%">項番</th>
							<th scope="col" class="text-center" style="width: 5%">色番</th>
							<th scope="col" class="text-center" style="width: 8%">カラー</th>
							<th scope="col" class="text-center" style="width: 4%">仕立</th>
							<th scope="col" class="text-center" style="width: 5%">数量</th>
							<th scope="col" class="text-center" style="width: 5%">単位</th>
							<th scope="col" class="text-center" style="width: 5%">仕入単価</th>
							<th scope="col" class="text-center" style="width: 5%">通常単価</th>
							<th scope="col" class="text-center" style="width: 5%">UP分単価</th>
							<th scope="col" class="text-center" style="width: 5%">販売単価</th>
							<th scope="col" class="text-center" style="width: 10%">希望納期</th>
							<th scope="col" class="text-center" style="width: 10%">回答納期</th>
							<th scope="col" class="text-center" style="width: 15%">摘　　要</th>
							<th scope="col" class="text-center" style="width: 2%">済</th>
							<th scope="col" class="text-center" style="width: 2%">印</th>
						</tr>
					</thead>
					<tbody>
						{% for form in formset %}
						<tr class="list_formset">
							<td class="tableid"></td>
								<input type="hidden" class="form-control OrderingId" data-id-format="id_OrderingTableId-%d-id" data-name-format="OrderingTableId-%d-id" id="id_OrderingTableId-0-id" name="OrderingTableId-0-id" value="{{ form.id.value }}">
							<td>
								{% if form.errors.DetailItemNumber %}
								{% for error in form.errors.DetailItemNumber %}
								<input type="tel" class="form-control is-invalid DetailItemNumber" autocomplete="new-password" style="text-align: right;" data-id-format="id_OrderingTableId-%d-DetailItemNumber" data-name-format="OrderingTableId-%d-DetailItemNumber"
								name="OrderingTableId-0-DetailItemNumber" id="id_OrderingTableId-0-DetailItemNumber" value="{{ form.DetailItemNumber.value }}">
								<div class="invalid-feedback">{{ error }}</div>
								{% endfor %}
								{% else %}
								<input type="tel" class="form-control DetailItemNumber" autocomplete="new-password" style="text-align: right;" data-id-format="id_OrderingTableId-%d-DetailItemNumber" data-name-format="OrderingTableId-%d-DetailItemNumber"
								name="OrderingTableId-0-DetailItemNumber" id="id_OrderingTableId-0-DetailItemNumber" value="{{ form.DetailItemNumber.value }}">
								{% endif %}
							</td>
							<td>
								<input type="text" class="form-control" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-DetailColorNumber" data-name-format="OrderingTableId-%d-DetailColorNumber"
								name="OrderingTableId-0-DetailColorNumber" id="id_OrderingTableId-0-DetailColorNumber" value="{{ form.DetailColorNumber.value | default:'' }}">
							</td> 
							<td>
								<input type="text" class="form-control" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-DetailColor" data-name-format="OrderingTableId-%d-DetailColor" 
								name="OrderingTableId-0-DetailColor" id="id_OrderingTableId-0-DetailColor" value="{{ form.DetailColor.value | default:'' }}">                                   
							</td>
							<td>
								<input type="text" class="form-control" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-DetailTailoring" data-name-format="OrderingTableId-%d-DetailTailoring" 
								name="OrderingTableId-0-DetailTailoring" id="id_OrderingTableId-0-DetailTailoring" value="{{ form.DetailTailoring.value | default:'' }}">                                   
							</td>
							<td>
								<input type="tel" step="0.1" class="form-control DetailVolume text-right" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-DetailVolume" data-name-format="OrderingTableId-%d-DetailVolume" 
								name="OrderingTableId-0-DetailVolume" id="id_OrderingTableId-0-DetailVolume" data-empty-val="false" value="{{ form.DetailVolume.value | intcomma }}">                                   
							</td>
							<td>
								<select class="custom-select" data-id-format="id_OrderingTableId-%d-DetailUnitDiv" data-name-format="OrderingTableId-%d-DetailUnitDiv" name="OrderingTableId-0-DetailUnitDiv" id="id_OrderingTableId-0-DetailUnitDiv">
									{% for data in form.DetailUnitDiv %}
									{{ data }}
									{% endfor %}
								</select>
							</td>
							<td>
								<input type="tel" class="form-control DetailUnitPrice text-right" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-DetailUnitPrice" data-name-format="OrderingTableId-%d-DetailUnitPrice" 
								name="OrderingTableId-0-DetailUnitPrice" id="id_OrderingTableId-0-DetailUnitPrice" data-empty-val="false" value="{{ form.DetailUnitPrice.value| intcomma }}">                                   
							</td>
							<td>
								<input type="tel" class="form-control DetailPrice text-right" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-DetailPrice" data-name-format="OrderingTableId-%d-DetailPrice" 
								name="OrderingTableId-0-DetailPrice" id="id_OrderingTableId-0-DetailPrice" data-empty-val="false" value="{{ form.DetailPrice.value| intcomma }}">
							</td>
							<td>
								<input type="tel" class="form-control DetailOverPrice text-right" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-DetailOverPrice" data-name-format="OrderingTableId-%d-DetailOverPrice" 
								name="OrderingTableId-0-DetailOverPrice" id="id_OrderingTableId-0-DetailOverPrice" data-empty-val="false" value="{{ form.DetailOverPrice.value| intcomma }}">
							</td>
							<td>
								<input type="tel" class="form-control DetailSellPrice text-right" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-DetailSellPrice" data-name-format="OrderingTableId-%d-DetailSellPrice" 
								name="OrderingTableId-0-DetailSellPrice" id="id_OrderingTableId-0-DetailSellPrice" data-empty-val="false" value="{{ form.DetailSellPrice.value| intcomma }}">                                   
							</td>
							<td>
								<input type="tel" class="form-control SpecifyDeliveryDate" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-SpecifyDeliveryDate" data-name-format="OrderingTableId-%d-SpecifyDeliveryDate" 
								name="OrderingTableId-0-SpecifyDeliveryDate" id="id_OrderingTableId-0-SpecifyDeliveryDate" value="{{ form.SpecifyDeliveryDate.value | default_if_none:"" }}">                                   
							</td>
							<td>
								<input type="tel" class="form-control StainAnswerDeadline" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-StainAnswerDeadline" data-name-format="OrderingTableId-%d-StainAnswerDeadline" 
								name="OrderingTableId-0-StainAnswerDeadline" id="idOrderingTableId-0-StainAnswerDeadline" value="{{ form.StainAnswerDeadline.value | default_if_none:"" }}">                                   
							</td>
							<td>
								<input type="text" class="form-control" autocomplete="new-password" data-id-format="id_OrderingTableId-%d-DetailSummary" data-name-format="OrderingTableId-%d-DetailSummary"
								name="OrderingTableId-0-DetailSummary" id="id_OrderingTableId-0-DetailSummary" value="{{ form.DetailSummary.value | default_if_none:"" }}">                                   
							</td>
							<td class="text-center">
								<div class="form-check">
									{% if form.DeliveryManageDiv.value == 1 %}
									<input type="checkbox" class="form-check-input DeliveryManageDiv" data-id-format="id_OrderingTableId-%d-DeliveryManageDiv" data-name-format="OrderingTableId-%d-DeliveryManageDiv" 
									name="OrderingTableId-0-DeliveryManageDiv" id="id_OrderingTableId-0-DeliveryManageDiv" checked>
									{% else %}
									<input type="checkbox" class="form-check-input DeliveryManageDiv" data-id-format="id_OrderingTableId-%d-DeliveryManageDiv" data-name-format="OrderingTableId-%d-DeliveryManageDiv" 
									name="OrderingTableId-0-DeliveryManageDiv" id="id_OrderingTableId-0-DeliveryManageDiv" >
									{% endif %}
								</div>
							</td>
							<td class="text-center">
								<div class="form-check">
									{% if form.PrintDiv.value == 1 %}
									<input type="checkbox" class="form-check-input PrintDiv" data-id-format="id_OrderingTableId-%d-PrintDiv" data-name-format="OrderingTableId-%d-PrintDiv" 
									name="OrderingTableId-0-PrintDiv" id="id_OrderingTableId-0-PrintDiv" checked>
									{% else %}
									<input type="checkbox" class="form-check-input PrintDiv" data-id-format="id_OrderingTableId-%d-PrintDiv" data-name-format="OrderingTableId-%d-PrintDiv" 
									name="OrderingTableId-0-PrintDiv" id="id_OrderingTableId-0-PrintDiv" >
									{% endif %}
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>		
	</div>
	<div class="form-group">
		<div class="text-left">
			<button type="button" id="add" class="btn btn-primary list_add">追加</button>
		</div>
		<div class="table-responsive table-container">	
			<div class="table-sticky-container-small">
				{{ inlinesRecord.management_form }}	
				<table class="table table-sticky table-sm" id="tblrow">
					<thead>
						<tr>
							<th scope="col" class="text-center" style="width: 2%"></th>
							<th scope="col" class="text-center" style="width: 5%">項番</th>
							<th scope="col" class="text-center" style="width: 15%">実績日</th>
							<th scope="col" class="text-center" style="width: 15%">出荷日</th>
							<th scope="col" class="text-center" style="width: 13%">出荷数</th>
							<th scope="col" class="text-center" style="width: 10%">伝票番号</th>
							<th scope="col" class="text-center" style="width: 20%">摘　　要</th>
							<th scope="col" class="text-center" style="width: 5%">移動</th>
							<th scope="col" class="text-center" style="width: 5%">目増</th>
							<th scope="col" class="text-center" style="width: 5%">目減</th>
							<th scope="col" class="text-center" style="width: 5%">　</th>
						</tr>
					</thead>
					<tbody id="list">
						{% for form in inlinesRecord %}
						<tr class="list_var">
							{% if form.id.value is not None %}
							<input type="hidden" data-id-format="id_OrderingId-%d-DELETE" data-name-format="OrderingId-%d-DELETE" name="OrderingId-0-DELETE" id="id_OrderingId-0-DELETE">
							<input type="hidden" data-id-format="id_OrderingId-%d-id" data-name-format="OrderingId-%d-id" name="OrderingId-0-id" id="id_OrderingId-0-id" value="{{ form.id.value }}">
							{% endif %}
							<div id="detail">
								<td>
									<input type="hidden" data-id-format="id_OrderingId-%d-OrderingDetailId" data-name-format="OrderingId-%d-OrderingDetailId" name="OrderingId-0-OrderingDetailId" id="id_OrderingId-0-OrderingDetailId" value="{{ form.OrderingDetailId.value }}">
								</td>
							</div>
							<td>
								<div id="div" class="fds-table__td-content">
								{% if form.errors.ResultItemNumber %}
								{% for error in form.errors.ResultItemNumber %}
									<input type="tel" class="form-control is-invalid ResultItemNumber" autocomplete="new-password" style="text-align: right;" data-id-format="id_OrderingId-%d-ResultItemNumber" data-name-format="OrderingId-%d-ResultItemNumber"
									name="OrderingId-0-ResultItemNumber" id="id_OrderingId-0-ResultItemNumber" value="{{ form.ResultItemNumber.value  | default:'0001' }}">
									<div class="invalid-feedback">{{ error }}</div>
								{% endfor %}
								{% else %}
									<input type="tel" class="form-control ResultItemNumber" autocomplete="new-password" style="text-align: right;" data-id-format="id_OrderingId-%d-ResultItemNumber" data-name-format="OrderingId-%d-ResultItemNumber"
									name="OrderingId-0-ResultItemNumber" id="id_OrderingId-0-ResultItemNumber" value="{{ form.ResultItemNumber.value  | default:'0001' }}">
								{% endif %}
								</div>
							</td>
							<td>
								{% if form.errors.ResultDate %}
								{% for error in form.errors.ResultDate %}
									<input type="tel" class="form-control is-invalid ResultDate" autocomplete="new-password" data-id-format="id_OrderingId-%d-ResultDate" data-name-format="OrderingId-%d-ResultDate" 
									name="OrderingId-0-ResultDate" id="id_OrderingId-0-ResultDate" value="{{ form.ResultDate.value | default:'' }}">                                   
									<div class="invalid-feedback">{{ error }}</div>
								{% endfor %}
								{% else %}
									<input type="tel" class="form-control ResultDate" autocomplete="new-password" data-id-format="id_OrderingId-%d-ResultDate" data-name-format="OrderingId-%d-ResultDate" 
									name="OrderingId-0-ResultDate" id="id_OrderingId-0-ResultDate" value="{{ form.ResultDate.value | default:'' }}">                                   
								{% endif %}
							</td>
							<td>
								{% if form.errors.ShippingDate %}
								{% for error in form.errors.ShippingDate %}
									<input type="tel" class="form-control is-invalid ShippingDate" autocomplete="new-password" data-id-format="id_OrderingId-%d-ShippingDate" data-name-format="OrderingId-%d-ShippingDate" 
									name="OrderingId-0-ShippingDate" id="id_OrderingId-0-ShippingDate" value="{{ form.ShippingDate.value | default:'' }}">                                   
									<div class="invalid-feedback">{{ error }}</div>
								{% endfor %}
								{% else %}
									<input type="tel" class="form-control ShippingDate" autocomplete="new-password" data-id-format="id_OrderingId-%d-ShippingDate" data-name-format="OrderingId-%d-ShippingDate" 
									name="OrderingId-0-ShippingDate" id="id_OrderingId-0-ShippingDate" value="{{ form.ShippingDate.value | default:'' }}">
								{% endif %}
							</td>
							<td>
								{% if form.errors.ShippingVolume %}
								{% for error in form.errors.ShippingVolume %}
									<input type="tel" step="0.1" class="form-control is-invalid ShippingVolume text-right" autocomplete="new-password" data-id-format="id_OrderingId-%d-ShippingVolume" data-name-format="OrderingId-%d-ShippingVolume"
									name="OrderingId-0-ShippingVolume" id="id_OrderingId-0-ShippingVolume" data-empty-val="false" value="{{ form.ShippingVolume.value | intcomma }}">                                   
									<div class="invalid-feedback">{{ error }}</div>
								{% endfor %}
								{% else %}
									<input type="tel" step="0.1" class="form-control ShippingVolume text-right" autocomplete="new-password" data-id-format="id_OrderingId-%d-ShippingVolume" data-name-format="OrderingId-%d-ShippingVolume" 
									name="OrderingId-0-ShippingVolume" id="id_OrderingId-0-ShippingVolume" data-empty-val="false" value="{{ form.ShippingVolume.value | intcomma }}">                                   
								{% endif %}
							</td>
							<td>
								{% if form.errors.SlipNumber %}
								{% for error in form.errors.SlipNumber %}
									<input type="tel" class="form-control is-invalid SlipNumber text-right" autocomplete="new-password" data-id-format="id_OrderingId-%d-SlipNumber" data-name-format="OrderingId-%d-SlipNumber"
									name="OrderingId-0-SlipNumber" id="id_OrderingId-0-SlipNumber" value="{{ form.SlipNumber.value | default_if_none:"" }}">                                   
									<div class="invalid-feedback">{{ error }}</div>
								{% endfor %}
								{% else %}
									<input type="tel" class="form-control SlipNumber text-right" autocomplete="new-password" data-id-format="id_OrderingId-%d-SlipNumber" data-name-format="OrderingId-%d-SlipNumber" 
									name="OrderingId-0-SlipNumber" id="id_OrderingId-0-SlipNumber" value="{{ form.SlipNumber.value | default_if_none:"" }}">                                   
								{% endif %}
							</td>
							<td>
								{% if form.errors.ResultSummary %}
								{% for error in form.errors.ResultSummary %}
									<input type="text" class="form-control is-invalid" autocomplete="new-password" data-id-format="id_OrderingId-%d-ResultSummary" data-name-format="OrderingId-%d-ResultSummary"
									name="OrderingId-0-ResultSummary" id="id_OrderingId-0-ResultSummary" value="{{ form.ResultSummary.value | default_if_none:"" }}">                                   
									<div class="invalid-feedback">{{ error }}</div>
								{% endfor %}
								{% else %}
									<input type="text" class="form-control" autocomplete="new-password" data-id-format="id_OrderingId-%d-ResultSummary" data-name-format="OrderingId-%d-ResultSummary" 
									name="OrderingId-0-ResultSummary" id="id_OrderingId-0-ResultSummary" value="{{ form.ResultSummary.value | default_if_none:"" }}">                                   
								{% endif %}
							</td>
							<td class="text-center">
								<div class="form-check">
									<input type="checkbox" class="form-check-input ResultMoveDiv" data-id-format="id_OrderingId-%d-ResultMoveDiv" data-name-format="OrderingId-%d-ResultMoveDiv" id="id_OrderingId-0-ResultMoveDiv" name="OrderingId-0-ResultMoveDiv">
								</div>
							</td>
							<td class="text-center">
								<div class="form-check">
									<input type="checkbox" class="form-check-input ResultGainDiv" data-id-format="id_OrderingId-%d-ResultGainDiv" data-name-format="OrderingId-%d-ResultGainDiv" id="id_OrderingId-0-ResultGainDiv" name="OrderingId-0-ResultGainDiv">
								</div>
							</td>
							<td class="text-center">
								<div class="form-check">
									<input type="checkbox" class="form-check-input ResultDecreaseDiv" data-id-format="id_OrderingId-%d-ResultDecreaseDiv" data-name-format="OrderingId-%d-ResultDecreaseDiv" id="id_OrderingId-0-ResultDecreaseDiv" name="OrderingId-0-ResultDecreaseDiv">
								</div>
							</td>
							<td>
								<span class="list_del"><button type="button" class="btn btn-outline-danger btn-sm">削除</button></span>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block extrajs %}
<!-- Datepicker 追加-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.add-input-area@4.11.0/dist/jquery.add-input-area.min.js" integrity="sha256-yOwGvcRp3I8/XWkeARhJkgdfLREQygbFA5W2bUpM2FY=" crossorigin="anonymous"></script>
{% load static %}
<script src="{% static '\js\datepicker.js' %}" charset="UTF-8"></script>
<script src="{% static '\js\datalist.js' %}" charset="UTF-8"></script>
<script src="{% static '\js\calc.js' %}" charset="UTF-8"></script>
<script src="{% static '\js\inputareaRequest.js' %}" charset="UTF-8"></script>
<script src="{% static '\js\commarequest.js' %}" charset="UTF-8"></script>
<script src="{% static '\js\tab.js' %}" charset="UTF-8"></script>
<script src="{% static '\js\enter.js' %}" charset="UTF-8"></script>
{% endblock %}
<script>
	$('.tableid').on('click', function(){
		$('#detail').empty();
		$('#list').empty();
		var idx=$(this).closest('tr').prop('rowIndex');
		var id = document.querySelectorAll(".OrderingId")[idx -1].value
		// Ajax通信を開始
		$.ajax({
			url: "{% url 'myapp:exec_result' %}",
			method: "GET",
			// プレーンテキストを受信（他にはhtml、xml、script、json、jsonp等）
			dataType: 'json',
			// リクエストパラメータ「?param=明細id」
			data: {
				param: id,
			},
			timeout: 5000,
		})
		.done(function(response) {
			if(response.list.length==0){
				$('#list').empty();
				texthtml = ''
				texthtml = texthtml + '<tr class="list_var">';
				texthtml = texthtml + '	<td id="detail"> ';
				texthtml = texthtml + '		<input type="hidden" data-id-format="id_OrderingId-%d-OrderingDetailId" data-name-format="OrderingId-%d-OrderingDetailId" name="OrderingId-0-OrderingDetailId" id="id_OrderingId-0-OrderingDetailId" data-empty-val="false" value=' + id + '>';
				texthtml = texthtml + '	</td>';
				texthtml = texthtml + '	<td><input type="tel" class="form-control ResultItemNumber" autocomplete="new-password" style="text-align: right;" data-id-format="id_OrderingId-%d-ResultItemNumber" data-name-format="OrderingId-%d-ResultItemNumber" name="OrderingId-0-ResultItemNumber" id="id_OrderingId-0-ResultItemNumber" value=""></td>';
				texthtml = texthtml + '	<td><input type="tel" class="form-control ResultDate" autocomplete="new-password" data-id-format="id_OrderingId-%d-ResultDate" data-name-format="OrderingId-%d-ResultDate" name="OrderingId-0-ResultDate" id="id_OrderingId-0-ResultDate" value=""></td>';
				texthtml = texthtml + '	<td><input type="tel" class="form-control ShippingDate" autocomplete="new-password" data-id-format="id_OrderingId-%d-ShippingDate" data-name-format="OrderingId-%d-ShippingDate" name="OrderingId-0-ShippingDate" id="id_OrderingId-0-ShippingDate" value=""></td>';                                  
				texthtml = texthtml + '	<td><input type="tel" step="0.1" class="form-control ShippingVolume text-right" autocomplete="new-password" data-id-format="id_OrderingId-%d-ShippingVolume" data-name-format="OrderingId-%d-ShippingVolume" name="OrderingId-0-ShippingVolume" id="id_OrderingId-0-ShippingVolume" data-empty-val="false" value={{"" | intcomma }}></td>';
				texthtml = texthtml + '	<td><input type="tel" class="form-control SlipNumber text-right" autocomplete="new-password" data-id-format="id_OrderingId-%d-SlipNumber" data-name-format="OrderingId-%d-SlipNumber" name="OrderingId-0-SlipNumber" id="id_OrderingId-0-SlipNumber" value={{"" | default_if_none:"" }}></td>';
				texthtml = texthtml + '	<td><input type="text" class="form-control" autocomplete="new-password" data-id-format="id_OrderingId-%d-ResultSummary" data-name-format="OrderingId-%d-ResultSummary"	name="OrderingId-0-ResultSummary" id="id_OrderingId-0-ResultSummary" value={{"" | default_if_none:"" }}></td>';
				texthtml = texthtml + '	<td class="text-center">';
				texthtml = texthtml + '		<div class="form-check">';
				texthtml = texthtml + '			<input type="checkbox" class="form-check-input ResultMoveDiv" data-id-format="id_OrderingId-%d-ResultMoveDiv" data-name-format="OrderingId-%d-ResultMoveDiv" id="id_OrderingId-0-ResultMoveDiv" name="OrderingId-0-ResultMoveDiv">';
				texthtml = texthtml + '		</div>';
				texthtml = texthtml + '	</td>';
				texthtml = texthtml + '	<td class="text-center">';
				texthtml = texthtml + '		<div class="form-check">';
				texthtml = texthtml + '			<input type="checkbox" class="form-check-input ResultGainDiv" data-id-format="id_OrderingId-%d-ResultGainDiv" data-name-format="OrderingId-%d-ResultGainDiv" id="id_OrderingId-0-ResultGainDiv" name="OrderingId-0-ResultGainDiv">';
				texthtml = texthtml + '		</div>';
				texthtml = texthtml + '	</td>';
				texthtml = texthtml + '	<td class="text-center">';
				texthtml = texthtml + '		<div class="form-check">';
				texthtml = texthtml + '			<input type="checkbox" class="form-check-input ResultDecreaseDiv" data-id-format="id_OrderingId-%d-ResultDecreaseDiv" data-name-format="OrderingId-%d-ResultDecreaseDiv" id="id_OrderingId-0-ResultDecreaseDiv" name="OrderingId-0-ResultDecreaseDiv">';
				texthtml = texthtml + '		</div>';
				texthtml = texthtml + '	</td>';
				texthtml = texthtml + '	<td>';
				texthtml = texthtml + '		<span class="list_del"><button type="button" class="btn btn-outline-danger btn-sm">削除</button></span>';
				texthtml = texthtml + '	</td>';
				texthtml = texthtml + '</tr>';
				$('#list').append(texthtml);

				$('#detail').append(
					'<input type="hidden" class="OrderingDetailId" data-id-format="id_OrderingId-%d-OrderingDetailId" data-name-format="OrderingId-%d-OrderingDetailId" name="OrderingId-0-OrderingDetailId" id="id_OrderingId-0-OrderingDetailId" value="' + id + '">'
				);
			}
			// 通信成功時の処理を記述
			$.each(response.list, function(index, list) {
				texthtml = ''
				texthtml = texthtml + '<tr class="list_var">';
				texthtml = texthtml + '	<td id="detail"> ';
				texthtml = texthtml + '		<input type="hidden" data-id-format="id_OrderingId-%d-id" data-name-format="OrderingId-%d-id" name="OrderingId-' + index + '-id" id="id_OrderingId-' + index + '-id" data-empty-val="false" value=' +  list.id + '>';
				texthtml = texthtml + '		<input type="hidden" data-id-format="id_OrderingId-%d-OrderingDetailId" data-name-format="OrderingId-%d-OrderingDetailId" name="OrderingId-' + index + '-OrderingDetailId" id="id_OrderingId-' + index + '-OrderingDetailId" data-empty-val="false" value=' + id + '>';
				texthtml = texthtml + '	</td>';
				texthtml = texthtml + '	<td><input type="tel" class="form-control ResultItemNumber" autocomplete="new-password" style="text-align: right;" data-id-format="id_OrderingId-%d-ResultItemNumber" data-name-format="OrderingId-%d-ResultItemNumber" name="OrderingId-' + index + '-ResultItemNumber" id="id_OrderingId-' + index + '-ResultItemNumber" value={{"' + list.ResultItemNumber + '"}}></td>';
				texthtml = texthtml + '	<td><input type="tel" class="form-control ResultDate" autocomplete="new-password" data-id-format="id_OrderingId-%d-ResultDate" data-name-format="OrderingId-%d-ResultDate" name="OrderingId-' + index + '-ResultDate" id="id_OrderingId-' + index + '-ResultDate" value={{"' + list.ResultDate + '"}}></td>';
				texthtml = texthtml + '	<td><input type="tel" class="form-control ShippingDate" autocomplete="new-password" data-id-format="id_OrderingId-%d-ShippingDate" data-name-format="OrderingId-%d-ShippingDate" name="OrderingId-' + index + '-ShippingDate" id="id_OrderingId-' + index + '-ShippingDate" value={{"' + list.ShippingDate + '"}}></td>';                                  
				texthtml = texthtml + '	<td><input type="tel" step="0.1" class="form-control ShippingVolume text-right" autocomplete="new-password" data-id-format="id_OrderingId-%d-ShippingVolume" data-name-format="OrderingId-%d-ShippingVolume" name="OrderingId-' + index + '-ShippingVolume" id="id_OrderingId-' + index + '-ShippingVolume" data-empty-val="false" value={{"' + list.ShippingVolume + '" | intcomma }}></td>';
				texthtml = texthtml + '	<td><input type="tel" class="form-control SlipNumber text-right" autocomplete="new-password" data-id-format="id_OrderingId-%d-SlipNumber" data-name-format="OrderingId-%d-SlipNumber" name="OrderingId-' + index + '-SlipNumber" id="id_OrderingId-' + index + '-SlipNumber" value={{"' + list.SlipNumber + '" | default_if_none:"" }}></td>';
				texthtml = texthtml + '	<td><input type="text" class="form-control" autocomplete="new-password" data-id-format="id_OrderingId-%d-ResultSummary" data-name-format="OrderingId-%d-ResultSummary"	name="OrderingId-' + index + '-ResultSummary" id="id_OrderingId-' + index + '-ResultSummary" value={{"' + list.ResultSummary + '" | default_if_none:"" }}></td>';
				texthtml = texthtml + '	<td class="text-center">';
				texthtml = texthtml + '		<div class="form-check">';
				texthtml = texthtml + '			<input type="checkbox" class="form-check-input ResultMoveDiv" data-id-format="id_OrderingId-%d-ResultMoveDiv" data-name-format="OrderingId-%d-ResultMoveDiv" id="id_OrderingId-' + index + '-ResultMoveDiv" name="OrderingId-' + index + '-ResultMoveDiv">';
				texthtml = texthtml + '		</div>';
				texthtml = texthtml + '	</td>';
				texthtml = texthtml + '	<td class="text-center">';
				texthtml = texthtml + '		<div class="form-check">';
				texthtml = texthtml + '			<input type="checkbox" class="form-check-input ResultGainDiv" data-id-format="id_OrderingId-%d-ResultGainDiv" data-name-format="OrderingId-%d-ResultGainDiv" id="id_OrderingId-' + index + '-ResultGainDiv" name="OrderingId-' + index + '-ResultGainDiv">';
				texthtml = texthtml + '		</div>';
				texthtml = texthtml + '	</td>';
				texthtml = texthtml + '	<td class="text-center">';
				texthtml = texthtml + '		<div class="form-check">';
				texthtml = texthtml + '			<input type="checkbox" class="form-check-input ResultDecreaseDiv" data-id-format="id_OrderingId-%d-ResultDecreaseDiv" data-name-format="OrderingId-%d-ResultDecreaseDiv" id="id_OrderingId-' + index + '-ResultDecreaseDiv" name="OrderingId-' + index + '-ResultDecreaseDiv">';
				texthtml = texthtml + '		</div>';
				texthtml = texthtml + '	</td>';
				texthtml = texthtml + '	<td>';
				texthtml = texthtml + '		<span class="list_del"><button type="button" class="btn btn-outline-danger btn-sm">削除</button></span>';
				texthtml = texthtml + '	</td>';
				texthtml = texthtml + '</tr>';
				$('#list').append(texthtml);
			});
		})
		.fail(function() {
			// 通信失敗時の処理を記述
			$('#resultGET').text('GET処理失敗.');
		});
	})
</script>
<script>
	var table = document.querySelector("table");
	var tr = table.querySelectorAll("tr");
	table.addEventListener("click", function(e) {
		if(e.target.tagName.toLowerCase() === "td") {
			//まずは全て背景色白
			for(var i = 0; i < tr.length; i++) {
				tr[i].style.backgroundColor = "white";
			}
			//選択行だけ色を変える
			e.target.parentNode.style.backgroundColor = "#eef";
		}
	}, false);
</script>
