{% extends 'crud/base.html' %}
{% block content %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'myapp:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'myapp:list' %}">得意先仕入先マスタ一覧</a></li>
            <li class="breadcrumb-item active" aria-current="page">得意先仕入先新規登録</li>
        </ol>
    </nav>
	<div class="form-group">
        <form method="post" id="form">{% csrf_token %}
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true">基本情報</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false">残高情報</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="item1" role="tabpanel" aria-labelledby="item1-tab">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_CustomerCode">コード</label>
                                {% if form.errors.CustomerCode %}
                                {% for error in form.errors.CustomerCode %}
                                <input type="text" class="form-control is-invalid" name="CustomerCode" id="id_CustomerCode" value="{{ form.data.CustomerCode }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control" name="CustomerCode" id="id_CustomerCode" value="{{ form.data.CustomerCode }}">
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="id_CustomerName">名　称</label>
                                {% if form.errors.CustomerName %}
                                {% for error in form.errors.CustomerName %}
                                <input type="text" class="form-control is-invalid" name="CustomerName" id="id_CustomerName" value="{{ form.data.CustomerName }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control" name="CustomerName" id="id_CustomerName" value="{{ form.data.CustomerName }}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_CustomerOmitName">略　名</label>
                                {% if form.errors.CustomerOmitName %}
                                {% for error in form.errors.CustomerOmitName %}
                                <input type="text" class="form-control is-invalid" name="CustomerOmitName" id="id_CustomerOmitName" value="{{ form.data.CustomerOmitName }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control" name="CustomerOmitName" id="id_CustomerOmitName" value="{{ form.data.CustomerOmitName }}">
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="id_CustomerNameKana">カナ名</label>
                                {% if form.errors.CustomerNameKana %}
                                {% for error in form.errors.CustomerNameKana %}
                                <input type="text" class="form-control is-invalid" name="CustomerNameKana" id="id_CustomerNameKana" value="{{ form.data.CustomerNameKana }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control" name="CustomerNameKana" id="id_CustomerNameKana" value="{{ form.data.CustomerNameKana }}">
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_Department">部署名</label>
                                {% if form.errors.Department %}
                                {% for error in form.errors.Department %}
                                <input type="text" class="form-control is-invalid" name="Department" id="id_Department" value="{{ form.data.Department }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control" name="Department" id="id_Department" value="{{ form.data.Department }}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_PostCode">郵便番号</label>
                                {% if form.errors.PostCode %}
                                {% for error in form.errors.PostCode %}
                                <input type="text" class="form-control is-invalid" name="PostCode" id="id_PostCode" value="{{ form.data.PostCode }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control" name="PostCode" id="id_PostCode" value="{{ form.data.PostCode }}">
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_PrefecturesCode">都道府県</label>
                                {% if form.errors.PrefecturesCode %}
                                {% for error in form.errors.PrefecturesCode %}
                                <select class="custom-select is-invalid" name="PrefecturesCode" id="id_PrefecturesCode" value="{{ form.data.PrefecturesCode }}">
                                    {% for data in form.PrefecturesCode %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <select class="custom-select" name="PrefecturesCode" id="id_PrefecturesCode" value="{{ form.data.PrefecturesCode }}">
                                    {% for data in form.PrefecturesCode %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_Municipalities">市区町村</label>
                                {% if form.errors.Municipalities %}
                                {% for error in form.errors.Municipalities %}
                                <input type="text" class="form-control is-invalid" name="Municipalities" id="id_Municipalities" value="{{ form.data.Municipalities }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control" name="Municipalities" id="id_Municipalities" value="{{ form.data.Municipalities }}">
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="id_Address">番地</label>
                                {% if form.errors.Address %}
                                {% for error in form.errors.Address %}
                                <input type="text" class="form-control is-invalid" name="Address" id="id_Address" value="{{ form.data.Address }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control" name="Address" id="id_Address" value="{{ form.data.Address }}">
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="id_BuildingName">建物名</label>
                                {% if form.errors.BuildingName %}
                                {% for error in form.errors.BuildingName %}
                                <input type="text" class="form-control is-invalid" name="BuildingName" id="id_BuildingName" value="{{ form.data.BuildingName }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control" name="BuildingName" id="id_BuildingName" value="{{ form.data.BuildingName }}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_PhoneNumber">電話番号</label>
                                {% if form.errors.PhoneNumber %}
                                {% for error in form.errors.PhoneNumber %}
                                <input type="text" class="form-control is-invalid" name="PhoneNumber" id="id_PhoneNumber" value="{{ form.data.PhoneNumber }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control" name="PhoneNumber" id="id_PhoneNumber" value="{{ form.data.PhoneNumber }}">
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_FaxNumber">FAX番号</label>
                                {% if form.errors.FaxNumber %}
                                {% for error in form.errors.FaxNumber %}
                                <input type="text" class="form-control is-invalid" name="FaxNumber" id="id_FaxNumber" value="{{ form.data.FaxNumber }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control" name="FaxNumber" id="id_FaxNumber" value="{{ form.data.FaxNumber }}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_MasterDiv">マスター区分</label>
                                <select class="custom-select" name="MasterDiv" id="id_MasterDiv">
                                    {% for data in form.MasterDiv %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_ClosingDate">締日</label>
                                <select class="custom-select" name="ClosingDate" id="id_ClosingDate">
                                    {% for data in form.ClosingDate %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_ManagerCode">担当者</label>
                                {% if form.errors.ManagerCode %}
                                {% for error in form.errors.ManagerCode %}
                                <select class="custom-select is-invalid" name="ManagerCode" id="id_ManagerCode">
                                    {% for data in form.ManagerCode %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <select class="custom-select" name="ManagerCode" id="id_ManagerCode">
                                    {% for data in form.ManagerCode %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                                {% endif %}   
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_OffsetDiv">相殺出力区分</label>
                                <select class="custom-select" name="OffsetDiv" id="id_OffsetDiv">
                                    {% for data in form.OffsetDiv %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="item2" role="tabpanel" aria-labelledby="item2-tab">
                    {% include "crud/customersupplier/new/customersupplierformcontinue.html" %}
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">登録</button>
                <button type="button" class="btn btn-secondary" onclick="location.href='{% url 'myapp:list' %}'">キャンセル</button>
            </div>
        </div>
    </form>   
</div>
{% endblock %}
