{% extends 'crud/base.html' %}
{% block content %}
<div class="container-fluid">
	<div class="card-body">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'myapp:index' %}">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">得意先仕入先マスタ一覧</li>
			</ol>
		</nav>
		<div class="form-group">
			<form method="post" id="form">{% csrf_token %}
				<div class="form-row align-items-center">
					<div class="col-auto">
					  <label class="sr-only" for="text5a">キーワード</label>
					  <input type="search" name="query" class="form-control mb-2" value="{{ cmsearch.query.value }}" placeholder="キーワード"/>
					</div>
					<div class="col-auto">
						<button class="btn btn-primary mb-2" type="submit">
							検索
						</button>
					</div>
				</div>
			</form>
			<div class="text-right">
				<button class="btn btn-primary mb-2" onclick="location.href='{% url 'myapp:new' %}'">新規登録</button>
			</div>
		</div>
		<div class="table-responsive table-container">
			<div class="table-sticky-container">
				<table class="table table-sticky">
					<thead class="thead-dark">
						<tr>
							<th class="fixed">コード</th>
							<th>名称</th>
							<th>郵便番号</th>
							<th>都道府県</th>
							<th>市区町村</th>
							<th>番地</th>
							<th>電話番号</th>
							<th>アクション</th>
						</tr>
					</thead>
					<tbody>
						{% for customersupplier in object_list %}
						<tr>
							<td>{{ customersupplier.CustomerCode }}</td>
							<td>{{ customersupplier.CustomerName }}</td>
							<td>{{ customersupplier.PostCode }}</td>
							<td>{{ customersupplier.PrefecturesCode.prefecturename }}</td>
							<td>{{ customersupplier.Municipalities }}</td>
							<td>{{ customersupplier.Address }}</td>
							<td>{{ customersupplier.PhoneNumber }}</td>
							<td>
								<span><button type="button" class="btn btn-primary btn-sm" onclick="location.href='{% url 'myapp:edit' pk=customersupplier.id %}'">詳細</button></span>
								<span><button type="button" class="btn btn-danger btn-sm" onclick="location.href='{% url 'myapp:delete' pk=customersupplier.id %}'">削除</button></span>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
	<!-- 
	<div class="fds-pagination">
		{% include "crud/pagination.html" %}
	</div> -->
{% endblock %}