{% extends 'crud/base.html' %}
{% block content %}
                        <form method="post" id="form">
                        {% csrf_token %}
                            <div class="fds-page-table__main">
                                <div class="fds-breadcrumb">
                                    <div class="fds-breadcrumb__item">
                                        <a href="{% url 'myapp:index' %}" class="fds-breadcrumb__link">
                                            HOME
                                        </a>
                                    </div>
                                    <div class="fds-breadcrumb__item">
                                        <a href="{% url 'myapp:orderinglist' %}" class="fds-breadcrumb__link">
                                            受発注情報一覧・検索
                                        </a>
                                    </div>
                                    <div class="fds-breadcrumb__item">
                                        <span class="fds-breadcrumb__link">
                                            受発注情報編集
                                        </span>
                                    </div>
                                </div>
                                <div class="fds-page-table__title-box">
                                    <div class="fds-page-table__title">
                                        編集
                                    </div>
                                    <div class="fds-page-table__search-form">
                                        <button type="button" class="fds-btn fds-btn--basic" onclick="location.href='{% url 'myapp:orderinglist' %}'" style="width: 100px">
                                            キャンセル
                                        </button>
                                        <button type="submit" class="fds-btn fds-btn--primary" style="width: 100px">
                                            保存
                                        </button>
                                    </div>
                                </div>
                                <div class="fds-panel fds-panel--plain" style="width: 100%; height: 90%;">
                                    <div class="fds-form-input-message" style="width:30%;">
                                    {% if form.non_field_errors %}
                                        {% for error in form.non_field_errors %}
                                        <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                        {% endfor %}
                                    {% endif %}
                                    </div>
                                    <div class="wrap-tab">
                                        <ul class="fds-tabs" id="js-tab">
                                            <li class="fds-tabs__item fds-tabs__item--active">基本情報</li>
                                            <li class="fds-tabs__item">明細部</li>
                                        </ul>
                                        <div class="tab-contents-item active">                     
                                            <div class="fds-page-detail__main">
                                                <div class="fds-form-label fds-form-label--horizontal">
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 量産区分 -->
                                                        <div class="fds-page-input-select">
                                                            <label class="fds-label-input">量産区分:</label>
                                                            <div class="fds-select-container">
                                                                <select class="fds-select fds-form-input fds-form-input--medium" name="SampleDiv" id="id_SampleDiv">
                                                                    {% for data in form.SampleDiv %}
                                                                    {{ data }}
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 担当者 -->
                                                        <div class="fds-page-input-select">
                                                            <label class="fds-label-input">担当者:</label>
                                                            <div class="fds-select-container">
                                                                <select class="fds-select fds-form-input fds-form-input--medium" name="ManagerCode" id="id_ManagerCode">
                                                                    {% for data in form.ManagerCode %}
                                                                    {{ data }}
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="fds-form-label fds-form-label--horizontal">
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 出力区分 -->
                                                        <div class="fds-page-input-select">
                                                            <label class="fds-label-input">出力区分:</label>
                                                            <div class="fds-select-container">
                                                                <select class="fds-select fds-form-input fds-form-input--medium" name="OutputDiv" id="id_OutputDiv">
                                                                    {% for data in form.OutputDiv %}
                                                                    {{ data }}
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 伝票区分 -->
                                                        <label class="fds-label-input">オーダーNO:</label>
                                                        <input type="tel" class="fds-form-input" placeholder="" name="SlipDiv" id="id_SlipDiv" maxlength="1" style="width: 10%;" value={{ object.SlipDiv }} readonly>
                                                        <!-- オーダーNO -->
                                                        <span>-</span>
                                                        <input type="tel" class="fds-form-input" placeholder="" style="width:40%; text-align: right;" name="OrderNumber" id="id_OrderNumber" maxlength="7" value={{ object.OrderNumber }}  readonly>
                                                        {% if form.errors.OrderNumber %}
                                                        {% for error in form.errors.OrderNumber %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" style="width:100%;" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 依頼日 -->
                                                        <label class="fds-label-input">依頼日:</label>
                                                        <input type="tel" class="fds-form-input" placeholder="" name="OrderingDate" id="id_OrderingDate" maxlength="10" value={{ object.OrderingDate }}>
                                                        {% if form.errors.OrderingDate %}
                                                        {% for error in form.errors.OrderingDate %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="fds-divider fds-divider--dark2"></div>
                                                <div class="fds-form-label fds-form-label--horizontal">
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 商品名 -->
                                                        <label class="fds-label-input">商品名:</label>
                                                        <input type="text" class="fds-form-input" placeholder=""  name="ProductName" id="id_ProductName" value={{ object.ProductName }}>
                                                        {% if form.errors.ProductName %}
                                                        {% for error in form.errors.ProductName %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 番手 -->
                                                        <label class="fds-label-input">番手:</label>
                                                        <input type="text" class="fds-form-input" placeholder="" name="OrderingCount" id="id_OrderingCount" value={{ object.OrderingCount }}>
                                                        {% if form.errors.OrderingCount %}
                                                        {% for error in form.errors.OrderingCount %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="fds-divider fds-divider--dark2"></div>
                                                <div class="fds-form-label fds-form-label--horizontal">
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 品番 -->
                                                        <label class="fds-label-input">品番:</label>
                                                        <input type="text" class="fds-form-input" placeholder="" name="StainPartNumber" id="id_StainPartNumber" value={{ object.StainPartNumber }}>
                                                        {% if form.errors.StainPartNumber %}
                                                        {% for error in form.errors.StainPartNumber %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 混率 -->
                                                        <label class="fds-label-input">混率:</label>
                                                        <input type="text" class="fds-form-input" placeholder="" name="StainMixRatio" id="id_StainMixRatio" value={{ object.StainMixRatio }}>
                                                        {% if form.errors.StainMixRatio %}
                                                        {% for error in form.errors.StainMixRatio %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="fds-divider fds-divider--dark2"></div>
                                                <div class="fds-form-label fds-form-label--horizontal">
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 手配先 -->
                                                        <div class="fds-page-input-select">
                                                            <label class="fds-label-input">手配先:</label>
                                                            <input type="tel" class="fds-form-input" placeholder="" list="Destination" name="DestinationCode" id="id_DestinationCode" value="{{ object.DestinationCode.CustomerCode }} {{ object.DestinationCode.CustomerOmitName }}">
                                                            <datalist id="Destination">
                                                            {% for data in DestinationCode %}
                                                                <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                                            {% endfor %}
                                                            </datalist>
                                                            <input type="hidden" name="DestinationCode" id="id_DestinationCode" value={{ form.DestinationCode.value }}>
                                                        </div>
                                                        {% if form.errors.DestinationCode %}
                                                        {% for error in form.errors.DestinationCode %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}   
                                                    </div>
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 仕入先 -->
                                                        <div class="fds-page-input-select">
                                                            <label class="fds-label-input">仕入先:</label>
                                                            <input type="tel" class="fds-form-input" placeholder="" list="Supplier" name="SupplierCode" id="id_SupplierCode" value="{{ object.SupplierCode.CustomerCode }} {{ object.SupplierCode.CustomerOmitName }}">
                                                            <datalist id="Supplier">
                                                            {% for data in SupplierCode %}
                                                                <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                                            {% endfor %}
                                                            </datalist>
                                                            <input type="hidden" name="SupplierCode" id="id_SupplierCode" value={{ form.SupplierCode.value }}>
                                                        </div>
                                                        {% if form.errors.SupplierCode %}
                                                        {% for error in form.errors.SupplierCode %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}   
                                                    </div>
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <div class="fds-page-input-select">
                                                            <label class="fds-label-input">出荷先:</label>
                                                            <input type="tel" class="fds-form-input" placeholder="" list="Shipping" name="ShippingCode" id="id_ShippingCode" value="{{ object.ShippingCode.CustomerCode }} {{ object.ShippingCode.CustomerOmitName }}">
                                                            <datalist id="Shipping">
                                                            {% for data in ShippingCode %}
                                                                <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                                            {% endfor %}
                                                            </datalist>
                                                            <input type="hidden" name="ShippingCode" id="id_ShippingCode" value={{ form.ShippingCode.value }}>
                                                        </div>
                                                        {% if form.errors.ShippingCode %}
                                                        {% for error in form.errors.ShippingCode %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}   
                                                    </div>
                                                </div>
                                                <div class="fds-divider fds-divider--dark2"></div>
                                                <div class="fds-form-label fds-form-label--horizontal">
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 得意先 -->
                                                        <div class="fds-page-input-select">
                                                            <label class="fds-label-input">得意先:</label>
                                                            <input type="tel" class="fds-form-input" placeholder="" list="Customer" name="CustomeCode" id="id_CustomeCode" value="{{ object.CustomeCode.CustomerCode }} {{ object.CustomeCode.CustomerOmitName }}">
                                                            <datalist id="Customer">
                                                            {% for data in CustomerCode %}
                                                                <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                                            {% endfor %}
                                                            </datalist>
                                                            <input type="hidden" name="CustomeCode" id="id_CustomeCode" value={{ form.CustomeCode.value }}>
                                                        </div>
                                                        {% if form.errors.CustomreCode %}
                                                        {% for error in form.errors.CustomerCode %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}   
                                                    </div>
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 依頼先 -->
                                                        <div class="fds-page-input-select">
                                                            <label class="fds-label-input">依頼先:</label>
                                                            <input type="tel" class="fds-form-input" placeholder="" list="Request" name="RequestCode" id="id_RequestCode" value="{{ object.RequestCode.CustomerCode }} {{ object.RequestCode.CustomerOmitName }}">
                                                            <datalist id="Request">
                                                            {% for data in RequestCode %}
                                                                <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                                            {% endfor %}
                                                            </datalist>
                                                            <input type="hidden" name="RequestCode" id="id_RequestCode" value={{ form.RequestCode.value }}>
                                                        </div>
                                                        {% if form.errors.RequestCode %}
                                                        {% for error in form.errors.RequestCode %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}   
                                                    </div>
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- アパレル -->
                                                        <div class="fds-page-input-select">
                                                            <label class="fds-label-input">アパレル:</label>
                                                            <input type="tel" class="fds-form-input" placeholder="" list="Apparel" name="ApparelCode" id="id_ApparelCode" value="{{ object.ApparelCode.CustomerCode }} {{ object.ApparelCode.CustomerOmitName }}">
                                                            <datalist id="Apparel">
                                                            {% for data in ApparelCode %}
                                                                <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                                            {% endfor %}
                                                            </datalist>
                                                            <input type="hidden" name="ApparelCode" id="id_ApparelCode" value={{ form.ApparelCode.value }}>
                                                        </div>
                                                        {% if form.errors.ApparelCode %}
                                                        {% for error in form.errors.ApparelCode %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}   
                                                    </div>
                                                </div>
                                                <div class="fds-divider fds-divider--dark2"></div>
                                                <div class="fds-form-label fds-form-label--horizontal">
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 原糸メーカ -->
                                                        <div class="fds-page-input-select">
                                                            <label class="fds-label-input">原糸メーカー:</label>
                                                            <input type="tel" class="fds-form-input" placeholder="" list="StainShipping" name="StainShippingCode" id="id_StainShippingCode" value="{{ object.StainShippingCode.CustomerCode }} {{ object.StainShippingCode.CustomerOmitName }}">
                                                            <datalist id="StainShipping">
                                                            {% for data in StainShippingCode %}
                                                                <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                                            {% endfor %}
                                                            </datalist>
                                                            <input type="hidden" name="StainShippingCode" id="id_StainShippingCode" value={{ form.StainShippingCode.value }}>
                                                        </div>
                                                        {% if form.errors.StainShippingCode %}
                                                        {% for error in form.errors.StainShippingCode %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}   
                                                    </div>
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <label class="fds-label-input">原糸出荷日:</label>
                                                        <input type="text" class="fds-form-input" placeholder="" name="StainShippingDate" id="id_StainShippingDate" maxlength="10" value={{ object.StainShippingDate | default_if_none:"" }}>
                                                        {% if form.errors.StainShippingDate %}
                                                        {% for error in form.errors.StainShippingDate %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="fds-divider fds-divider--dark2"></div>
                                                <div class="fds-form-label fds-form-label--horizontal">
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 仕入先担当者名 -->
                                                        <label class="fds-label-input">仕入先担当:</label>
                                                        <input type="text" class="fds-form-input" placeholder="" name="SupplierPerson" id="id_SupplierPerson" value={{ object.SupplierPerson }}>
                                                        {% if form.errors.SupplierPerson %}
                                                        {% for error in form.errors.SupplierPerson %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 敬称区分 -->
                                                        <div class="fds-page-input-select">
                                                            <label class="fds-label-input">敬称:</label>
                                                            <div class="fds-select-container">
                                                                <select class="fds-select fds-form-input fds-form-input--medium" name="TitleDiv" id="id_TitleDiv">
                                                                    {% for data in form.TitleDiv %}
                                                                    {{ data }}
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="fds-form-input-message" style="width:50%;">
                                                        <!-- マーク名 -->
                                                        <label class="fds-label-input">マーク名:</label>
                                                        <input type="text" class="fds-form-input" placeholder="" name="MarkName" id="id_MarkName" value={{ object.MarkName }}>
                                                        {% if form.errors.MarkName %}
                                                        {% for error in form.errors.MarkName %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% include "crud/ordering/update/orderingtableupdate.html" %}
                                    </div>
                                </div>
                            </div>
                        </form>
                        {% endblock %}
                        {% block extrajs %}
                        {% endblock %}
