{% extends 'crud/base.html' %}
{% block content %}
{% load humanize %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'myapp:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'myapp:Paymentlist' %}">支払情報一覧</a></li>
            <li class="breadcrumb-item active" aria-current="page">支払情報削除</li>
        </ol>
    </nav>
	<div class="form-group">
        <form method="post" id="form" name="delform">{% csrf_token %}
            <div class="tab-content">
                <div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_PaymentDate">支払日</label>
                                {% if form.errors.PaymentDate %}
                                {% for error in form.errors.PaymentDate %}
                                    <input type="tel" class="form-control is-invalid" autocomplete="new-password" name="PaymentDate" id="id_PaymentDate" value="{{ object.PaymentDate }}">
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                    <input type="tel" class="form-control" autocomplete="new-password" name="PaymentDate" id="id_PaymentDate" value="{{ object.PaymentDate }}">
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_PaymentSupplierCode">支払先</label>
                                {% if form.errors.PaymentSupplierCode %}
                                {% for error in form.errors.PaymentSupplierCode %}
                                <input type="tel" class="form-control is-invalid" list="Payment" autocomplete="new-password" name="DepositCustomerCode" id="id_DepositCustomerCode" value="{{ object.PaymentSupplierCode.CustomerCode }} {{ object.PaymentSupplierCode.CustomerOmitName }}">
                                <datalist id="Payment">
                                {% for data in PaymentSupplierCode %}
                                    <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                {% endfor %}
                                </datalist>
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="tel" class="form-control" list="Payment" autocomplete="new-password" name="DepositCustomerCode" id="id_DepositCustomerCode" value="{{ object.PaymentSupplierCode.CustomerCode }} {{ object.PaymentSupplierCode.CustomerOmitName }}">
                                <datalist id="Payment">
                                {% for data in PaymentSupplierCode %}
                                    <option value="{{ data.CustomerCode }} {{ data.CustomerOmitName }}">{{ data.id }}</option>
                                {% endfor %}
                                </datalist>
                                {% endif %}
                                <input type="hidden" name="PaymentSupplierCode" id="id_PaymentSupplierCode" value=1>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="id_PaymentMoney">支払金額</label>
                                {% if form.errors.PaymentMoney %}
                                {% for error in form.errors.PaymentMoney %}
                                <input type="text" class="form-control is-invalid text-right PaymentMoney" autocomplete="new-password" name="PaymentMoney" id="id_PaymentMoney" onchange="comma(this);" value="{{ object.PaymentMoney | intcomma }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control text-right PaymentMoney" autocomplete="new-password" name="PaymentMoney" id="id_PaymentMoney" onchange="comma(this);" value="{{ object.PaymentMoney | intcomma }}">
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="id_PaymentDiv">支払区分</label>
                                <select class="custom-select" name="PaymentDiv" id="id_PaymentDiv">
                                    {% for data in form.PaymentDiv %}
                                    {{ data }}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                <label for="id_PaymentSummary">摘要</label>
                                {% if form.errors.PaymentSummary %}
                                {% for error in form.errors.PaymentSummary %}
                                <input type="text" class="form-control is-invalid" autocomplete="new-password" name="PaymentSummary" id="id_PaymentSummary" value="{{ object.PaymentSummary }}">
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% else %}
                                <input type="text" class="form-control" autocomplete="new-password" name="PaymentSummary" id="id_PaymentSummary" value="{{ object.PaymentSummary }}">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% block extrajs %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
            <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
            <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            {% load static %}
            <script src="{% static '\js\tab.js' %}" charset="UTF-8"></script>
            <script src="{% static '\js\enter.js' %}" charset="UTF-8"></script>
            <script src="{% static '\js\datalist.js' %}" charset="UTF-8"></script>
            <script src="{% static '\js\datepickerpayment.js' %}" charset="UTF-8"></script>
            {% endblock %}       
            <div class="text-right">
                <button type="button" id="modalOpen" class="btn btn-danger" data-toggle="modal" data-target="#modal">削除</button>
                <button type="button" class="btn btn-secondary" onclick="location.href='{% url 'myapp:Paymentlist' %}'">キャンセル</button>
            </div>
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="label1">削除</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            削除してよろしいですか
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="delete" class="btn btn-danger">削除</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">中止</button>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                var btn = document.getElementById('modalOpen');
                var cls = document.getElementById('modalClose');
                var dlt = document.getElementById('delete');
                var modal = document.getElementsByClassName('modal fade');

                btn.addEventListener('click', function() {
                    for(i=0;i<modal.length;i++){
                        modal[i].style.opacity = '1';
                        modal[i].style.visibility = 'visible';
                    }
                })

                dlt.addEventListener('click', function() {
                    // submit前にカンマをはずす
                    var PaymentMoney = removeComma($(".PaymentMoney").val());

                    $(".PaymentMoney").val(PaymentMoney);
                    document.delform.submit();
                })
                function removeComma(number) {
                    var removed = number.replace(/,/g, '');
                    return parseInt(removed, 10);
                }
            </script>
        </div>
    </form>
</div>
{% endblock %}