{% block content %}
{% load humanize %}
<div class="container-fluid">
	<div class="form-group">
		<div class="text-left">
			<button type="button" id="add" class="btn btn-primary list_add">追加</button>
		</div>
		<input type="hidden" name="OrderingId-TOTAL_FORMS" id="OrderingId-TOTAL_FORMS">
		<div class="table-responsive table-container">	
			<div class="table-sticky-container">
				{{ inlinesRecord.management_form }}	
				<table class="table table-sticky table-sm" id="tblrow">
					<thead>
						<tr>
							<th scope="col" class="text-center" style="width: 5%">項番</th>
							<th scope="col" class="text-center" style="width: 10%">実績日</th>
							<th scope="col" class="text-center" style="width: 10%">出荷日</th>
							<th scope="col" class="text-center" style="width: 4%">出荷数</th>
							<th scope="col" class="text-center" style="width: 5%">伝票番号</th>
							<th scope="col" class="text-center" style="width: 15%">摘　　要</th>
							<th scope="col" class="text-center" style="width: 5%">移動</th>
							<th scope="col" class="text-center" style="width: 5%">目増</th>
							<th scope="col" class="text-center" style="width: 5%">目減</th>
							<th scope="col" class="text-center" style="width: 5%">　</th>
						</tr>
					</thead>
					<tbody id="list">
						{% for form in inlinesRecord %}
						<tr class="list_var">
								<!-- <input type="hidden" data-id-format="id_OrderingId-%d-OrderingDetailId" data-name-format="OrderingId-%d-OrderingDetailId" name="OrderingId-0-OrderingDetailId" id="id_OrderingId-0-OrderingDetailId" value="{{ form.OrderingDetailId.value }}"> -->
								<input type="hidden" data-id-format="id_OrderingId-%d-DELETE" data-name-format="OrderingId-%d-DELETE" name="OrderingId-0-DELETE" id="id_OrderingId-0-DELETE">
							<td>
								<div id="div" class="fds-table__td-content">
								{% if form.errors.ResultItemNumber %}
								{% for error in form.errors.ResultItemNumber %}
									<input type="tel" class="form-control is-invalid ResultItemNumber" autocomplete="new-password" style="text-align: right;" data-id-format="id_OrderingId-%d-ResultItemNumber" data-name-format="OrderingId-%d-ResultItemNumber"
									name="OrderingId-0-ResultItemNumber" id="id_OrderingId-0-ResultItemNumber" onchange="ResultItemNumber(this);" value="{{ form.ResultItemNumber.value  | default:'0001' }}">
									<div class="invalid-feedback">{{ error }}</div>
								{% endfor %}
								{% else %}
									<input type="tel" class="form-control ResultItemNumber" autocomplete="new-password" style="text-align: right;" data-id-format="id_OrderingId-%d-ResultItemNumber" data-name-format="OrderingId-%d-ResultItemNumber"
									name="OrderingId-0-ResultItemNumber" id="id_OrderingId-0-ResultItemNumber" onchange="ResultItemNumber(this);" value="{{ form.ResultItemNumber.value  | default:'0001' }}">
								{% endif %}
								</div>
							</td>
							<td>
								{% if form.errors.ResultDate %}
								{% for error in form.errors.ResultDate %}
									<input type="tel" class="form-control is-invalid ResultDate" autocomplete="new-password" data-id-format="id_OrderingId-%d-ResultDate" data-name-format="OrderingId-%d-ResultDate" 
									name="OrderingId-0-ResultDate" id="id_OrderingId-0-ResultDate" value="{{ form.ResultDate.value }}">                                   
									<div class="invalid-feedback">{{ error }}</div>
								{% endfor %}
								{% else %}
									<input type="tel" class="form-control ResultDate" autocomplete="new-password" data-id-format="id_OrderingId-%d-ResultDate" data-name-format="OrderingId-%d-ResultDate" 
									name="OrderingId-0-ResultDate" id="id_OrderingId-0-ResultDate">                                   
								{% endif %}
							</td>
							<td>
								{% if form.errors.ShippingDate %}
								{% for error in form.errors.ShippingDate %}
									<input type="tel" class="form-control is-invalid ShippingDate" autocomplete="new-password" data-id-format="id_OrderingId-%d-ShippingDate" data-name-format="OrderingId-%d-ShippingDate" 
									name="OrderingId-0-ShippingDate" id="id_OrderingId-0-ShippingDate" value="{{ form.ShippingDate.value }}">                                   
									<div class="invalid-feedback">{{ error }}</div>
								{% endfor %}
								{% else %}
									<input type="tel" class="form-control ShippingDate" autocomplete="new-password" data-id-format="id_OrderingId-%d-ShippingDate" data-name-format="OrderingId-%d-ShippingDate" 
									name="OrderingId-0-ShippingDate" id="id_OrderingId-0-ShippingDate">                                   
								{% endif %}
							</td>
							<td>
								{% if form.errors.ShippingVolume %}
								{% for error in form.errors.ShippingVolume %}
									<input type="tel" step="0.1" class="form-control is-invalid ShippingVolume text-right" autocomplete="new-password" data-id-format="id_OrderingId-%d-ShippingVolume" data-name-format="OrderingId-%d-ShippingVolume"
									name="OrderingId-0-ShippingVolume" id="id_OrderingId-0-ShippingVolume" data-empty-val="false" value="{{ form.ShippingVolume.value | intcomma }}">                                   
									<div class="invalid-feedback">{{ error }}</div>
								{% endfor %}
								{% else %}
									<input type="tel" step="0.1" class="form-control ShippingVolume text-right" autocomplete="new-password" data-id-format="id_OrderingId-%d-ShippingVolume" data-name-format="OrderingId-%d-ShippingVolume" 
									name="OrderingId-0-ShippingVolume" id="id_OrderingId-0-ShippingVolume" data-empty-val="false" value="{{ form.ShippingVolume.value | intcomma }}">                                   
								{% endif %}
							</td>
							<td>
								{% if form.errors.SlipNumber %}
								{% for error in form.errors.SlipNumber %}
									<input type="tel" class="form-control is-invalid SlipNumber text-right" autocomplete="new-password" data-id-format="id_OrderingId-%d-SlipNumber" data-name-format="OrderingId-%d-SlipNumber"
									name="OrderingId-0-SlipNumber" id="id_OrderingId-0-SlipNumber" value="{{ form.SlipNumber.value | default_if_none:"" }}">                                   
									<div class="invalid-feedback">{{ error }}</div>
								{% endfor %}
								{% else %}
									<input type="tel" class="form-control SlipNumber text-right" autocomplete="new-password" data-id-format="id_OrderingId-%d-SlipNumber" data-name-format="OrderingId-%d-SlipNumber" 
									name="OrderingId-0-SlipNumber" id="id_OrderingId-0-SlipNumber" value="{{ form.SlipNumber.value | default_if_none:"" }}">                                   
								{% endif %}
							</td>
							<td>
								{% if form.errors.ResultSummary %}
								{% for error in form.errors.ResultSummary %}
									<input type="text" class="form-control is-invalid" autocomplete="new-password" data-id-format="id_OrderingId-%d-ResultSummary" data-name-format="OrderingId-%d-ResultSummary"
									name="OrderingId-0-ResultSummary" id="id_OrderingId-0-ResultSummary" value="{{ form.ResultSummary.value | default_if_none:"" }}">                                   
									<div class="invalid-feedback">{{ error }}</div>
								{% endfor %}
								{% else %}
									<input type="text" class="form-control" autocomplete="new-password" data-id-format="id_OrderingId-%d-ResultSummary" data-name-format="OrderingId-%d-ResultSummary" 
									name="OrderingId-0-ResultSummary" id="id_OrderingId-0-ResultSummary" value="{{ form.ResultSummary.value | default_if_none:"" }}">                                   
								{% endif %}
							</td>
							<td class="text-center">
								<div class="form-check">
									<input type="checkbox" class="form-check-input ResultMoveDiv" data-id-format="id_OrderingId-%d-ResultMoveDiv" data-name-format="OrderingId-%d-ResultMoveDiv" id="id_OrderingId-0-ResultMoveDiv" name="OrderingId-0-ResultMoveDiv">
								</div>
							</td>
							<td class="text-center">
								<div class="form-check">
									<input type="checkbox" class="form-check-input ResultGainDiv" data-id-format="id_OrderingId-%d-ResultGainDiv" data-name-format="OrderingId-%d-ResultGainDiv" id="id_OrderingId-0-ResultGainDiv" name="OrderingId-0-ResultGainDiv">
								</div>
							</td>
							<td class="text-center">
								<div class="form-check">
									<input type="checkbox" class="form-check-input ResultDecreaseDiv" data-id-format="id_OrderingId-%d-ResultDecreaseDiv" data-name-format="OrderingId-%d-ResultDecreaseDiv" id="id_OrderingId-0-ResultDecreaseDiv" name="OrderingId-0-ResultDecreaseDiv">
								</div>
							</td>
							<td>
								<span class="list_del"><button type="button" class="btn btn-outline-danger btn-sm">削除</button></span>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block extrajs %}
<!-- Datepicker 追加-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.add-input-area@4.11.0/dist/jquery.add-input-area.min.js" integrity="sha256-yOwGvcRp3I8/XWkeARhJkgdfLREQygbFA5W2bUpM2FY=" crossorigin="anonymous"></script>
{% load static %}
<script src="{% static '\js\datepicker.js' %}" charset="UTF-8"></script>
<script src="{% static '\js\datalist.js' %}" charset="UTF-8"></script>
<script src="{% static '\js\calc.js' %}" charset="UTF-8"></script>
<script src="{% static '\js\inputareaRequest.js' %}" charset="UTF-8"></script>
<script src="{% static '\js\tab.js' %}" charset="UTF-8"></script>
<script src="{% static '\js\enter.js' %}" charset="UTF-8"></script>
{% endblock %}
