											{% block content %}
											<div class="tab-contents-item">
												<input type="hidden" name="McdDtuploadid-TOTAL_FORMS" id="id_McdDtuploadid-TOTAL_FORMS">
												<div class="fds-table-actions">
													<button type="button" class="fds-btn fds-btn--primary fds-btn--tiny addfile" style="width: 60px">追加</button>
												</div>
												<div class="fds-table-container">
													<div class="fds-table" style="height: 50vh;">
														{{ inlinesfile.management_form }}
														<table class="fds-table__inner" id="tblrowfile">
															<thead>
																<tr class="fds-table__tr">
																	<th class="fds-table__th" style="width: 50px;">
																		<div class="fds-table__th-content fds-table__th-content--text">
																			<span class="fds-table__th-text">削除</span>
																		</div>
																	</th>
																	<th class="fds-table__th" style="width: 200px;">
																		<div class="fds-table__th-content fds-table__th-content--text">
																			<span class="fds-table__th-text">ファイル</span>
																		</div>
																	</th>
																	<th class="fds-table__th" style="width: 50px;">
																		<div class="fds-table__th-content fds-table__th-content--text">
																			<span class="fds-table__th-text">クリア</span>
																		</div>
																	</th>
																	<th class="fds-table__th" style="width: 200px;">
																		<div class="fds-table__th-content fds-table__th-content--text">
																			<span class="fds-table__th-text">ファイル添付</span>
																		</div>
																	</th>
																</tr>
															</thead>
															<tbody id="listfile">
																{% for form in inlinesfile %}
																{{ form.uploadPath }}
																<tr class="fds-table__tr fds-table__tr--hoverable filearea">
																	<td class="fds-table__td fds-table__td--col-fixed">
																		<div class="fds-table__td-content">
																			<div class="fds-checkbox">
																				<label class="fds-checkbox__label" style="width: 50px;">
																					<input type="checkbox" class="fds-checkbox__input" style="width: 50px;" data-id-format="id_McdDtuploadid-%d-is_Deleted" data-name-format="McdDtuploadid-%d-is_Deleted" name="McdDtuploadid-0-is_Deleted" id="id_McdDtuploadid-0-is_Deleted">
																					<input type="checkbox" class="fds-checkbox__input" data-id-format="id_McdDtuploadid-%d-DELETE" data-name-format="McdDtuploadid-%d-DELETE" id="id_McdDtuploadid-0-DELETE" name="McdDtuploadid-0-DELETE">
																					<span class="fds-checkbox__text">
																					</span>
																				</label>
																			</div>
																		</div>
																	</td>
																	<td class="fds-table__td" style="width: 200px;">
																		{% if form.uploadpath %}
																		<div id="div" class="fds-table__td-content">
																			<a href="{{ form.uploadpath.url }}" style="color: black;">{{ form.uploadPath.value }}</a>
																		</div>
																		{% endif %}
																	</td>
																	<td class="fds-table__td fds-table__td--col-fixed">
																		<div class="fds-table__td-content">
																			<div class="fds-checkbox">
																				<label class="fds-checkbox__label" style="width: 50px;">
																					<input type="checkbox" class="fds-checkbox__input" data-id-format="McdDtuploadid-%d-uploadPath-clear_id" data-name-format="McdDtuploadid-%d-uploadPath-clear" name="McdDtuploadid-0-uploadPath-clear" id="McdDtuploadid-0-uploadPath-clear_id">
																					<span class="fds-checkbox__text">
																					</span>
																				</label>
																			</div>
																		</div>
																	</td>
																	<td class="fds-table__td" style="width: 200px;">
																		<div id="div" class="fds-table__td-content">
						                                                    <input type="file" class="uploadPath" data-id-format="id_McdDtuploadid-%d-uploadPath" data-name-format="McdDtuploadid-%d-uploadPath"
																			name="McdDtuploadid-0-uploadPath" id="id_McdDtuploadid-0-uploadPath" accept="image/*">
																		</div>
																	</td>
																	<td class="fds-table__td">
																		<div id="div" class="fds-table__td-content">
																			<button type="button" class="fds-btn fds-btn--primary fds-btn--tiny delfile" style="width: 60px;">削除</button>
																		</div>
																	</td>
																	{% if form.id.value %}
																	<input type="hidden" data-id-format="id_McdDtuploadid-%d-id" data-name-format="McdDtuploadid-%d-id" id="id_McdDtuploadid-0-id" name="McdDtuploadid-0-id"  value={{ form.id.value }}>
																	<input type="hidden" data-id-format="id_McdDtuploadid-%d-McdDtuploadid" data-name-format="McdDtuploadid-%d-McdDtuploadid" name="McdDtuploadid-0-McdDtuploadid" id="id_McdDtuploadid-0-McdDtuploadid" value={{ form.McdDtuploadid.value }}>
																	{% endif %}
																</tr>
																{% endfor %}
															</tbody>
														</table>
													</div>
												</div>
											</div>
											{% endblock %}
											{% block extrajs %}
											<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
											<script src="https://cdn.jsdelivr.net/npm/jquery.add-input-area@4.11.0/dist/jquery.add-input-area.min.js" integrity="sha256-yOwGvcRp3I8/XWkeARhJkgdfLREQygbFA5W2bUpM2FY=" crossorigin="anonymous"></script>
											{% load static %}
											<script src="{% static '\js\calc.js' %}" charset="UTF-8"></script>
											<script src="{% static '\js\inputareamcd.js' %}" charset="UTF-8"></script>
											<script src="{% static '\js\tab.js' %}" charset="UTF-8"></script>
											{% endblock %}
