{% block content %}
{% load humanize %}
<div class="container-fluid">
	<div class="form-group">
		<div class="text-left">
			<button type="button" id="add" class="btn btn-primary list_add">追加</button>
		</div>
		<input type="hidden" name="McdDtid-TOTAL_FORMS" id="id_McdDtid-TOTAL_FORMS">
		<div class="table-responsive table-container">
			<div class="table-sticky-container">
				{{ formset.management_form }}	
				<table class="table table-sticky table-sm" id="tblrow">
					<thead>
						<tr>
							<th scope="col" class="text-center" style="width: 2%">削除</th>
							<th scope="col" class="text-center" style="width: 5%">品名</th>
							<th scope="col" class="text-center" style="width: 5%">番手</th>
							<th scope="col" class="text-center" style="width: 8%">混率</th>
							<th scope="col" class="text-center" style="width: 2%">単価</th>
							<th scope="col" class="text-center" style="width: 5%">単位</th>
							<th scope="col" class="text-center" style="width: 5%">　</th>
						</tr>
					</thead>
					<tbody id="list">
						{% for form in formset %}
						<tr class="list_var">
							<td>
								<div class="form-check">
									<input type="checkbox" class="form-check-input" data-id-format="id_McdDtid-%d-DELETE" data-name-format="McdDtid-%d-DELETE" id="id_McdDtid-0-DELETE" name="McdDtid-0-DELETE">
								</div>
							</td>
							<td>
								<div id="div" class="fds-table__td-content">
								{% if form.errors.McdDtProductName %}
								{% for error in form.errors.McdDtProductName %}
									<input type="tel" class="form-control is-invalid McdDtProductName" data-id-format="id_McdDtid-%d-McdDtProductName" data-name-format="McdDtid-%d-McdDtProductName"
									name="McdDtid-0-McdDtProductName" id="id_McdDtid-0-McdDtProductName" value="{{ form.McdDtProductName.value | default_if_none:'' }}">
									<div class="invalid-feedback">{{ error }}</div>
								{% endfor %}
								{% else %}
									<input type="tel" class="form-control McdDtProductName" data-id-format="id_McdDtid-%d-McdDtProductName" data-name-format="McdDtid-%d-McdDtProductName"
									name="McdDtid-0-McdDtProductName" id="id_McdDtid-0-McdDtProductName" value="{{ form.McdDtProductName.value | default_if_none:'' }}">
								{% endif %}
								</div>
							</td>
							<td>
							{% if form.errors.McdDtOrderingCount %}
							{% for error in form.errors.McdDtOrderingCount %}
								<input type="text" class="form-control is-invalid" data-id-format="id_McdDtid-%d-McdDtOrderingCount" data-name-format="McdDtid-%d-McdDtOrderingCount"
								name="McdDtid-0-McdDtOrderingCount" id="id_McdDtid-0-McdDtOrderingCount" value="{{ form.McdDtOrderingCount.value | default_if_none:'' }}">                                          
								<div class="invalid-feedback">{{ error }}</div>
							{% endfor %}
							{% else %}
								<input type="text" class="form-control" data-id-format="id_McdDtid-%d-McdDtOrderingCount" data-name-format="McdDtid-%d-McdDtOrderingCount"
								name="McdDtid-0-McdDtOrderingCount" id="id_McdDtid-0-McdDtOrderingCount" value="{{ form.McdDtOrderingCount.value | default_if_none:'' }}">                                          
							{% endif %}
							</td>
							<td>
							{% if form.errors.McdDtStainMixRatio %}
							{% for error in form.errors.McdDtStainMixRatio %}
								<input type="text" class="form-control is-invalid" data-id-format="id_McdDtid-%d-McdDtStainMixRatio" data-name-format="McdDtid-%d-McdDtStainMixRatio" 
								name="McdDtid-0-McdDtStainMixRatio" id="id_McdDtid-0-McdDtStainMixRatio" value="{{ form.McdDtStainMixRatio.value | default_if_none:'' }}">                                   
								<div class="invalid-feedback">{{ error }}</div>
								{% endfor %}
								{% else %}
								<input type="text" class="form-control" data-id-format="id_McdDtid-%d-McdDtStainMixRatio" data-name-format="McdDtid-%d-McdDtStainMixRatio" 
								name="McdDtid-0-McdDtStainMixRatio" id="id_McdDtid-0-McdDtStainMixRatio" value="{{ form.McdDtStainMixRatio.value | default_if_none:'' }}">                                   
								{% endif %}
							</td>
							<td>
								{% if form.errors.McdDtlPrice %}
								{% for error in form.errors.McdDtlPrice %}
									<input type="text" step="0.1" class="form-control is-invalid McdDtlPrice" data-id-format="id_McdDtid-%d-McdDtlPrice" data-name-format="McdDtid-%d-McdDtlPrice" 
									name="McdDtid-0-McdDtlPrice" id="id_McdDtid-0-McdDtlPrice" style="text-align: right;" data-empty-val="false" onchange="detailcomma(this);" value="{{ form.McdDtlPrice.value|intcomma }}">                                   
									<div class="invalid-feedback">{{ error }}</div>
								{% endfor %}
								{% else %}
									<input type="text" step="0.1" class="form-control McdDtlPrice" data-id-format="id_McdDtid-%d-McdDtlPrice" data-name-format="McdDtid-%d-McdDtlPrice" 
									name="McdDtid-0-McdDtlPrice" id="id_McdDtid-0-McdDtlPrice" data-empty-val="false"  style="text-align: right;" onchange="detailcomma(this);" value="{{ form.McdDtlPrice.value|intcomma }}">                                   
								{% endif %}
							</td>
							<td>
								<select class="custom-select" data-id-format="id_McdDtid-%d-McdDtUnitCode" data-name-format="McdDtid-%d-McdDtUnitCode" name="McdDtid-0-McdDtUnitCode" id="id_McdDtid-0-McdDtUnitCode">
									{% for data in form.McdDtUnitCode %}
									{{ data }}
									{% endfor %}
								</select>
							</td>
							<input type="hidden" data-id-format="id_McdDtid-%d-id" data-name-format="McdDtid-%d-id" name="McdDtid-0-id" id="id_McdDtid-0-id" value="{{ form.id.value }}">
							<td>
								<span class="list_del"><button type="button" class="btn btn-outline-danger btn-sm">削除</button></span>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
