{% block content %}
<div class="container-fluid">
	<div class="form-group">
		<div class="text-left">
			<button type="button" id="add" class="btn btn-primary btn-sm addfile">追加</button>
		</div>
		<input type="hidden" name="McdDtuploadid-TOTAL_FORMS" id="id_McdDtuploadid-TOTAL_FORMS">
		<div class="table-responsive table-container">
			<div class="table-sticky-container">
				{{ inlinesfile.management_form }}
				<table class="table table-sticky" id="tblrowfile">
					<thead>
						<tr>
							<th scope="col" class="text-center check">削除</th>
							<th scope="col" class="text-center product">ファイル</th>
							<th scope="col" class="text-center check">&nbsp;&nbsp;</th>
							<th scope="col" class="text-center product">ファイル添付</th>
							<th scope="col" class="text-center check">&nbsp;&nbsp;</th>
							<th scope="col" class="text-center check">&nbsp;&nbsp;</th>
						</tr>
					</thead>
					<tbody id="listfile">
						{% for form in inlinesfile %}
						<tr class="filearea">
							<td class="text-center">
								<div class="form-check">
									<input type="checkbox" class="form-check-input" data-id-format="id_McdDtuploadid-%d-DELETE" data-name-format="McdDtuploadid-%d-DELETE" id="id_McdDtuploadid-0-DELETE" name="McdDtuploadid-0-DELETE">
								</div>
							</td>
							<td class="text-center">
								<a href="/media/{{ form.uploadPath.value }}" target="_blank" rel="noopener noreferrer">{{ form.uploadPath.value | default_if_none:'' }}</a>
							</td>
							<td class="text-center">
								<div class="form-check">
									<input type="checkbox" class="form-check-input" style="display:none" data-id-format="McdDtuploadid-%d-uploadPath-clear_id" data-name-format="McdDtuploadid-%d-uploadPath-clear" name="McdDtuploadid-0-uploadPath-clear" id="McdDtuploadid-0-uploadPath-clear_id">
								</div>
							</td>
							<td>
								<div id="div" class="input-group">
									<label class="input-group-btn">
										<span class="btn btn-outline-primary btn-mb">
											選択
											<input type="file" style="display:none" class="uploadPath" data-id-format="id_McdDtuploadid-%d-uploadPath" data-name-format="McdDtuploadid-%d-uploadPath"
											name="McdDtuploadid-0-uploadPath" id="id_McdDtuploadid-0-uploadPath" accept="image/*">
										</span>
									</label>
									<input type="text" class="form-control" readonly="">
								</div>
							</td>
							<td>
								<div class="form-check">
									<input type="checkbox" style="display:none" class="form-check-input" data-id-format="id_McdDtuploadid-%d-is_Deleted" data-name-format="McdDtuploadid-%d-is_Deleted" name="McdDtuploadid-0-is_Deleted" id="id_McdDtuploadid-0-is_Deleted">
								</div>
							</td>
							<td>
								<span class="delfile"><button type="button" class="btn btn-outline-danger btn-sm">削除</button></span>
							</td>
							{% if form.id.value %}
							<input type="hidden" data-id-format="id_McdDtuploadid-%d-id" data-name-format="McdDtuploadid-%d-id" id="id_McdDtuploadid-0-id" name="McdDtuploadid-0-id"  value="{{ form.id.value }}">
							<input type="hidden" data-id-format="id_McdDtuploadid-%d-McdDtuploadid" data-name-format="McdDtuploadid-%d-McdDtuploadid" name="McdDtuploadid-0-McdDtuploadid" id="id_McdDtuploadid-0-McdDtuploadid" value="{{ form.McdDtuploadid.value }}">
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block extrajs %}
<!-- addinputarea -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.add-input-area@4.11.0/dist/jquery.add-input-area.min.js" integrity="sha256-yOwGvcRp3I8/XWkeARhJkgdfLREQygbFA5W2bUpM2FY=" crossorigin="anonymous"></script>
<script>
	$(document).on('change', ':file', function() {
		var input = $(this),
		numFiles = input.get(0).files ? input.get(0).files.length : 1,
		label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
		input.parent().parent().next(':text').val(label);
	});
</script>
{% load static %}
<script src="{% static '\js\commamerchandise.js' %}" charset="UTF-8"></script>
<script src="{% static '\js\inputareamcd.js' %}" charset="UTF-8"></script>
<script src="{% static '\js\tab.js' %}" charset="UTF-8"></script>
<script src="{% static '\js\enter.js' %}" charset="UTF-8"></script>
{% endblock %}
