{% extends 'crud/base.html' %}
{% block content %}
                        <form method="post" id="form" enctype="multipart/form-data">
                        {% csrf_token %}
                            <div class="fds-page-table__main">
                                <div class="fds-breadcrumb">
                                    <div class="fds-breadcrumb__item">
                                        <a href="{% url 'myapp:index' %}" class="fds-breadcrumb__link">
                                            HOME
                                        </a>
                                    </div>
                                    <div class="fds-breadcrumb__item">
                                        <a href="{% url 'myapp:merchandiselist' %}" class="fds-breadcrumb__link">
                                            商品一覧・検索
                                        </a>
                                    </div>
                                    <div class="fds-breadcrumb__item">
                                        <span class="fds-breadcrumb__link">
                                            商品編集
                                        </span>
                                    </div>
                                </div>
                                <div class="fds-page-table__title-box">
                                    <div class="fds-page-table__title">
                                        商品編集
                                    </div>
                                    <div class="fds-page-table__search-form">
                                        <button type="button" class="fds-btn fds-btn--basic" onclick="location.href='{% url 'myapp:merchandiselist' %}'" style="width: 100px">
                                            キャンセル
                                        </button>
                                        <button type="submit" class="fds-btn fds-btn--primary" style="width: 100px">
                                            保存
                                        </button>
                                    </div>
                                </div>
                                <div class="fds-panel fds-panel--plain" style="width: 100%">
                                    <div class="wrap-tab">
                                        <ul class="fds-tabs" id="js-tab">
                                            <li class="fds-tabs__item fds-tabs__item--active">基本情報</li>
                                            <li class="fds-tabs__item">カラー</li>
                                            <li class="fds-tabs__item">サイズ</li>
                                            <li class="fds-tabs__item">画像添付</li>
                                            <li class="fds-tabs__item">画像表示</li>
                                        </ul>
                                        <div class="tab-contents-item active">
                                            <div class="fds-page-detail__main">
                                                <div class="fds-form-label fds-form-label--horizontal">
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 商品コード -->
                                                        <label class="fds-label-input">コード:</label>
                                                        <input type="text" class="fds-form-input" placeholder=""  name="McdCode" id="id_McdCode" value={{ object.McdCode }} readonly>
                                                        {% if form.errors.McdCode %}
                                                        {% for error in form.errors.McdCode %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 扱い区分 -->
                                                        <div class="fds-page-input-select">
                                                            <label class="fds-label-input">扱区分：</label>
                                                            <div class="fds-select-container">
                                                                <select class="fds-select fds-form-input fds-form-input--medium" name="McdTreatmentCode" id="id_McdTreatmentCode">
                                                                    {% for data in form.McdTreatmentCode %}
                                                                    {{ data }}
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        {% if form.errors.McdTreatmentCode %}
                                                        {% for error in form.errors.McdTreatmentCode %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}   
                                                    </div>
                                                </div>
                                                <div class="fds-divider fds-divider--dark2"></div>
                                                <div class="fds-form-label fds-form-label--horizontal">
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 本品番 -->
                                                        <label class="fds-label-input">本品番:</label>
                                                        <input type="text" class="fds-form-input" placeholder=""  name="McdPartNumber" id="id_McdPartNumber" value="{{ object.McdPartNumber }}">
                                                        {% if form.errors.McdPartNumber %}
                                                        {% for error in form.errors.McdPartNumber %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="fds-form-input-message" style="width:25%;">
                                                        <!-- 担当者 -->
                                                        <div class="fds-page-input-select">
                                                            <label class="fds-label-input">担当者：</label>
                                                            <div class="fds-select-container">
                                                                <select class="fds-select fds-form-input fds-form-input--medium" name="McdManagerCode" id="id_McdManagerCode">
                                                                    {% for data in form.McdManagerCode %}
                                                                    {{ data }}
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        {% if form.errors.McdManagerCode %}
                                                        {% for error in form.errors.McdManagerCode %}
                                                            <div class="fds-text fds-form--helper-message fds-form--helper-massage-with-icon fds-form--helper-massage-with-icon__warn" >{{ error }}</div>
                                                        {% endfor %}
                                                        {% endif %}   
                                                    </div>
                                                </div>
                                                {% include "crud/merchandise/update/merchandisetableupdate.html" %}
                                            </div>
                                        </div>
                                        {% include "crud/merchandise/update/merchandisecolorupdate.html" %}
                                        {% include "crud/merchandise/update/merchandisesizeupdate.html" %}
                                        {% include "crud/merchandise/update/merchandisefileupdate.html" %}
                                        {% include "crud/merchandise/update/merchandisefiledisplay.html" %}
                                    </div>
                                </div>
                            </div>
                        </form>
{% endblock %}
